.app-projectteam-list-item {
    background: #fff;
    width: 100%;
    height: 100%;
    font-size: 13px;
    .app-projectteam-list-item_top{
        display: flex;
        align-items: center;
        .account_part {
            flex: 3;
            display: flex;
            justify-content: flex-end;
            .ion {
                margin: auto;
                color: #979292;
            }
        }
    }
    .account_part_item {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background: red;
        line-height: 25px;
        text-align: center;
        color: #fff;
        margin: 2px;
    }
}