<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.report.mapper.IbzReportRoleConfigMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="IbzReportRoleConfigResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`IBZ_REPORT_ROLE_CONFIGID`, t1.`IBZ_REPORT_ROLE_CONFIGNAME`, t1.`REPORT_ROLE`, t1.`TYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_REPORT_ROLE_CONFIG` t1  ) t1 where ibz_report_role_configid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="IbzReportRoleConfigResultMap" type="cn.ibizlab.pms.core.report.domain.IbzReportRoleConfig" autoMapping="true">
		<id property="ibzreportroleconfigid" column="ibz_report_role_configid" /><!--主键字段映射-->
		<result property="ibzreportroleconfigname" column="ibz_report_role_configname" />
		<result property="reportRole" column="report_role" />


    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.report.filter.IbzReportRoleConfigSearchContext"  resultMap="IbzReportRoleConfigResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`IBZ_REPORT_ROLE_CONFIGID`, t1.`IBZ_REPORT_ROLE_CONFIGNAME`, t1.`REPORT_ROLE`, t1.`TYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_REPORT_ROLE_CONFIG` t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`IBZ_REPORT_ROLE_CONFIGID`, t1.`IBZ_REPORT_ROLE_CONFIGNAME`, t1.`REPORT_ROLE`, t1.`TYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_REPORT_ROLE_CONFIG` t1  
			]]>
    </sql>
</mapper>

