<i-form :model="this.data" class='app-form' ref='form'  id='project_main' style="">
    <input style="display:none;" />
    <row >
            
<i-col v-show="detailsModel.group1.visible" :style="{}"  :sm="{ span: 23, offset: 0 }" :md="{ span: 23, offset: 0 }" :lg="{ span: 23, offset: 0 }" :xl="{ span: 23, offset: 0 }">
    <app-form-group :model="detailsModel.group1" layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.group1.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.project.main_form.details.group1')" :isShowCaption="false" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <app-form-group-data-panel slot="dataInfoPanel" :model="detailsModel.group1" :data="data" :context="context" :viewparams="viewparams"/>
    <row>
        <i-col v-show="detailsModel.grouppanel2.visible" :style="{}"  :sm="{ span: 16, offset: 0 }" :md="{ span: 16, offset: 0 }" :lg="{ span: 16, offset: 0 }" :xl="{ span: 16, offset: 0 }">
    <app-form-group :model="detailsModel.grouppanel2" layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.grouppanel2.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.project.main_form.details.grouppanel2')" :isShowCaption="true" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <app-form-group-data-panel slot="dataInfoPanel" :model="detailsModel.grouppanel2" :data="data" :context="context" :viewparams="viewparams"/>
    <row>
        <i-col v-show="detailsModel.name.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='name' :itemRules="this.rules.name" class='' :caption="$t('entities.project.main_form.details.name')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.name.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.name"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.name.disabled" type='text'  style=""></input-box>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.code.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='code' :itemRules="this.rules.code" class='' :caption="$t('entities.project.main_form.details.code')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.code.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.code"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.code.disabled" type='text'  style=""></input-box>
</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>
<i-col v-show="detailsModel.formitemex1.visible" :style="{}"  :sm="{ span: 16, offset: 0 }" :md="{ span: 16, offset: 0 }" :lg="{ span: 16, offset: 0 }" :xl="{ span: 16, offset: 0 }">
    <app-form-item name='formitemex1' :itemRules="this.rules.formitemex1" class='' :caption="$t('entities.project.main_form.details.formitemex1')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitemex1.error" :isEmptyCaption="false" labelPos="LEFT">
    <app-range-editor v-model="data.formitemex1" :activeData="data" :disabled="detailsModel.formitemex1.disabled" name="formitemex1" editorType="DATEPICKEREX_NOTIME" format="YYYY-MM-DD" :refFormItem="['begin','end']" @formitemvaluechange="onFormItemValueChange($event)" style=""></app-range-editor>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.period.visible" :style="{}"  :sm="{ span: 4, offset: 0 }" :md="{ span: 4, offset: 0 }" :lg="{ span: 4, offset: 0 }" :xl="{ span: 4, offset: 0 }">
    <app-form-item name='period' :itemRules="this.rules.period" class='' :caption="$t('entities.project.main_form.details.period')" uiStyle="DEFAULT" :labelWidth="1" :isShowCaption="true" :error="detailsModel.period.error" :isEmptyCaption="true" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.period"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.period.disabled"
    valueType="string"
    tag='Zt__delta'
    codelistType='STATIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.grouppanel1.visible" :style="{}"  :sm="{ span: 16, offset: 0 }" :md="{ span: 16, offset: 0 }" :lg="{ span: 16, offset: 0 }" :xl="{ span: 16, offset: 0 }">
    <app-form-group :model="detailsModel.grouppanel1" layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.grouppanel1.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.project.main_form.details.grouppanel1')" :isShowCaption="false" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <app-form-group-data-panel slot="dataInfoPanel" :model="detailsModel.grouppanel1" :data="data" :context="context" :viewparams="viewparams"/>
    <row>
        <i-col v-show="detailsModel.days.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='days' :itemRules="this.rules.days" class='' :caption="$t('entities.project.main_form.details.days')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.days.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.days"  @enter="onEnter($event)"   unit="天"  :disabled="detailsModel.days.disabled" type='number'  style=""></input-box>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.team.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='team' :itemRules="this.rules.team" class='' :caption="$t('entities.project.main_form.details.team')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.team.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.team"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.team.disabled" type='text'  style=""></input-box>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.type.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='type' :itemRules="this.rules.type" class='' :caption="$t('entities.project.main_form.details.type')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.type.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.type"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.type.disabled"
    valueType="string"
    tag='Project__type'
    codelistType='STATIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.formitemex2.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <comb-form-item name="srfarray" :value="data.srfarray" :formItems="[{ name: '关联产品集合', prop: 'products', unique: true },{ name: '关联产品平台集合', prop: 'branchs', hidden: true },{ name: '关联产品产品计划', prop: 'plans' },]" @formitemvaluechange="onFormItemValueChange($event)">
   <template slot="products" slot-scope="{item}">
      <div style="display: flex;">
         <dropdown-list-dynamic 
            v-model="item.products" 
            :data="{...data, ...item}" 
            :context="context"
            :viewparams="viewparams"
            :localParam="{srfarray: '%srfarray%',products: '%products%',branchs: '%branchs%',plans: '%plans%',}"
            :disabled="detailsModel.formitemex2.disabled"  
            tag='Product' 
            codelistType='DYNAMIC'
            placeholder="" style="flex-grow: 1;">
         </dropdown-list-dynamic>
         <dropdown-list-dynamic 
   v-model="item.branchs" 
   :data="{...data, ...item}" 
   :context="context"
   :viewparams="viewparams"
   :localParam="{srfarray: '%srfarray%',products: '%products%',branchs: '%branchs%',plans: '%plans%',}"
   :disabled="detailsModel.formitemex2.disabled"  
   tag='ProductBranch' 
   codelistType='DYNAMIC'
   placeholder="" style="width: 100px;flex-shrink: 0;margin-left: 5px;">
</dropdown-list-dynamic>

      </div>
   </template>
   <template slot="plans" slot-scope="{item}">
      <div style="display: flex;">
         <dropdown-list-dynamic 
            v-model="item.plans" 
            :data="{...data, ...item}" 
            :context="context"
            :viewparams="viewparams"
            :localParam="{srfarray: '%srfarray%',products: '%products%',branchs: '%branchs%',plans: '%plans%',}"
            :disabled="detailsModel.formitemex2.disabled"  
            tag='ProductPlan' 
            codelistType='DYNAMIC'
            placeholder="" style="flex-grow: 1;">
         </dropdown-list-dynamic>
      </div>
   </template>
</comb-form-item>


</i-col>
    
    </row>
</app-form-group>

</i-col>
<i-col v-show="detailsModel.desc.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='desc' :itemRules="this.rules.desc" class='' :caption="$t('entities.project.main_form.details.desc')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.desc.error" :isEmptyCaption="false" labelPos="LEFT">
    <app-rich-text-editor :formState="formState" :value="data.desc" @change="(val) =>{this.data.desc =val}" :disabled="detailsModel.desc.disabled" :data="JSON.stringify(this.data)"  name="desc" :uploadparams='{objecttype:"project",version:"editor"}' :exportparams='{objecttype:"project",version:"editor"}'  style=""></app-rich-text-editor>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.acl.visible" :style="{}"  :sm="{ span: 16, offset: 0 }" :md="{ span: 16, offset: 0 }" :lg="{ span: 16, offset: 0 }" :xl="{ span: 16, offset: 0 }">
    <app-form-item name='acl' :itemRules="this.rules.acl" class='' :caption="$t('entities.project.main_form.details.acl')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.acl.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.acl"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.acl.disabled"
    valueType="string"
    tag='Product__acl'
    codelistType='STATIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


    </row>
</i-form>