<i-form :model="this.data" class='app-form' ref='form'  id='dept_main' style="">
    <input style="display:none;" />
    <row >
            
<i-col class="form-layout-container" v-show="detailsModel.group1.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-group :model="detailsModel.group1" layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.group1.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.dept.main_form.details.group1')" :isShowCaption="false" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <app-form-group-data-panel slot="dataInfoPanel" :model="detailsModel.group1" :data="data" :context="context" :viewparams="viewparams"/>
    <row>
        <i-col class="form-layout-container" v-show="detailsModel.name.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='name' :itemRules="this.rules.name" class='' :caption="$t('entities.dept.main_form.details.name')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.name.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.name"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.name.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.parentname.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='parentname' :itemRules="this.rules.parentname" class='' :caption="$t('entities.dept.main_form.details.parentname')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.parentname.error" :isEmptyCaption="false" labelPos="LEFT">
    
<app-picker 
  :formState="formState"
  :data="data"
  :context="context"
  :viewparams="viewparams"
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.parentname.disabled"
  name='parentname'
  deMajorField='name'
  deKeyField='dept'
  :service="service"
  :acParams="{ serviceName: 'DeptService', interfaceName: 'FetchDefault'}"
  valueitem='parent' 
  :value="data.parentname"
  :pickupView="{ viewname: 'dept-pickup-view', title: $t('entities.dept.views.pickupview.title'), deResParameters: [], parameters: [{ pathName: 'depts', parameterName: 'dept' }, { pathName: 'pickupview', parameterName: 'pickupview' } ], placement:'' }"
  style=""  
  @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.manager.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='manager' :itemRules="this.rules.manager" class='' :caption="$t('entities.dept.main_form.details.manager')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.manager.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.manager"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.manager.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


    </row>
</i-form>