<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="ibzdaily_createdailyeditform"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
            <i-col
    class="form-layout-container"
    v-show="detailsModel.group1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.group1"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.group1.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.ibzdaily.createdailyeditform_form.details.group1')"
    :isShowCaption="false"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.group1"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
            
    </row>
</app-form-group>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.reportto.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    :xl="{ span: 12, offset: 0 }"
>
    <app-form-item
    name="reportto"
    :itemRules="this.rules().reportto"
    class=""

    :caption="$t('entities.ibzdaily.createdailyeditform_form.details.reportto')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.reportto.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list 
    v-model="data.reportto"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.reportto.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.mailto.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    :xl="{ span: 12, offset: 0 }"
>
    <app-form-item
    name="mailto"
    :itemRules="this.rules().mailto"
    class=""

    :caption="$t('entities.ibzdaily.createdailyeditform_form.details.mailto')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.mailto.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.mailto"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.mailto.disabled"
  tag='UserRealName' 
  codelistType='DYNAMIC' 
  valueSeparator=","
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.todaytask.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="todaytask"
    :itemRules="this.rules().todaytask"
    class=""

    :caption="$t('entities.ibzdaily.createdailyeditform_form.details.todaytask')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.todaytask.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.todaytask"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ DATE:"%date%" }' 
  :localParam ='{ date:"%date%" }' 
  :disabled="detailsModel.todaytask.disabled"
  tag='MyCompleteTask' 
  codelistType='DYNAMIC' 
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.worktoday.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="worktoday"
    :itemRules="this.rules().worktoday"
    class=""

    :caption="$t('entities.ibzdaily.createdailyeditform_form.details.worktoday')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.worktoday.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-rich-text-editor
    :formState="formState"
    :value="data.worktoday"
    @change="(val) =>{this.data.worktoday =val}"
    @formitemvaluechange="onFormItemValueChange($event)"
    :disabled="detailsModel.worktoday.disabled"
    :data="JSON.stringify(this.data)"
    name="worktoday"
    :context="context"
    :viewparams="viewparams"
    :uploadparams='{objecttype:"daily",version:"editor"}'
    :exportparams='{objecttype:"daily",version:"editor"}'
    
    style=""
></app-rich-text-editor>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.tomorrowplanstask.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="tomorrowplanstask"
    :itemRules="this.rules().tomorrowplanstask"
    class=""

    :caption="$t('entities.ibzdaily.createdailyeditform_form.details.tomorrowplanstask')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.tomorrowplanstask.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.tomorrowplanstask"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.tomorrowplanstask.disabled"
  tag='MyPlanTask' 
  codelistType='DYNAMIC' 
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.planstomorrow.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="planstomorrow"
    :itemRules="this.rules().planstomorrow"
    class=""

    :caption="$t('entities.ibzdaily.createdailyeditform_form.details.planstomorrow')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.planstomorrow.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-rich-text-editor
    :formState="formState"
    :value="data.planstomorrow"
    @change="(val) =>{this.data.planstomorrow =val}"
    @formitemvaluechange="onFormItemValueChange($event)"
    :disabled="detailsModel.planstomorrow.disabled"
    :data="JSON.stringify(this.data)"
    name="planstomorrow"
    :context="context"
    :viewparams="viewparams"
    :uploadparams='{objecttype:"daily",version:"editor"}'
    :exportparams='{objecttype:"daily",version:"editor"}'
    
    style=""
></app-rich-text-editor>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.comment.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="comment"
    :itemRules="this.rules().comment"
    class=""

    :caption="$t('entities.ibzdaily.createdailyeditform_form.details.comment')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.comment.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-rich-text-editor
    :formState="formState"
    :value="data.comment"
    @change="(val) =>{this.data.comment =val}"
    @formitemvaluechange="onFormItemValueChange($event)"
    :disabled="detailsModel.comment.disabled"
    :data="JSON.stringify(this.data)"
    name="comment"
    :context="context"
    :viewparams="viewparams"
    :uploadparams='{objecttype:"daily",version:"editor"}'
    :exportparams='{objecttype:"daily",version:"editor"}'
    
    style=""
></app-rich-text-editor>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.files.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="files"
    :itemRules="this.rules().files"
    class=""

    :caption="$t('entities.ibzdaily.createdailyeditform_form.details.files')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.files.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-file-upload
    :formState="formState"
    :ignorefieldvaluechange="ignorefieldvaluechange"
    @formitemvaluechange="onFormItemValueChange($event)"
    :data="JSON.stringify(this.data)"
    name="files"
    :value="data.files"
    :disabled="detailsModel.files.disabled"
    :uploadparams='{objecttype:"daily",objectid:"0",version:"1"}'
    :exportparams='{objecttype:"daily",objectid:"0",version:"1"}'
    style="overflow: auto;"
></app-file-upload>
</app-form-item>

</i-col>


    </row>
</i-form>
