<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
        <el-table v-if="isDisplay === true"
            :border="isDragendCol"
            :highlight-current-row ="isSingleSelect"
            :row-class-name="getRowClassName.bind(_self)"
            :cell-class-name="getCellClassName.bind(_self)"
            size="mini"
            stripe
            :height="tableHeight"
            @row-click="rowClick($event)"  
            @select-all="selectAll($event)"  
            @select="select.apply(_self, arguments)"  
            @row-class-name="onRowClassName($event)"  
            @row-dblclick="rowDBLClick($event)"  
            ref="multipleTable" :data="items" :show-header="!isHideHeader"
        >
            <template slot="empty">
                {{$t('entities.sysupdatelog.lookmain_grid.nodata')}} 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type="selection" :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('sys_update_logname')">
                <el-table-column show-overflow-tooltip :prop="'sys_update_logname'" :label="$t('entities.sysupdatelog.lookmain_grid.columns.sys_update_logname')" :min-width="150"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.sysupdatelog.lookmain_grid.columns.sys_update_logname')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <a v-show="row.LookDetail.visible" :disabled="row.LookDetail.disabled" :style="{'display': 'block'}" @click="uiAction(row, 'LookDetail', $event)">
                        <span>{{row.sys_update_logname}}</span>
                        </a>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('update')">
                <el-table-column show-overflow-tooltip :prop="'update'" :label="$t('entities.sysupdatelog.lookmain_grid.columns.update')" :width="100"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.sysupdatelog.lookmain_grid.columns.update')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <app-format-data format="YYYY-MM-DD" :data="row.update"></app-format-data>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
        </el-table>
    </i-form>
</div>