<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
    <el-table v-if="isDisplay === true"
        :border="isDragendCol"
        :highlight-current-row ="isSingleSelect"
        :row-class-name="getRowClassName.bind(_self)"
        :cell-class-name="getCellClassName.bind(_self)"
        size="mini"
        stripe
        :height="tableHeight"
        @row-click="rowClick($event)"  
        @select-all="selectAll($event)"  
        @select="select($event)"  
        @row-class-name="onRowClassName($event)"  
        @row-dblclick="rowDBLClick($event)"  
        ref='multipleTable' :data="items" :show-header="!isHideHeader">
            <template slot="empty">
                无数据 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type='selection' :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('id')">
                <el-table-column show-overflow-tooltip :prop="'id'" :label="$t('entities.taskestimate.mainedit_grid.columns.id')" :width="100"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.taskestimate.mainedit_grid.columns.id')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <template >
            <app-span name='id' editorType="SPAN" :value="row.id" dataType="ACID" precision="0" ></app-span>
                        </template>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('dates')">
                <el-table-column show-overflow-tooltip :prop="'dates'" :label="$t('entities.taskestimate.mainedit_grid.columns.dates')" :width="100"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.taskestimate.mainedit_grid.columns.dates')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <app-format-data format="YYYY-MM-DD" :data="row.dates"></app-format-data>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('consumed')">
                <el-table-column show-overflow-tooltip :prop="'consumed'" :label="$t('entities.taskestimate.mainedit_grid.columns.consumed')" :width="100"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.taskestimate.mainedit_grid.columns.consumed')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <app-format-data dataType="FLOAT" precision="0" :data="row.consumed"></app-format-data>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('left')">
                <el-table-column show-overflow-tooltip :prop="'left'" :label="$t('entities.taskestimate.mainedit_grid.columns.left')" :width="100"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.taskestimate.mainedit_grid.columns.left')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <app-format-data dataType="FLOAT" precision="0" :data="row.left"></app-format-data>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('work')">
                <el-table-column show-overflow-tooltip :prop="'work'" :label="$t('entities.taskestimate.mainedit_grid.columns.work')" :min-width="100"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.taskestimate.mainedit_grid.columns.work')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.work}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('uagridcolumn1')">
                <el-table-column :column-key="'uagridcolumn1'" :label="$t('entities.taskestimate.mainedit_grid.columns.uagridcolumn1')" :width="100"  :align="'center'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.taskestimate.mainedit_grid.columns.uagridcolumn1')}}
                      </span>
                    </template>
                    <template slot-scope="scope">
                        <div style="text-align: center;">
                          <a v-show="scope.row.Edit.visabled" :disabled="scope.row.Edit.disabled" @click="uiAction(scope.row, 'Edit', $event)" :title="$t('entities.taskestimate.mainedit_grid.uiactions.taskestimate_edit')">
                            <i class='fa fa-edit'></i>
                            
                          </a>
                          <divider v-show="scope.row.Remove.visabled" type='vertical'></divider>
                          <a v-show="scope.row.Remove.visabled" :disabled="scope.row.Remove.disabled" @click="uiAction(scope.row, 'Remove', $event)" :title="$t('entities.taskestimate.mainedit_grid.uiactions.remove')">
                            <i class='fa fa-remove'></i>
                            
                          </a>
                        </div>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
    </el-table>
  </i-form>
</div>