.anchor {
	.anchor-list {
		padding-right: 10px;
		position: fixed;
		right: 0;
		top: 50%;
		margin-top: -50%;
		text-align: center;
		.anchor-item {
			position: relative;
			margin-bottom: 10px;
		}
	}
	.main-list {
		.anchor-point {
			width: 100%;
			height: 30px;
			line-height: 30px;
			padding-left: 10px;
			color: #8a8a8a;
			background-color: #e8e8e8;
		}
		.detail {
			width: 100%;
			height: 40px;
			border-bottom: 1px solid #e8e8e8;
			padding-left: 10px;
			line-height: 40px;
			font-size: 14px;
		}
	}
}
