.app-mob-rich-text-editor{
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    display: flex;
    .rich-text-editor-info{
        ol {
            list-style: decimal;
        }
        ul{
            list-style: inside;
        }
    }

}