.app-select-tree-list{
    font-size: 14px;
    .app-select-tree-list-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: solid #efefef .2px;
        align-items: center;
        .header {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .delete {
            color: #f85b46;
            
        }
        .index_text {
            width: 30px;
            height: 30px;
            background: #ccc;
            margin-right: 10px;
            text-align: center;
            line-height: 30px;
            border-radius: 4px;
        }
    }
}