.app-select-tree-list {
  margin-top: 20px;
  font-size: 14px;
  .app-select-tree-list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: solid #efefef 0.2px;
    align-items: center;
    .app-select-tree-list-item-header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .delete {
      color: #f85b46;
    }
    .index_text {
      width: 30px;
      height: 30px;
      background: #ccc;
      margin-right: 10px;
      text-align: center;
      line-height: 30px;
      border-radius: 4px;
    }
  }
}
.ibiz_sheet_tree {
  height: 60vh;
  .header {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 20px;
    background: #fff;
  }
}
