<div>
    <div v-if="filterFields.length > 0" class="filter-group">
        <filter-tree :datas="filterItems" :fields="filterFields">
            <template slot-scope="{ data }">
                <template v-if="Object.is(data.editor, 'ideq')">
                    <input-box 
  v-model="data.ideq"  
  @enter="onEnter($event)"  
  
  :disabled="detailsModel.ideq.disabled" 
  type='number' 
   
  style="">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'idnoteq')">
                    <input-box 
  v-model="data.idnoteq"  
  @enter="onEnter($event)"  
  
  :disabled="detailsModel.idnoteq.disabled" 
  type='number' 
   
  style="">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'namelike')">
                    <input-box 
    v-model="data.namelike"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.namelike.disabled" 
    type='text' 
    style="width:100px;">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'typeeq')">
                    
<dropdown-list 
    v-model="data.typeeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.typeeq.disabled"
    valueType="string"
    tag="Project__type"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'statuseq')">
                    
<dropdown-list 
    v-model="data.statuseq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.statuseq.disabled"
    valueType="string"
    tag="Project__status"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'statusnoteq')">
                    
<dropdown-list 
    v-model="data.statusnoteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.statusnoteq.disabled"
    valueType="string"
    tag="Project__status"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'accounteq')">
                    
<dropdown-list 
    v-model="data.accounteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.accounteq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'acleq')">
                    
<dropdown-list 
    v-model="data.acleq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.acleq.disabled"
    valueType="string"
    tag="Project__acl"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'depteq')">
                    
<dropdown-list 
    v-model="data.depteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.depteq.disabled"
    valueType="string"
    tag="RealDept"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'iscateq')">
                    
<dropdown-list 
    v-model="data.iscateq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.iscateq.disabled"
    valueType="string"
    tag="YesNo"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'managememberseq')">
                    
<dropdown-list 
    v-model="data.managememberseq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.managememberseq.disabled"
    valueType="string"
    tag="ProjectTeam"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'parentnameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.parentnameeq.disabled"
    name="parentnameeq"
    deMajorField="name"
    deKeyField="project"
    :service="service"
    :acParams="{ serviceName: 'ProjectService', interfaceName: 'FetchDefault'}"
    valueitem=""
    :value="data.parentnameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'parentnamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.parentnamelike.disabled"
    name="parentnamelike"
    deMajorField="name"
    deKeyField="project"
    :service="service"
    :acParams="{ serviceName: 'ProjectService', interfaceName: 'FetchDefault'}"
    valueitem=""
    :value="data.parentnamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'periodeq')">
                    
<dropdown-list 
    v-model="data.periodeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.periodeq.disabled"
    valueType="string"
    tag="Zt__delta"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'pmeq')">
                    
<dropdown-list 
    v-model="data.pmeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.pmeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'poeq')">
                    
<dropdown-list 
    v-model="data.poeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.poeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'prieq')">
                    
<dropdown-list 
    v-model="data.prieq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.prieq.disabled"
    valueType="string"
    tag="Project__pri"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'qdeq')">
                    
<dropdown-list 
    v-model="data.qdeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.qdeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'rdeq')">
                    
<dropdown-list 
    v-model="data.rdeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.rdeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'statgeeq')">
                    
<dropdown-list 
    v-model="data.statgeeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.statgeeq.disabled"
    valueType="string"
    tag="Project__statge"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
            </template>
        </filter-tree>
    </div>
    <div class="search-bar-footer">
        <div class="search-bar-action">
            <el-select size="small" v-if="historyItems.length > 0" v-model="selectItem" @change="onFilterChange.apply(_self, arguments)">
                <el-option v-for="item in historyItems" :key="item.value" :label="item.name" :value="item.value"></el-option>
            </el-select>
            <i-button type="primary" @click="onSearch.apply(_self, arguments)">{{ $t('app.searchButton.search') }}</i-button>
            <i-button @click="onReset.apply(_self, arguments)">{{ $t('app.searchButton.reset') }}</i-button>
            <Poptip
                ref="propip"
                trigger="hover"
                transfer
                placement="top-end"
                :title="$t('app.searchForm.custom')"
                :width="250"
                @on-popper-show="openPoper.apply(_self, arguments)"
            >
                <i-button><i class="fa fa-floppy-o" aria-hidden="true"></i></i-button>
                <template slot="content">
                    <div>
                        <i-input v-model="saveItemName" :placeholder="$t('app.searchForm.title')"></i-input>
                        <div class="save-action">
                            <i-button @click="onCancel.apply(_self, arguments)">{{ $t('app.commonWords.cancel') }}</i-button>
                            <i-button type="primary" @click="onOk.apply(_self, arguments)">{{ $t('app.commonWords.save') }}</i-button>
                        </div>
                    </div>
                </template>
            </Poptip>
        </div>
    </div>
</div>