// this is less
.srf_empty_class {
    width: 100%;
    height: 100%;
}
.title-label{
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon {
      margin-right: 5px;
    }
    img{
      width: 22px;
      height: 22px;
      margin-right: 5px;
    }
}








// this is less
.srf_empty_class {
    width: 100%;
    height: 100%;
}


.toolbar_group_right{
  position: absolute;
  right: 20px;
  z-index: 999;
  width: 40%;
}
.toolbar_group_left{
  position: absolute;
  left: 20px;
  z-index: 999;
  width: 40%;
}
ion-backdrop {
  opacity: 0.3;
}
.ionlist{
  border-radius: @toolbar-group-border-radius;
}
.group_ion-icon{
  margin-right: 10px;
}
.footer_group {
  position: absolute;
  z-index: 99;
  bottom: 67px;
  width: 40%;
  right: 20px;
}
.app-quick-toolbar{
  text-align: center;
}








