.app-round-list {
    display: flex;
    margin: 0 0.7em 0 0.7em;
    padding: 0.2em 0.2em;
    .list-list-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #26a2ff;
    line-height: 60px;
    margin: 0 7px 0 0;
    color: #ffffff;
  }
  
  .list-list-text {
    width: 80%;
    display: flex;
    border-bottom: solid 0.0625em #cccccc;
    justify-content: space-between;
  }
  .list-list-info {
    text-align: left;
    padding: 0.3em 0;
  }
  .list-title {
    font-size: 1.2em;
    color: #666;
    padding: 10px 0 10px 0;
    margin: 0;
  }
  .list-info {
    color: #939393cc;
    font-size: 0.93em;
    padding: 0;
    margin: 0;
  }
  .list-time {
    color: #cccccc;
    font-size: 0.8em;
  }
  .list-num {
    width: 25px;
    background-color: #99dcfa;
    border-radius: 50px;
    color: white;
    font-size: 0.8em;
    overflow: auto;
  }
  }
  