<div>
    <div v-if="filterFields.length > 0" class="filter-group">
        <filter-tree :datas="filterItems" :fields="filterFields">
            <template slot-scope="{ data }">
                <template v-if="Object.is(data.editor, 'idnoteq')">
                    <input-box 
  v-model="data.idnoteq"  
  @enter="onEnter($event)"  
  
  :disabled="detailsModel.idnoteq.disabled" 
  type='number' 
   
  style="">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'namelike')">
                    <input-box 
    v-model="data.namelike"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.namelike.disabled" 
    type='text' 
    style="width:100px;">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'assigneddategteq')">
                    <date-picker type="datetime" :transfer="true" format="yyyy-MM-dd HH:mm:ss" placeholder="请选择时间..." :value="data.assigneddategteq" :disabled="detailsModel.assigneddategteq.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.assigneddategteq = val1 }"></date-picker>

                </template>
                <template v-if="Object.is(data.editor, 'assignedtoeq')">
                    
<dropdown-list 
    v-model="data.assignedtoeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.assignedtoeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'assignedtoin')">
                    
<dropdown-list 
    v-model="data.assignedtoin"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.assignedtoin.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'canceledbyeq')">
                    
<dropdown-list 
    v-model="data.canceledbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.canceledbyeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'closedbyeq')">
                    
<dropdown-list 
    v-model="data.closedbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.closedbyeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'closeddatelteq')">
                    <date-picker type="datetime" :transfer="true" format="yyyy-MM-dd HH:mm:ss" placeholder="请选择时间..." :value="data.closeddatelteq" :disabled="detailsModel.closeddatelteq.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.closeddatelteq = val1 }"></date-picker>

                </template>
                <template v-if="Object.is(data.editor, 'closedreasoneq')">
                    
<dropdown-list 
    v-model="data.closedreasoneq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.closedreasoneq.disabled"
    valueType="string"
    tag="Task__closed_reason"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'coloreq')">
                    
<dropdown-list 
    v-model="data.coloreq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.coloreq.disabled"
    valueType="string"
    tag="Task__color"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'eststartedgteq')">
                    <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.eststartedgteq" :disabled="detailsModel.eststartedgteq.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.eststartedgteq = val1 }"></date-picker>

                </template>
                <template v-if="Object.is(data.editor, 'eststartedlteq')">
                    <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.eststartedlteq" :disabled="detailsModel.eststartedlteq.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.eststartedlteq = val1 }"></date-picker>

                </template>
                <template v-if="Object.is(data.editor, 'finishedbyeq')">
                    
<dropdown-list 
    v-model="data.finishedbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.finishedbyeq.disabled"
    valueType="string"
    tag="UserRealName_Gird"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'finisheddatelteq')">
                    <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.finisheddatelteq" :disabled="detailsModel.finisheddatelteq.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.finisheddatelteq = val1 }"></date-picker>

                </template>
                <template v-if="Object.is(data.editor, 'frombugeq')">
                    
<dropdown-list 
    v-model="data.frombugeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.frombugeq.disabled"
    valueType="number"
    tag="AllBug"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'lasteditedbyeq')">
                    
<dropdown-list 
    v-model="data.lasteditedbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.lasteditedbyeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'modulenameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.modulenameeq.disabled"
    name="modulenameeq"
    deMajorField="name"
    deKeyField="projectmodule"
    :service="service"
    :acParams="{ serviceName: 'ProjectModuleService', interfaceName: 'FetchTaskModules'}"
    valueitem=""
    :value="data.modulenameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'mudulenamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.mudulenamelike.disabled"
    name="mudulenamelike"
    deMajorField="name"
    deKeyField="projectmodule"
    :service="service"
    :acParams="{ serviceName: 'ProjectModuleService', interfaceName: 'FetchTaskModules'}"
    valueitem=""
    :value="data.mudulenamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'openedbyeq')">
                    
<dropdown-list 
    v-model="data.openedbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.openedbyeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'parentnameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.parentnameeq.disabled"
    name="parentnameeq"
    deMajorField="name"
    deKeyField="task"
    :service="service"
    :acParams="{ serviceName: 'TaskService', interfaceName: 'FetchRootTask'}"
    valueitem=""
    :value="data.parentnameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'parentnamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.parentnamelike.disabled"
    name="parentnamelike"
    deMajorField="name"
    deKeyField="task"
    :service="service"
    :acParams="{ serviceName: 'TaskService', interfaceName: 'FetchRootTask'}"
    valueitem=""
    :value="data.parentnamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'pathlike')">
                    <input-box 
    v-model="data.pathlike"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.pathlike.disabled" 
    type='text' 
    style="">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'prieq')">
                    
<dropdown-list 
    v-model="data.prieq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.prieq.disabled"
    valueType="number"
    tag="Task__pri"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'priin')">
                    
<dropdown-list 
    v-model="data.priin"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.priin.disabled"
    valueType="number"
    tag="Task__pri"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'producteq')">
                    <input-box 
    v-model="data.producteq"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.producteq.disabled" 
    type='number' 
    style="">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'projectnameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.projectnameeq.disabled"
    name="projectnameeq"
    deMajorField="name"
    deKeyField="project"
    :service="service"
    :acParams="{ serviceName: 'ProjectService', interfaceName: 'FetchCurUser'}"
    valueitem=""
    :value="data.projectnameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'projectnamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.projectnamelike.disabled"
    name="projectnamelike"
    deMajorField="name"
    deKeyField="project"
    :service="service"
    :acParams="{ serviceName: 'ProjectService', interfaceName: 'FetchCurUser'}"
    valueitem=""
    :value="data.projectnamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'status1eq')">
                    
<dropdown-list 
    v-model="data.status1eq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.status1eq.disabled"
    valueType="string"
    tag="TaskStatusCK"
    codelistType="STATIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'storynameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.storynameeq.disabled"
    name="storynameeq"
    deMajorField="title"
    deKeyField="story"
    :service="service"
    :acParams="{ serviceName: 'StoryService', interfaceName: 'FetchTaskRelatedStory'}"
    valueitem=""
    :value="data.storynameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'storynamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.storynamelike.disabled"
    name="storynamelike"
    deMajorField="title"
    deKeyField="story"
    :service="service"
    :acParams="{ serviceName: 'StoryService', interfaceName: 'FetchTaskRelatedStory'}"
    valueitem=""
    :value="data.storynamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'tasktypeeq')">
                    
<dropdown-list 
    v-model="data.tasktypeeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.tasktypeeq.disabled"
    valueType="string"
    tag="Task__type"
    codelistType="STATIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'typeeq')">
                    
<dropdown-list 
    v-model="data.typeeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.typeeq.disabled"
    valueType="string"
    tag="Task__type"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
            </template>
        </filter-tree>
    </div>
    <div class="search-bar-footer">
        <div class="search-bar-action">
            <el-select size="small" v-if="historyItems.length > 0" v-model="selectItem" @change="onFilterChange.apply(_self, arguments)">
                <el-option v-for="item in historyItems" :key="item.value" :label="item.name" :value="item.value"></el-option>
            </el-select>
            <i-button type="primary" @click="onSearch.apply(_self, arguments)">{{ $t('app.searchButton.search') }}</i-button>
            <i-button @click="onReset.apply(_self, arguments)">{{ $t('app.searchButton.reset') }}</i-button>
            <Poptip
                ref="propip"
                trigger="hover"
                transfer
                placement="top-end"
                :title="$t('app.searchForm.custom')"
                :width="250"
                @on-popper-show="openPoper.apply(_self, arguments)"
            >
                <i-button><i class="fa fa-floppy-o" aria-hidden="true"></i></i-button>
                <template slot="content">
                    <div>
                        <i-input v-model="saveItemName" :placeholder="$t('app.searchForm.title')"></i-input>
                        <div class="save-action">
                            <i-button @click="onCancel.apply(_self, arguments)">{{ $t('app.commonWords.cancel') }}</i-button>
                            <i-button type="primary" @click="onOk.apply(_self, arguments)">{{ $t('app.commonWords.save') }}</i-button>
                        </div>
                    </div>
                </template>
            </Poptip>
        </div>
    </div>
</div>