.list02-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625em solid #f0e9e9;
  .list02-text {
    color: #756d6d;
    font-size: 1.1em;
  }
  i.list02-icon.ivu-icon.ivu-icon-ios-book {
    color: #26a2ff;
    padding-right: 0.2em;
  }
  i.list02-icon.ivu-icon.ivu-icon-ios-arrow-forward {
    color: #ccc;

    line-height: 1.4em;
  }
  .list02-icon {
    font-size: 1.5em;
    color: #26a2ff;
    padding: 0.2em 0.7em;
  }
  .split {
    border-top: 0.0625em solid #f0e9e9;
    margin-top: 1.5em;
  }
  label.text_list02 {
    position: relative;
    top: -0.4em;
  }
  .van-cell {
    padding: 6px 14px !important;
  }
}
