
.app-layoutpanel {
    height: 100%;
    > .app-layoutpanel-container {
        height: 100%;
    }
    .item-field{
        padding: 0 4px;
        display: flex;
        >.item-field-label{
            padding: 0 8px;
        }
    }
}