<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
        <el-table v-if="isDisplay === true"
            :default-sort="{ prop: minorSortPSDEF, order: Object.is(minorSortDir, 'ASC') ? 'ascending' : Object.is(minorSortDir, 'DESC') ? 'descending' : '' }"  
            @sort-change="onSortChange($event)"  
            :border="isDragendCol"
            :show-summary="true && items.length > 0"
            :summary-method="getSummaries"
            :highlight-current-row ="isSingleSelect"
            :row-class-name="getRowClassName.bind(_self)"
            :cell-class-name="getCellClassName.bind(_self)"
            size="mini"
            stripe
            :height="tableHeight"
            @row-click="rowClick($event)"  
            @select-all="selectAll($event)"  
            @select="select.apply(_self, arguments)"  
            @row-class-name="onRowClassName($event)"  
            @row-dblclick="rowDBLClick($event)"  
            ref="multipleTable" :data="items" :show-header="!isHideHeader"
        >
            <template slot="empty">
                {{$t('entities.companystats.companydynamicstats_grid.nodata')}} 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type="selection" :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('ztdate')">
                <el-table-column show-overflow-tooltip :prop="'ztdate'" :label="$t('entities.companystats.companydynamicstats_grid.columns.ztdate')" :min-width="150"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.companystats.companydynamicstats_grid.columns.ztdate')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <app-format-data format="YYYY-MM-DD" :data="row.ztdate"></app-format-data>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('logincnt')">
                <el-table-column show-overflow-tooltip :prop="'logincnt'" :label="$t('entities.companystats.companydynamicstats_grid.columns.logincnt')" :width="120"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.companystats.companydynamicstats_grid.columns.logincnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.logincnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('loghours')">
                <el-table-column show-overflow-tooltip :prop="'loghours'" :label="$t('entities.companystats.companydynamicstats_grid.columns.loghours')" :width="120"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.companystats.companydynamicstats_grid.columns.loghours')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.loghours}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('openedstorycnt')">
                <el-table-column show-overflow-tooltip :prop="'openedstorycnt'" :label="$t('entities.companystats.companydynamicstats_grid.columns.openedstorycnt')" :width="120"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.companystats.companydynamicstats_grid.columns.openedstorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.openedstorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('closedstorycnt')">
                <el-table-column show-overflow-tooltip :prop="'closedstorycnt'" :label="$t('entities.companystats.companydynamicstats_grid.columns.closedstorycnt')" :width="120"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.companystats.companydynamicstats_grid.columns.closedstorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.closedstorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('openedtaskcnt')">
                <el-table-column show-overflow-tooltip :prop="'openedtaskcnt'" :label="$t('entities.companystats.companydynamicstats_grid.columns.openedtaskcnt')" :width="120"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.companystats.companydynamicstats_grid.columns.openedtaskcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.openedtaskcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('finishedtaskcnt')">
                <el-table-column show-overflow-tooltip :prop="'finishedtaskcnt'" :label="$t('entities.companystats.companydynamicstats_grid.columns.finishedtaskcnt')" :width="120"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.companystats.companydynamicstats_grid.columns.finishedtaskcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.finishedtaskcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('openedbugcnt')">
                <el-table-column show-overflow-tooltip :prop="'openedbugcnt'" :label="$t('entities.companystats.companydynamicstats_grid.columns.openedbugcnt')" :width="120"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.companystats.companydynamicstats_grid.columns.openedbugcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.openedbugcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('resolvedbugcnt')">
                <el-table-column show-overflow-tooltip :prop="'resolvedbugcnt'" :label="$t('entities.companystats.companydynamicstats_grid.columns.resolvedbugcnt')" :width="120"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.companystats.companydynamicstats_grid.columns.resolvedbugcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.resolvedbugcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('dynamiccnt')">
                <el-table-column show-overflow-tooltip :prop="'dynamiccnt'" :label="$t('entities.companystats.companydynamicstats_grid.columns.dynamiccnt')" :width="120"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.companystats.companydynamicstats_grid.columns.dynamiccnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.dynamiccnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
        </el-table>
        <row class="grid-pagination" v-show="items.length > 0">
            <page class="pull-right" @on-change="pageOnChange($event)" 
                @on-page-size-change="onPageSizeChange($event)"
                :total="totalRecord"
                show-sizer :current="curPage" :page-size="limit"
                :page-size-opts="[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]" show-elevator show-total>
                <span>
                    <span class="page-column">
                        <poptip transfer-class-name="grid-column" transfer placement="top-start">
                            <i-button icon="md-menu">{{$t('app.gridpage.choicecolumns')}}</i-button>
                            <div slot="content">
                                <template v-for="col in allColumns">
                                    <div :key="col.name"><el-checkbox v-model="col.show" @change="onColChange()">{{$t(col.langtag)}}</el-checkbox></div>
                                </template>
                            </div>
                        </poptip>
                    </span>
                    <span class="page-button"><i-button icon="md-refresh" :title="$t('app.gridpage.refresh')" @click="pageRefresh()"></i-button></span>&nbsp;
                    <span>
                        {{$t('app.gridpage.show')}}&nbsp;
                        <span>
                            <template v-if="items.length === 1">
                            1
                            </template>
                            <template v-else>
                                <span>{{(curPage - 1) * limit + 1}}&nbsp;-&nbsp;{{totalRecord > curPage * limit ? curPage * limit : totalRecord}}</span>
                            </template>
                        </span>&nbsp;
                        {{$t('app.gridpage.records')}}，{{$t('app.gridpage.totle')}}&nbsp;{{totalRecord}}&nbsp;{{$t('app.gridpage.records')}}
                    </span>
                </span>
            </page>
        </row>
    </i-form>
</div>