.app-mobilc-recorder {
    // display: flex;
    // flex-direction: column;
    width: 100%;
    .recorders {
        // display: flex;
        width: 100%;
        &-item {
            width: 100%;
            .name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }
            // ion-button {
            //     display: flex;
            //     width: 40px;
            // }
            &-tools {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .recorder-tools {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}