<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.report.mapper.IbzMonthlyMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="IbzMonthlyResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`ACCOUNT`, t1.`COMMENT`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`DATE`, t1.`IBZ_MONTHLYID`, t1.`IBZ_MONTHLYNAME`, t1.`ISSUBMIT`, t1.`MAILTO`, t1.MAILTO AS `MAILTOPK`, t1.`NEXTMONTHPLANSTASK`, t1.`PLANSNEXTMONTH`, t1.`REPORTSTATUS`, t1.`REPORTTO`, t1.REPORTTO AS `REPORTTOPK`, t1.`SUBMITTIME`, t1.`THISMONTHTASK`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`UPDATEMANNAME`, t1.`WORKTHISMONTH` FROM `T_IBZ_MONTHLY` t1  ) t1 where ibz_monthlyid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="IbzMonthlyResultMap" type="cn.ibizlab.pms.core.report.domain.IbzMonthly" autoMapping="true">
		<id property="ibzmonthlyid" column="ibz_monthlyid" /><!--主键字段映射-->
		<result property="ibzmonthlyname" column="ibz_monthlyname" />


    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.report.filter.IbzMonthlySearchContext"  resultMap="IbzMonthlyResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[MyMonthly]-->
	 <select id="searchMyMonthly"  parameterType="cn.ibizlab.pms.core.report.filter.IbzMonthlySearchContext"  resultMap="IbzMonthlyResultMap">
         select t1.* from (
                <include refid="MyMonthly" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[MyMonthlyMob]-->
	 <select id="searchMyMonthlyMob"  parameterType="cn.ibizlab.pms.core.report.filter.IbzMonthlySearchContext"  resultMap="IbzMonthlyResultMap">
         select t1.* from (
                <include refid="MyMonthlyMob" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[MyReceivedMonthly]-->
	 <select id="searchMyReceivedMonthly"  parameterType="cn.ibizlab.pms.core.report.filter.IbzMonthlySearchContext"  resultMap="IbzMonthlyResultMap">
         select t1.* from (
                <include refid="MyReceivedMonthly" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[MySubmitMonthly]-->
	 <select id="searchMySubmitMonthly"  parameterType="cn.ibizlab.pms.core.report.filter.IbzMonthlySearchContext"  resultMap="IbzMonthlyResultMap">
         select t1.* from (
                <include refid="MySubmitMonthly" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[ProductMonthly]-->
	 <select id="searchProductMonthly"  parameterType="cn.ibizlab.pms.core.report.filter.IbzMonthlySearchContext"  resultMap="IbzMonthlyResultMap">
         select t1.* from (
                <include refid="ProductMonthly" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[ProjectMonthly]-->
	 <select id="searchProjectMonthly"  parameterType="cn.ibizlab.pms.core.report.filter.IbzMonthlySearchContext"  resultMap="IbzMonthlyResultMap">
         select t1.* from (
                <include refid="ProjectMonthly" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACCOUNT`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`DATE`, t1.`IBZ_MONTHLYID`, t1.`IBZ_MONTHLYNAME`, t1.`ISSUBMIT`, t1.`MAILTO`, t1.MAILTO AS `MAILTOPK`, t1.`NEXTMONTHPLANSTASK`, t1.`REPORTSTATUS`, t1.`REPORTTO`, t1.REPORTTO AS `REPORTTOPK`, t1.`SUBMITTIME`, t1.`THISMONTHTASK`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`UPDATEMANNAME` FROM `T_IBZ_MONTHLY` t1  
			]]>
    </sql>
    <!--数据查询[MyMonthly]-->
    <sql id="MyMonthly" databaseId="mysql">
		<![CDATA[ SELECT 	t1.`ACCOUNT`, 	t1.`CREATEDATE`, 	t1.`CREATEMAN`, 	t1.`CREATEMANNAME`, 	t1.`DATE`, 	t1.`IBZ_MONTHLYID`, 	t1.`IBZ_MONTHLYNAME`, 	t1.`ISSUBMIT`, 	t1.`MAILTO`, 	( CASE WHEN t11.id IS NOT NULL THEN '1' ELSE '0' END ) AS `REPORTSTATUS`, 	t1.`REPORTTO`, 	t1.`THISMONTHTASK`, 	t1.`NEXTMONTHPLANSTASK`, 	t1.`UPDATEDATE`, 	t1.`UPDATEMAN`, 	t1.`UPDATEMANNAME`  FROM 	`t_ibz_monthly` t1 	LEFT JOIN zt_action t11 ON t11.objectID = t1.IBZ_MONTHLYID  	AND t11.objectType = 'monthly'  	AND t11.action = 'read'  	AND t11.actor = #{srf.sessioncontext.srfloginname}
					 WHERE 	t1.account = #{srf.sessioncontext.srfloginname}
			]]>
    </sql>
    <!--数据查询[MyMonthlyMob]-->
    <sql id="MyMonthlyMob" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACCOUNT`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, DATE_FORMAT(t1.DATE,'%Y-%m-%d') as `DATE`, t1.`IBZ_MONTHLYID` AS IBZ_MONTHLYID, t1.`IBZ_MONTHLYNAME` AS IBZ_MONTHLYNAME, t1.`ISSUBMIT`, t1.`MAILTO`, '1' as `REPORTSTATUS`, t1.`REPORTTO`, t1.SUBMITTIME as `SUBMITTIME`, t1.`THISMONTHTASK` AS THISMONTHTASK, t1.`NEXTMONTHPLANSTASK` AS NEXTMONTHPLANSTASK, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`UPDATEMANNAME`, CONCAT_WS('','本月工作：',case when t1.WORKTHISMONTH is null then '无' else t1.WORKTHISMONTH end)  as WORKTHISMONTH, t1.`COMMENT`, CONCAT_WS('','下月计划：',case when t1.PLANSNEXTMONTH is null then '无' else t1.PLANSNEXTMONTH end) as PLANSNEXTMONTH, 'monthly' as type  FROM `T_IBZ_MONTHLY` t1
					 WHERE 	t1.account = #{srf.sessioncontext.srfloginname}
			]]>
    </sql>
    <!--数据查询[MyReceivedMonthly]-->
    <sql id="MyReceivedMonthly" databaseId="mysql">
		<![CDATA[ SELECT 	t1.`ACCOUNT`, 	t1.`CREATEDATE`, 	t1.`CREATEMAN`, 	t1.`CREATEMANNAME`, 	t1.`DATE`, 	t1.`IBZ_MONTHLYID`, 	t1.`IBZ_MONTHLYNAME`, 	t1.`ISSUBMIT`, 	t1.`MAILTO`, 	( CASE WHEN t11.id IS NOT NULL THEN '1' ELSE '0' END ) AS `REPORTSTATUS`, 	t1.`REPORTTO`, 	t1.`THISMONTHTASK`, 	t1.`NEXTMONTHPLANSTASK`, 	t1.`UPDATEDATE`, 	t1.`UPDATEMAN`, 	t1.`UPDATEMANNAME`  FROM 	`t_ibz_monthly` t1 	LEFT JOIN zt_action t11 ON t11.objectID = t1.IBZ_MONTHLYID  	AND t11.objectType = 'monthly'  	AND t11.action = 'read'  	AND t11.actor = #{srf.sessioncontext.srfloginname}
					 WHERE 	t1.issubmit = '1'
						 AND (t1.REPORTTO = #{srf.sessioncontext.srfloginname} OR FIND_IN_SET( #{srf.sessioncontext.srfloginname}, t1.MAILTO ))
			]]>
    </sql>
    <!--数据查询[MySubmitMonthly]-->
    <sql id="MySubmitMonthly" databaseId="mysql">
		<![CDATA[ SELECT 	t1.`ACCOUNT`, 	t1.`CREATEDATE`, 	t1.`CREATEMAN`, 	t1.`CREATEMANNAME`, 	t1.`DATE`, 	t1.`IBZ_MONTHLYID`, 	t1.`IBZ_MONTHLYNAME`, 	t1.`ISSUBMIT`, 	t1.`MAILTO`, 	( CASE WHEN t11.id IS NOT NULL THEN '1' ELSE '0' END ) AS `REPORTSTATUS`, 	t1.`REPORTTO`, 	t1.`THISMONTHTASK`, 	t1.`NEXTMONTHPLANSTASK`, 	t1.`UPDATEDATE`, 	t1.`UPDATEMAN`, 	t1.`UPDATEMANNAME`  FROM 	`t_ibz_monthly` t1 	LEFT JOIN zt_action t11 ON t11.objectID = t1.IBZ_MONTHLYID  	AND t11.objectType = 'monthly'  	AND t11.action = 'read'  	AND t11.actor = #{srf.sessioncontext.srfloginname}
					 WHERE 	t1.issubmit = '1'
						 AND t1.account = #{srf.sessioncontext.srfloginname}
			]]>
    </sql>
    <!--数据查询[ProductMonthly]-->
    <sql id="ProductMonthly" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACCOUNT`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`DATE`, t1.`IBZ_MONTHLYID`, t1.`IBZ_MONTHLYNAME`, t1.`ISSUBMIT`, t1.`MAILTO`, t1.MAILTO AS `MAILTOPK`, t1.`NEXTMONTHPLANSTASK`, t1.`REPORTSTATUS`, t1.`REPORTTO`, t1.REPORTTO AS `REPORTTOPK`, t1.`SUBMITTIME`, t1.`THISMONTHTASK`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`UPDATEMANNAME` FROM `T_IBZ_MONTHLY` t1  where  t1.`ISSUBMIT` = '1'  AND DATE_FORMAT(t1.date,'%Y-%m') = #{srf.datacontext.yearmonth}  AND exists(select 1 from zt_team t2 where t2.account = t1.`ACCOUNT` and t2.type = 'product' and t2.root = #{srf.datacontext.curproduct})
			]]>
    </sql>
    <!--数据查询[ProjectMonthly]-->
    <sql id="ProjectMonthly" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACCOUNT`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`DATE`, t1.`IBZ_MONTHLYID`, t1.`IBZ_MONTHLYNAME`, t1.`ISSUBMIT`, t1.`MAILTO`, t1.MAILTO AS `MAILTOPK`, t1.`NEXTMONTHPLANSTASK`, t1.`REPORTSTATUS`, t1.`REPORTTO`, t1.REPORTTO AS `REPORTTOPK`, t1.`SUBMITTIME`, t1.`THISMONTHTASK`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`UPDATEMANNAME` FROM `T_IBZ_MONTHLY` t1  
					 WHERE 	( t1.`ISSUBMIT` = '1'  AND  DATE_FORMAT(t1.date,'%Y-%m') = #{srf.datacontext.yearmonth}  AND  t1.ACCOUNT in (select t.ACCOUNT from zt_team t where t.type = 'project' and t.root =#{srf.datacontext.curproject}) )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACCOUNT`, t1.`COMMENT`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`DATE`, t1.`IBZ_MONTHLYID`, t1.`IBZ_MONTHLYNAME`, t1.`ISSUBMIT`, t1.`MAILTO`, t1.MAILTO AS `MAILTOPK`, t1.`NEXTMONTHPLANSTASK`, t1.`PLANSNEXTMONTH`, t1.`REPORTSTATUS`, t1.`REPORTTO`, t1.REPORTTO AS `REPORTTOPK`, t1.`SUBMITTIME`, t1.`THISMONTHTASK`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`UPDATEMANNAME`, t1.`WORKTHISMONTH` FROM `T_IBZ_MONTHLY` t1  
			]]>
    </sql>
</mapper>

