
.app-pms-update-log-info{
    background-color: #fff;
    .title{
        padding:0 20px;
    }
    .title:before{
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        background-color: #666;
        vertical-align: middle;
        margin-right: 7px;
        border-radius: 4px;
    }
    .info {
        padding: 0 25px;
        p{
            margin: 0;
            padding: 10px;
        }
    }


}