<div class="documents-library">
    <div class="documents-library-operation">
        <Breadcrumb separator=">">
            <template v-for="(item,index) in breadcrumbs">
                <BreadcrumbItem :key="index">
                    <Icon v-if="index === 0" @click="handleLink(item)" type="md-folder" size="25" color="rgb(255, 202, 40)" />
                    <a v-else-if="index < breadcrumbs.length-1" @click="handleLink(item)" >{{ item.text }}</a>
                    <span v-else >{{ item.text }}</span>
                </BreadcrumbItem>
            </template>
        </Breadcrumb>
        <ButtonGroup>
            <Button icon="md-apps" @click="modelChange('chart')"></Button>
            <Button icon="md-menu" @click="modelChange('list')"></Button>
        </ButtonGroup>
    </div>
    <div v-show="Object.is(model, 'chart')" class="documents-library-chart">
        <template v-for="(item,index) in items">
            <div :key="index" class="chart-item">
                <div 
                    v-if="Object.is(item.nodeType,'STATIC') || (item.curData && (Object.is(item.curData.doclibtype,'doc') || Object.is(item.curData.docqtype,'module')))"
                    @dblclick="openNode(item)">
                    <Icon type="md-folder" size="70" color="rgb(255, 202, 40)" />
                </div> 
                <div v-if="item.curData && (Object.is(item.curData.doclibtype,'file') || Object.is(item.curData.docqtype,'doc'))"> 
                    <Icon type="md-document" size="70" color="darkgrey" />
                </div>
                <div>
                    <a
                        v-if="Object.is(item.nodeType,'STATIC') || (item.curData && (Object.is(item.curData.doclibtype,'doc') || Object.is(item.curData.docqtype,'module')))" 
                        @click="openNode(item)">
                        <span>{{ item.text }}</span>
                    </a>
                    <span
                        v-if="item.curData && (Object.is(item.curData.doclibtype,'file') || Object.is(item.curData.docqtype,'doc'))">
                        {{ item.text }}
                    </span>
                </div>
            </div>
        </template>
    </div>
    <div v-show="Object.is(model, 'list')" class="documents-library-list">
        <template v-for="(item,index) in items">
            <div :key="index" class="list-item">
                <div>
                    <span
                        v-if="Object.is(item.nodeType,'STATIC') || (item.curData && (Object.is(item.curData.doclibtype,'doc') || Object.is(item.curData.docqtype,'module')))"
                        @click="openNode(item)">
                        <Icon type="md-folder" color="rgb(255, 202, 40)" size="20" /><a>{{ item.text }}</a>
                    </span>
                    <span v-if="item.curData && (Object.is(item.curData.doclibtype,'file') || Object.is(item.curData.docqtype,'doc'))">
                        <Icon type="md-document" color="darkgrey" size="20" />{{ item.text }}
                    </span>
                </div>
                <div v-if="item.curData && item.curData.copyActionModel">
                    <a 
                        class="list-row-action" 
                        @click="onAction(item,'deuiaction1')" 
                        v-show="item.curData.copyActionModel['deuiaction1'].visible"
                        :disabled="item.curData.copyActionModel['deuiaction1'].disabled">
                        <i class='fa fa-edit'></i>
                    </a>
                    <a 
                        class="list-row-action" 
                        @click="onAction(item,'deuiaction2')" 
                        v-show="item.curData.copyActionModel['deuiaction2'].visible"
                        :disabled="item.curData.copyActionModel['deuiaction2'].disabled">
                        <i class='fa fa-star-o'></i>
                    </a>
                    <a 
                        class="list-row-action" 
                        @click="onAction(item,'deuiaction3')" 
                        v-show="item.curData.copyActionModel['deuiaction3'].visible"
                        :disabled="item.curData.copyActionModel['deuiaction3'].disabled">
                        <i class='fa fa-star'></i>
                    </a>
                    <a 
                        class="list-row-action" 
                        @click="onAction(item,'deuiaction1')" 
                        v-show="item.curData.copyActionModel['deuiaction1'].visible"
                        :disabled="item.curData.copyActionModel['deuiaction1'].disabled">
                        <i class='fa fa-edit'></i>
                    </a>
                    <a 
                        class="list-row-action" 
                        @click="onAction(item,'deuiaction2')" 
                        v-show="item.curData.copyActionModel['deuiaction2'].visible"
                        :disabled="item.curData.copyActionModel['deuiaction2'].disabled">
                        <i class='fa fa-lock'></i>
                    </a>
                    <a 
                        class="list-row-action" 
                        @click="onAction(item,'deuiaction3')" 
                        v-show="item.curData.copyActionModel['deuiaction3'].visible"
                        :disabled="item.curData.copyActionModel['deuiaction3'].disabled">
                        <i class='fa fa-star'></i>
                    </a>
                    <a 
                        class="list-row-action" 
                        @click="onAction(item,'deuiaction4')" 
                        v-show="item.curData.copyActionModel['deuiaction4'].visible"
                        :disabled="item.curData.copyActionModel['deuiaction4'].disabled">
                        <i class='fa fa-star-o'></i>
                    </a>
                    <a 
                        class="list-row-action" 
                        @click="onAction(item,'deuiaction1')" 
                        v-show="item.curData.copyActionModel['deuiaction1'].visible"
                        :disabled="item.curData.copyActionModel['deuiaction1'].disabled">
                        <i class='fa fa-edit'></i>
                    </a>
                    <a 
                        class="list-row-action" 
                        @click="onAction(item,'deuiaction2')" 
                        v-show="item.curData.copyActionModel['deuiaction2'].visible"
                        :disabled="item.curData.copyActionModel['deuiaction2'].disabled">
                        <i class='fa fa-star-o'></i>
                    </a>
                    <a 
                        class="list-row-action" 
                        @click="onAction(item,'deuiaction3')" 
                        v-show="item.curData.copyActionModel['deuiaction3'].visible"
                        :disabled="item.curData.copyActionModel['deuiaction3'].disabled">
                        <i class='fa fa-star'></i>
                    </a>
                </div>
            </div>
        </template>
    </div>
</div>