<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
        <el-table v-if="isDisplay === true"
            :default-sort="{ prop: minorSortPSDEF, order: Object.is(minorSortDir, 'ASC') ? 'ascending' : Object.is(minorSortDir, 'DESC') ? 'descending' : '' }"  
            @sort-change="onSortChange($event)"  
            :border="isDragendCol"
            :show-summary="true && items.length > 0"
            :summary-method="getSummaries"
            :highlight-current-row ="isSingleSelect"
            :row-class-name="getRowClassName.bind(_self)"
            :cell-class-name="getCellClassName.bind(_self)"
            size="mini"
            stripe
            :height="tableHeight"
            @row-click="rowClick($event)"  
            @select-all="selectAll($event)"  
            @select="select.apply(_self, arguments)"  
            @row-class-name="onRowClassName($event)"  
            @row-dblclick="rowDBLClick($event)"  
            ref="multipleTable" :data="items" :show-header="!isHideHeader"
        >
            <template slot="empty">
                {{$t('entities.projectstats.projectstorystatusstats_grid.nodata')}} 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type="selection" :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('name')">
                <el-table-column show-overflow-tooltip :prop="'name'" :label="$t('entities.projectstats.projectstorystatusstats_grid.columns.name')" :min-width="150"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projectstorystatusstats_grid.columns.name')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.name}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('emptystory')">
                <el-table-column show-overflow-tooltip :prop="'emptystory'" :label="$t('entities.projectstats.projectstorystatusstats_grid.columns.emptystory')" :width="150"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projectstorystatusstats_grid.columns.emptystory')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.emptystory}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('draftstory')">
                <el-table-column show-overflow-tooltip :prop="'draftstory'" :label="$t('entities.projectstats.projectstorystatusstats_grid.columns.draftstory')" :width="150"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projectstorystatusstats_grid.columns.draftstory')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.draftstory}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('activestory')">
                <el-table-column show-overflow-tooltip :prop="'activestory'" :label="$t('entities.projectstats.projectstorystatusstats_grid.columns.activestory')" :width="150"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projectstorystatusstats_grid.columns.activestory')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.activestory}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('closedstory')">
                <el-table-column show-overflow-tooltip :prop="'closedstory'" :label="$t('entities.projectstats.projectstorystatusstats_grid.columns.closedstory')" :width="150"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projectstorystatusstats_grid.columns.closedstory')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.closedstory}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('changedstory')">
                <el-table-column show-overflow-tooltip :prop="'changedstory'" :label="$t('entities.projectstats.projectstorystatusstats_grid.columns.changedstory')" :width="150"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projectstorystatusstats_grid.columns.changedstory')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.changedstory}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('storycnt')">
                <el-table-column show-overflow-tooltip :prop="'storycnt'" :label="$t('entities.projectstats.projectstorystatusstats_grid.columns.storycnt')" :width="150"  :align="'center'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projectstorystatusstats_grid.columns.storycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.storycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
        </el-table>
    </i-form>
</div>