.app-actionbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: var(--view-button-background-color);
  border-radius: 5px;

  .app-actionbar-item {

      >.ivu-btn.ivu-btn-text {
          color: var(--view-button-color);
      }

      >.ivu-btn.ivu-btn-text:hover {
          color: var(--view-button-background-color-active);
      }
      
      >.ivu-btn.ivu-btn-text:disabled {
        color: var(--view-button-color-active);
        background-color: var(--view-button-background-color-disabled);
        border-color: var(--view-button-background-color-disabled);
      }
  }

  .app-actionbar-item:nth-child(n + 2) {
      border-left: 1px solid var(--app-dividing-line-color-bright);
  }
}