.app-bug-list-item {
    background: #fff;
    width: 100%;
    height: 100%;
    font-size: 13px;
    .app-bug-list-item_top,
    .app-bug-list-item_bottom {
        display: flex;
        align-items: center;
    }
    .app-bug-list-item_top {
        padding: 10px 10px 0 10px;
        display: flex;
        .name {
            margin-right: 10px;
        }
        .severity {
            margin-left: 10px;
        }

    }
    .app-bug-list-item_bottom {
        padding: 10px;
        height: 45px;
        align-items: center;
        .speace {
            flex: 4;
            margin-left: 10px;
        }
        .status {
            flex: 2.5;
        }
        .deadline {
            flex: 5;
        }
        .delayresolve {
            flex: 4;
        }
        .assignedto {
            flex: 3;
            display: flex;
            justify-content: flex-end;
            .ion {
                margin: auto;
                color: #979292;
            }
        }
        .delayresolve{
            color: red;
        }
    }


    .assignedto_item {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background: #5475ab;
        line-height: 25px;
        text-align: center;
        color: #fff;
        margin: 2px;
    }

    .assignedto_item_img{
        border-radius: 50%;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        color: #fff;
        margin: 2px;
        img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
    }
}
