<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="usercontact_main"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
            <i-col
    class="form-layout-container"
    v-show="detailsModel.group1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.group1"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.group1.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.usercontact.main_form.details.group1')"
    :isShowCaption="false"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.group1"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.listname.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="listname"
    :itemRules="this.rules().listname"
    class=""

    :caption="$t('entities.usercontact.main_form.details.listname')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.listname.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <input-box 
    v-model="data.listname"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.listname.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.userlist.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="userlist"
    :itemRules="this.rules().userlist"
    class=""

    :caption="$t('entities.usercontact.main_form.details.userlist')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.userlist.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.userlist"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.userlist.disabled"
  tag='UserRealName' 
  codelistType='DYNAMIC' 
  valueSeparator=","
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


    </row>
</i-form>
