.timetitle {
  background: white;
  .title {
    display: flex;
    padding: 10px;
  }
  .fisttname {
    width: 50%;
    text-align: center;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .van-count-down {
    color: red !important;
  }
  .titleright {
    width: 77px;
    border-radius: 20px;
    border: 1px solid red;
  }
  .item {
    display: inline-block;
    width: 22px;
    margin-right: 5px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: #1989fa;
  }
}
