.width-transition-enter-active,
.width-transition-leave-active {
    transition: width .3s ease-in-out !important;
}

.width-transition-enter,
.width-transition-leave-to {
    width: 0 !important;
}

.opacity-transition-enter-active,
.opacity-transition-leave-active {
    transition: opacity .3s ease-in-out !important;
}

.opacity-transition-enter,
.opacity-transition-leave-to {
    opacity: 0 !important;
}