.demobmdview{
    // this is less
.srf_empty_class {
    width: 100%;
    height: 100%;
}
.title-label{
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon {
      margin-right: 5px;
    }
    img{
      width: 22px;
      height: 22px;
      margin-right: 5px;
    }
}


// this is less
.srf_empty_class {
    width: 100%;
    height: 100%;
}

.app-righttoolbar-bar-button {
    position: absolute;
    bottom: @toolbar-bottomtoolbar-offset-y;
    right: @toolbar-bottomtoolbar-offset-x;
    border-radius: @border-radius-round;
    height: @toolbar-bottomtoolbar-height;
    line-height: @toolbar-bottomtoolbar-height;
}
.app-righttoolbar-bar-overlay {
    .wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        height: 100%;
        .block {
            width: 120px;
            height: 100%;
            display: flex;
            z-index: 2000;
            .app-toolbar-container {
                position: absolute;
                bottom: @toolbar-bottomtoolbar-group-offset-y;
                right: @toolbar-bottomtoolbar-group-offset-x;
                width: auto;
                height: auto;
                .righttoolbar-item {
                color: @toolbar-bottomtoolbar-item-color;
                margin-bottom: 10px;
                font-size: @toolbar-bottomtoolbar-item-fontSize;
                display: flex;
                .righttoolbar-item-btn {
                    margin-left: 5px;
                    border-radius: @border-radius-round;
                }
                }
            }
        }
    }
}
.fab_container{
  width: 60px;
  position: absolute;
  bottom: 4px;
  right: 16px;
  .bottom_menu{
    width: 60px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
}
.popup {
	height: 40%;
  padding-top: 20px;
	.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
		.sub-item {
      margin-top: 10px;
			box-sizing: border-box;
			flex: 0 0 25%;
      height: 100px;
      display: flex;
      color: black;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ion-button {
        width: 60px !important;
        height: 60px;
        padding: 0 !important;
        --border-radius:50% !important;
        --padding-bottom:0;
        --padding-end:0;
        --padding-start:0;
        --padding-top:0;
        .button-inner {
          --border-radius:40px !important;
        }
      }
    }
    .disabled {
      color: #a8a8a8;
    }
	}
}

.toolbar_group_right{
  position: absolute;
  right: 20px;
  z-index: 999;
  width: 40%;
}
.toolbar_group_left{
  position: absolute;
  left: 20px;
  z-index: 999;
  width: 40%;
}
ion-backdrop {
  opacity: 0.3;
}
.ionlist{
  border-radius: @toolbar-group-border-radius;
}
.group_ion-icon{
  margin-right: 10px;
}
.footer_group {
  position: absolute;
  z-index: 99;
  bottom: 67px;
  width: 40%;
  right: 20px;
}
.app-quick-toolbar{
  text-align: center;
}



//排序样式
.story-mob-mdview-toolbar{
    z-index:10;
    .code-box{
      overflow-x: auto;
      .ibz-item{
            --inner-border-width:0;
            min-width: 50%;
        }
    }
    .view-tool {
        display: flex;
        padding: 0 @padding-sm;
        &-sorts {
            display: flex;
            flex-grow: 1;
            &-item {
                display: flex;
                padding-right: @margin-sm;
                height: 24px;
                .text {
                    display: flex;
                    flex-grow: 1;
                }
                .sort-icon {
                    display: flex;
                    flex-direction: column;
                    width: 20px;
                    padding-left: @padding-base;
                    justify-content: center;
                    ion-icon {
                        font-size: @font-size-xs - 2;
                    }
                    .sort-select{
                      color: #3880ff;;
                    }
                }
            }
        }
        &-searchform {
            display: flex;
            width: 60px;
            justify-content: flex-end;
            align-items: center;
        }
    }
}
.filter-btn{
  position: relative;
    top: 5px;
}

    .batch_btn{
        display: flex;
        justify-content: center;
    }
}

.story-mob-mdview{}
