.app-actionbar {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .app-actionbar-item {
    margin-right: 8px;
    margin-bottom: 10px;
    position: relative;

    ion-badge {
      position: absolute;
      right: 0;
      z-index: 2;
    }
  }
}