.app-mob-select-changeStyle{
  height: 100%;
  background-color: #F5F6FA;
  ion-list{
    margin: 20px 10px;
    ion-list-header{
      line-height: 16px;
      background-color: #F5F6FA;
      ion-label{
        font-size: 16px;
      }
    }
    ion-item{
      ion-radio{
        --color-checked:#00CBFC;
      }
    }
  }
  .change-style-btnbox{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    .change-style-btn{
      margin: 0;
      padding: 0;
    }
  }
}