<group-step-table class="grid" 
    groupfield=""
    :data="items"
    :cols="allColumns"
    :isEdit="actualIsOpenEdit"
    :gridItemsModel="gridItemsModel"
    @change="gridEditItemChange.apply(_self, arguments)"
    @remove="remove.apply(_self, arguments)"
    @add="add.apply(_self, arguments)">
    <template slot="dates" slot-scope="{row, $index, column}">
    <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :disabled="getColumnDisabled(row,column.property)" :value="row[column.property]" style="" @on-change="(val1, val2) => { row[column.property] = val1; gridEditItemChange(row, column.property, val1, $index)}"></date-picker>

    </template>
    <template slot="consumed" slot-scope="{row, $index, column}">
    <input-box 
    
    :disabled="getColumnDisabled(row,column.property)" 
    v-model="row[column.property]" 
    style=""
    type="text"
    
    
    @change="($event)=>{gridEditItemChange(row, column.property, $event, $index)}"
></input-box>

    </template>
    <template slot="left" slot-scope="{row, $index, column}">
    <input-box 
    
    :disabled="getColumnDisabled(row,column.property)" 
    v-model="row[column.property]" 
    style=""
    type="text"
    
    
    @change="($event)=>{gridEditItemChange(row, column.property, $event, $index)}"
></input-box>

    </template>
    <template slot="work" slot-scope="{row, $index, column}">
    <input-box 
    
    :disabled="getColumnDisabled(row,column.property)" 
    v-model="row[column.property]" 
    style=""
    type="text"
    
    
    @change="($event)=>{gridEditItemChange(row, column.property, $event, $index)}"
></input-box>

    </template>
</group-step-table>