.dropdown-list-container {
    .dropdown-list{
        display: inline-block;
    }
    .icon-circle {
        display: none;
        position: absolute;
        right: 24px;
        padding-top: 10px;
    }
}
.dropdown-list-container:hover {
    .icon-circle {
        display: unset;
    }  
}
