.dropdown-list-container {
    .dropdown-list{
        display: inline-block;
    }
    .el-icon-circle-close {
        display: none;
        position: absolute;
        right: 28px;
        padding-top: 10px;
    }
}
.dropdown-list-container:hover {
    .el-icon-circle-close {
        display: unset;
    }  
}
