.app-mob-map {
  .app-map {
    width: 100vw;
    height: calc(100vh - 76px) !important;
  }
  .addressText {
    text-align: center;
    font-size: 12px;
    color: #333;
    height: 32px;
    overflow: hidden;
  }
//   去除logo
  .amap-logo {
    display: none !important;
  }
  .amap-copyright {
    display: none !important;
  }
}
