<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
    <el-table v-if="isDisplay === true"
        :default-sort="{ prop: minorSortPSDEF, order: Object.is(minorSortDir, 'ASC') ? 'ascending' : Object.is(minorSortDir, 'DESC') ? 'descending' : '' }"  
        @sort-change="onSortChange($event)"  
        :border="isDragendCol"
        :highlight-current-row ="isSingleSelect"
        :row-class-name="getRowClassName.bind(_self)"
        :cell-class-name="getCellClassName.bind(_self)"
        size="mini"
        stripe
        :height="getHeight"
        @row-click="rowClick($event)"  
        @select-all="selectAll($event)"  
        @select="select($event)"  
        @row-class-name="onRowClassName($event)"  
        @row-dblclick="rowDBLClick($event)"  
        ref='multipleTable' :data="items" :show-header="!isHideHeader">
            <template slot="empty">
                无数据 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type='selection' :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('name')">
                <el-table-column show-overflow-tooltip :prop="'name'" :label="$t('entities.productstats.openitems_grid.columns.name')" :min-width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.productstats.openitems_grid.columns.name')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <app-column-link deKeyField='product' :context="JSON.parse(JSON.stringify(context))" :viewparams="JSON.parse(JSON.stringify(viewparams))" :data="row" :linkview="{viewname: 'product-main-tab-exp-view', height: 0,width: 0,title: $t('entities.product.views.maintabexpview.title'),placement: '', isRedirectView: false,deResParameters: [
            ]
            ,parameters: [
            { pathName: 'products', parameterName: 'product' },
            { pathName: 'maintabexpview', parameterName: 'maintabexpview' }
            ]}" valueitem="srfkey">
                            <span>{{row.name}}</span>
                        </app-column-link >
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('currproject')">
                <el-table-column show-overflow-tooltip :prop="'currproject'" :label="$t('entities.productstats.openitems_grid.columns.currproject')" :width="200"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.productstats.openitems_grid.columns.currproject')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.currproject}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('productplancnt')">
                <el-table-column show-overflow-tooltip :prop="'productplancnt'" :label="$t('entities.productstats.openitems_grid.columns.productplancnt')" :width="90"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.productstats.openitems_grid.columns.productplancnt')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.productplancnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('releasecnt')">
                <el-table-column show-overflow-tooltip :prop="'releasecnt'" :label="$t('entities.productstats.openitems_grid.columns.releasecnt')" :width="90"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.productstats.openitems_grid.columns.releasecnt')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.releasecnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('activestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'activestorycnt'" :label="$t('entities.productstats.openitems_grid.columns.activestorycnt')" :width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.productstats.openitems_grid.columns.activestorycnt')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.activestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('activebugcnt')">
                <el-table-column show-overflow-tooltip :prop="'activebugcnt'" :label="$t('entities.productstats.openitems_grid.columns.activebugcnt')" :width="115"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.productstats.openitems_grid.columns.activebugcnt')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.activebugcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
    </el-table>
  </i-form>
</div>