<div class="tabviewpanel">
    <tabs
        :value="activatedTabViewPanel"
        :animated="false"
        class="tabexppanel"
        name="lasttabexpviewtabexppanel"
        @on-click="tabPanelClick($event)"
    >
        <tab-pane
            :index="0"
            name="tabviewpanel2"
            tab="lasttabexpviewtabexppanel"
            class=""
            v-if="authResourceObject['tabviewpanel2'].visible"
            :label="(h) =>{
                return h('div', [
                    h('span', $t('entities.sysupdatelog.lasttabexpviewtabexppanel_tabexppanel.tabviewpanels.tabviewpanel2.caption')),
                    h('Badge', {
                        props: {
                            count: undefined,
                            type: 'primary'
                        }
                    })
                ])
            }" >
            <view_tabviewpanel2 
    :viewState="viewState"  
    :viewparams="JSON.parse(JSON.stringify(viewparams))" 
    :context="JSON.parse(JSON.stringify(context))" 
    v-if="isInit.tabviewpanel2"
    name="tabviewpanel2"  
    ref="tabviewpanel2"
    :expActive="activatedTabViewPanel === 'tabviewpanel2'"
    @viewpanelDatasChange = "tabViewPanelDatasChange"
    @closeview="closeView($event)">
</view_tabviewpanel2>
        </tab-pane>
        <tab-pane
            :index="1"
            name="tabviewpanel"
            tab="lasttabexpviewtabexppanel"
            class=""
            v-if="authResourceObject['tabviewpanel'].visible"
            :label="(h) =>{
                return h('div', [
                    h('span', $t('entities.sysupdatelog.lasttabexpviewtabexppanel_tabexppanel.tabviewpanels.tabviewpanel.caption')),
                    h('Badge', {
                        props: {
                            count: undefined,
                            type: 'primary'
                        }
                    })
                ])
            }" >
            <view_tabviewpanel 
    :viewState="viewState"  
    :viewparams="JSON.parse(JSON.stringify(viewparams))" 
    :context="JSON.parse(JSON.stringify(context))" 
    v-if="isInit.tabviewpanel"
    name="tabviewpanel"  
    ref="tabviewpanel"
    :expActive="activatedTabViewPanel === 'tabviewpanel'"
    @viewpanelDatasChange = "tabViewPanelDatasChange"
    @closeview="closeView($event)">
</view_tabviewpanel>
        </tab-pane>
    </tabs>
</div>