<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
    <el-table v-if="isDisplay === true"
        :default-sort="{ prop: minorSortPSDEF, order: Object.is(minorSortDir, 'ASC') ? 'ascending' : Object.is(minorSortDir, 'DESC') ? 'descending' : '' }"  
        @sort-change="onSortChange($event)"  
        :border="isDragendCol"
        :highlight-current-row ="isSingleSelect"
        :row-class-name="getRowClassName.bind(_self)"
        :cell-class-name="getCellClassName.bind(_self)"
        size="mini"
        stripe
        @row-click="rowClick($event)"  
        @select-all="selectAll($event)"  
        @select="select($event)"  
        @row-class-name="onRowClassName($event)"  
        @row-dblclick="rowDBLClick($event)"  
        ref='multipleTable' :data="items" :show-header="!isHideHeader">
            <template slot="empty">
                无数据 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type='selection' :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('name')">
                <el-table-column show-overflow-tooltip :prop="'name'" :label="$t('entities.productstats.allproduct_grid.columns.name')" :min-width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.productstats.allproduct_grid.columns.name')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <app-column-link deKeyField='product' :context="JSON.parse(JSON.stringify(context))" :viewparams="JSON.parse(JSON.stringify(viewparams))" :data="row" :linkview="{viewname: 'product-main-tab-exp-view', height: 0,width: 0,title: $t('entities.product.views.maintabexpview.title'),placement: '', isRedirectView: false,deResParameters: [
            ]
            ,parameters: [
            { pathName: 'products', parameterName: 'product' },
            { pathName: 'maintabexpview', parameterName: 'maintabexpview' }
            ]}" valueitem="srfkey">
                            <span>{{row.name}}</span>
                        </app-column-link >
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('currproject')">
                <el-table-column show-overflow-tooltip :prop="'currproject'" :label="$t('entities.productstats.allproduct_grid.columns.currproject')" :min-width="200"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.productstats.allproduct_grid.columns.currproject')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.currproject}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('productplancnt')">
                <el-table-column show-overflow-tooltip :prop="'productplancnt'" :label="$t('entities.productstats.allproduct_grid.columns.productplancnt')" :width="90"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.productstats.allproduct_grid.columns.productplancnt')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.productplancnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('releasecnt')">
                <el-table-column show-overflow-tooltip :prop="'releasecnt'" :label="$t('entities.productstats.allproduct_grid.columns.releasecnt')" :width="90"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.productstats.allproduct_grid.columns.releasecnt')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.releasecnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('activestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'activestorycnt'" :label="$t('entities.productstats.allproduct_grid.columns.activestorycnt')" :width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.productstats.allproduct_grid.columns.activestorycnt')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.activestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('activebugcnt')">
                <el-table-column show-overflow-tooltip :prop="'activebugcnt'" :label="$t('entities.productstats.allproduct_grid.columns.activebugcnt')" :min-width="115"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.productstats.allproduct_grid.columns.activebugcnt')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.activebugcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
    </el-table>
    <row class='grid-pagination' v-show="items.length > 0">
        <page class='pull-right' @on-change="pageOnChange($event)" 
            @on-page-size-change="onPageSizeChange($event)"
            :transfer="true" :total="totalRecord"
            show-sizer :current="curPage" :page-size="limit"
            :page-size-opts="[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]" show-elevator show-total>
            <span>
                <span class="page-column">
                    <poptip transfer placement="top-start">
                        <i-button icon="md-menu">{{$t('app.gridpage.choicecolumns')}}</i-button>
                        <div slot="content">
                            <template v-for="col in allColumns">
                                <div :key="col.name"><el-checkbox v-model="col.show" @change="onColChange()">{{$t(col.langtag)}}</el-checkbox></div>
                            </template>
                        </div>
                    </poptip>
                </span>
                <span v-if="selections.length > 0" class="batch-toolbar">
                </span>
                <span class="page-button"><i-button icon="md-refresh" :title="$t('app.gridpage.refresh')" @click="pageRefresh()"></i-button></span>&nbsp;
                <span>
                    {{$t('app.gridpage.show')}}&nbsp;
                    <span>
                        <template v-if="items.length === 1">
                        1
                        </template>
                        <template v-else>
                            <span>{{(curPage - 1) * limit + 1}}&nbsp;-&nbsp;{{totalRecord > curPage * limit ? curPage * limit : totalRecord}}</span>
                        </template>
                    </span>&nbsp;
                    {{$t('app.gridpage.records')}}，{{$t('app.gridpage.totle')}}&nbsp;{{totalRecord}}&nbsp;{{$t('app.gridpage.records')}}
                </span>
            </span>
        </page>
    </row>
  </i-form>
</div>