.studio-view.view-container.mode-style2 {

    .view-header {
        height: 40px;

        .toolbar {
            float: unset;

            .toolbar-container {
                height: 100%;
            }
        }
    }
}