.studio-view.view-container.mode-style2 {
    .view-header {
        flex-shrink: 0;
        min-height: 36px;
    }

    .app-search-form.ivu-form {
        .search-button {
            width: 236px;

            .ivu-btn {
                float: right;
                margin-left: 10px;
                background: 0 0;
                color: var(--view-button-background-color);
            }
        }

        .form-content {
            width: 236px;

            .app-form-item.label-top {
                margin: 0;
            }

            .app-form-item {
                .app-form-item-label {
                    height: 26px;
                    line-height: 26px;
                }

                .editor-wrapper {
                    .ivu-input-wrapper {
                        .ivu-input {
                            height: 26px;
                            line-height: 26px;
                        }
                    }

                    .ivu-select {
                        .ivu-select-selection {
                            height: 26px;

                            .ivu-select-placeholder {
                                height: 26px;
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.app-portal-view.studio-view.view-container.mode-style2 {
    background-color: var(--app-background-color);
}

.deportalview9.studio-view.view-container.mode-style2 {
    background-color: var(--app-background-color);
}
