<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
        <el-table v-if="isDisplay === true"
            :border="isDragendCol"
            :highlight-current-row ="isSingleSelect"
            :row-class-name="getRowClassName.bind(_self)"
            :cell-class-name="getCellClassName.bind(_self)"
            size="mini"
            stripe
            :height="tableHeight"
            @row-click="rowClick($event)"  
            @select-all="selectAll($event)"  
            @select="select.apply(_self, arguments)"  
            @row-class-name="onRowClassName($event)"  
            @row-dblclick="rowDBLClick($event)"  
            ref="multipleTable" :data="items" :show-header="!isHideHeader"
        >
            <template slot="empty">
                {{$t('entities.taskstats.userfinishtasksum_grid.nodata')}} 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type="selection" :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('projectname')">
                <el-table-column show-overflow-tooltip :prop="'projectname'" :label="$t('entities.taskstats.userfinishtasksum_grid.columns.projectname')" :min-width="230"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.taskstats.userfinishtasksum_grid.columns.projectname')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.projectname}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('finishedby')">
                <el-table-column show-overflow-tooltip :prop="'finishedby'" :label="$t('entities.taskstats.userfinishtasksum_grid.columns.finishedby')" :width="230"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.taskstats.userfinishtasksum_grid.columns.finishedby')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <template >
            <codelist :value="row.finishedby" tag="UserRealName_Gird" codelistType="DYNAMIC" renderMode="STR" valueSeparator="," textSeparator="," ></codelist>
                        </template>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('totalestimate')">
                <el-table-column show-overflow-tooltip :prop="'totalestimate'" :label="$t('entities.taskstats.userfinishtasksum_grid.columns.totalestimate')" :width="230"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.taskstats.userfinishtasksum_grid.columns.totalestimate')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.totalestimate}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('totalconsumed')">
                <el-table-column show-overflow-tooltip :prop="'totalconsumed'" :label="$t('entities.taskstats.userfinishtasksum_grid.columns.totalconsumed')" :width="230"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.taskstats.userfinishtasksum_grid.columns.totalconsumed')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.totalconsumed}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('taskefficient')">
                <el-table-column show-overflow-tooltip :prop="'taskefficient'" :label="$t('entities.taskstats.userfinishtasksum_grid.columns.taskefficient')" :width="230"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.taskstats.userfinishtasksum_grid.columns.taskefficient')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.taskefficient}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
        </el-table>
    </i-form>
</div>