.app-mob-input{
  --padding-end: 5px !important;
  text-align: right;
  --color: @from-main-color;
}
.editor-input {
  display: flex;
  width: 100%;
  color: @from-main-color;
  .app-mob-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 6px;
    margin-left: 6px;
  }
}