<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.ibiz.mapper.TestModuleMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="TestModuleResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BRANCH`, t1.`COLLECTOR`, t1.`DELETED`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_MODULE WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`NAME`, t1.`ORDER`, t1.`OWNER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`ROOT`, t21.`NAME` AS `ROOTNAME`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_module` t11 ON t1.`PARENT` = t11.`ID`  LEFT JOIN `zt_product` t21 ON t1.`ROOT` = t21.`ID`  ) t1 where id=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="TestModuleResultMap" type="cn.ibizlab.pms.core.ibiz.domain.TestModule" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="ibizshort" column="short" />
		<result property="root" column="root" />
		<result property="parent" column="parent" />


		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="parentmodule" javaType="cn.ibizlab.pms.core.ibiz.domain.TestModule" column="parent" select="cn.ibizlab.pms.core.ibiz.mapper.TestModuleMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="roottest" javaType="cn.ibizlab.pms.core.zentao.domain.Product" column="root" select="cn.ibizlab.pms.core.zentao.mapper.ProductMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_IBZ_TESTMODULE_IBZ_TESTMODULE_PARENT] -->
	 <select id="selectByParent" resultMap="TestModuleResultMap">
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  parent=#{id}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_IBZ_TESTMODULE_ZT_PRODUCT_ROOT] -->
	 <select id="selectByRoot" resultMap="TestModuleResultMap">
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  root=#{id}
     </select>

    <!--数据集合[ByPath]-->
	 <select id="searchByPath"  parameterType="cn.ibizlab.pms.core.ibiz.filter.TestModuleSearchContext"  resultMap="TestModuleResultMap">
         select t1.* from (
                <include refid="ByPath" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.ibiz.filter.TestModuleSearchContext"  resultMap="TestModuleResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[ParentModule]-->
	 <select id="searchParentModule"  parameterType="cn.ibizlab.pms.core.ibiz.filter.TestModuleSearchContext"  resultMap="TestModuleResultMap">
         select t1.* from (
                <include refid="ParentModule" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Root]-->
	 <select id="searchRoot"  parameterType="cn.ibizlab.pms.core.ibiz.filter.TestModuleSearchContext"  resultMap="TestModuleResultMap">
         select t1.* from (
                <include refid="Root" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Root_NoBranch]-->
	 <select id="searchRoot_NoBranch"  parameterType="cn.ibizlab.pms.core.ibiz.filter.TestModuleSearchContext"  resultMap="TestModuleResultMap">
         select t1.* from (
                <include refid="Root_NoBranch" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[TestModule]-->
	 <select id="searchTestModule"  parameterType="cn.ibizlab.pms.core.ibiz.filter.TestModuleSearchContext"  resultMap="TestModuleResultMap">
         select t1.* from (
                <include refid="TestModule" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[ByPath]-->
    <sql id="ByPath" databaseId="mysql">
		<![CDATA[ SELECT t1.`BRANCH`, t1.`DELETED`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_MODULE WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`NAME`, t1.`ORDER`, t1.`OWNER`, t1.`PARENT`, t1.`PATH`, t1.`ROOT`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  
					 WHERE 	t1.DELETED = '0'
						 AND ( t1.`TYPE` = 'story' )
						 AND FIND_IN_SET (#{srf.datacontext.srfparentkey}, t1.`PATH`)
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`BRANCH`, t1.`DELETED`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_MODULE WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`NAME`, t1.`ORDER`, t1.`OWNER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`ROOT`, t21.`NAME` AS `ROOTNAME`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_module` t11 ON t1.`PARENT` = t11.`ID`  LEFT JOIN `zt_product` t21 ON t1.`ROOT` = t21.`ID`  
					 WHERE 	t1.DELETED = '0'
						 AND ( t1.`TYPE` = 'story'  AND  t1.`DELETED` = '0' )
			]]>
    </sql>
    <!--数据查询[ParentModule]-->
    <sql id="ParentModule" databaseId="mysql">
		<![CDATA[ SELECT 	t1.`BRANCH`, 	t1.`DELETED`, 	t1.`GRADE`, 	t1.`ID`, 	( CASE WHEN EXISTS ( SELECT 1 FROM ZT_MODULE WHERE PARENT = t1.`ID` ) THEN FALSE ELSE TRUE END ) AS `ISLEAF`, 	CONCAT( 	'/', 	( SELECT 	GROUP_CONCAT( tt.NAME SEPARATOR '/' )  FROM 	zt_module tt  WHERE 	FIND_IN_SET( tt.id, t1.path )  	AND tt.type = 'story'  GROUP BY 	tt.root  	)  	) AS `NAME`, 	t1.`ORDER`, 	t1.`OWNER`, 	t1.`PARENT`, 	t21.`NAME` AS `PARENTNAME`, 	t1.`PATH`, 	t1.`ROOT`, 	t11.`NAME` AS `ROOTNAME`, 	t1.`SHORT`, 	t1.`TYPE`  FROM 	`zt_module` t1 	LEFT JOIN zt_product t11 ON t1.ROOT = t11.ID 	LEFT JOIN zt_module t21 ON t1.PARENT = t21.ID
					 WHERE 	t1.type = 'story'
						 AND t1.id <> #{srf.webcontext.id} and find_in_set(#{srf.webcontext.id},t1.path) = 0
						 AND t1.DELETED = '0'
			]]>
    </sql>
    <!--数据查询[Root]-->
    <sql id="Root" databaseId="mysql">
		<![CDATA[ SELECT t1.`BRANCH`, t1.`DELETED`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_MODULE WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`NAME`, t1.`ORDER`, t1.`OWNER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`ROOT`, t21.`NAME` AS `ROOTNAME`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_module` t11 ON t1.`PARENT` = t11.`ID`  LEFT JOIN `zt_product` t21 ON t1.`ROOT` = t21.`ID`  
					 WHERE 	t1.DELETED = '0'
						 AND ( t1.`TYPE` = 'story'  AND  ( t1.`PARENT` IS NULL  OR  t1.`PARENT` = 0 ) )
			]]>
    </sql>
    <!--数据查询[Root_NoBranch]-->
    <sql id="Root_NoBranch" databaseId="mysql">
		<![CDATA[ SELECT t1.`BRANCH`, t1.`DELETED`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_MODULE WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`NAME`, t1.`ORDER`, t1.`OWNER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`ROOT`, t21.`NAME` AS `ROOTNAME`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_module` t11 ON t1.`PARENT` = t11.`ID`  LEFT JOIN `zt_product` t21 ON t1.`ROOT` = t21.`ID`  
					 WHERE 	t1.DELETED = '0'
						 AND ( t1.`TYPE` = 'story'  AND  t1.`BRANCH` = 0  AND  ( t1.`PARENT` IS NULL  OR  t1.`PARENT` = 0 ) )
			]]>
    </sql>
    <!--数据查询[TestModule]-->
    <sql id="TestModule" databaseId="mysql">
		<![CDATA[ SELECT 	t1.`BRANCH`, 	t1.`DELETED`, 	t1.`GRADE`, 	t1.`ID`, 	( CASE WHEN EXISTS ( SELECT 1 FROM ZT_MODULE WHERE PARENT = t1.`ID` ) THEN FALSE ELSE TRUE END ) AS `ISLEAF`, 	CONCAT('/',(select GROUP_CONCAT(tt.name SEPARATOR '/') from zt_module tt where FIND_IN_SET(tt.id,t1.path) and tt.type = 'story' GROUP BY tt.root)) as `NAME`, 	t1.`ORDER`, 	t1.`OWNER`, 	t1.`PARENT`, 	t21.`NAME` AS `PARENTNAME`, 	t1.`PATH`, 	t1.`ROOT`, 	t11.`NAME` AS `ROOTNAME`, 	t1.`SHORT`, 	t1.`TYPE`  FROM 	`zt_module` t1 	LEFT JOIN zt_product t11 ON t1.ROOT = t11.ID 	LEFT JOIN zt_module t21 ON t1.PARENT = t21.ID
					 WHERE 	( t1.`TYPE` = 'story'  AND  t1.`DELETED` = '0' )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`BRANCH`, t1.`COLLECTOR`, t1.`DELETED`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_MODULE WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`NAME`, t1.`ORDER`, t1.`OWNER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`ROOT`, t21.`NAME` AS `ROOTNAME`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_module` t11 ON t1.`PARENT` = t11.`ID`  LEFT JOIN `zt_product` t21 ON t1.`ROOT` = t21.`ID`  
					 WHERE 	t1.DELETED = '0'
			]]>
    </sql>
</mapper>

