.app-form-item-wrapper {
    height: 100%;
}

.app-form-item {
    height: 100%;

    >.ivu-form-item-label {
        text-decoration: none;
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }

    >.ivu-form-item-content {
        height: 100%;
        min-height: 36px;
        
        >.editor {
            height: 100%;
        }
    }
}

.app-form-item.label-top, .app-form-item.label-bottom {

    .app-form-item-label {
        height: 16px;
    }

    .editor {
        height: calc(100% - 16px);
    }
}

.app-form-item.label-left, .app-form-item.label-right {

    .app-form-item-label, .editor {
        height: 100%;
    }
}

.app-form-item.label-left {

    .app-form-item-label {
        float: left;
        text-align: right;
        padding-right: 10px;
    }
}

.app-form-item.label-right {

    .app-form-item-label {
        float: right;
        text-align: left;
        padding-left: 10px;
    }
}

.app-form-item.label-none {

    .app-form-item-label {
        display: none !important;
    }

    .editor {
        height: 100%;
    }
}