.app-mob-menu-sideslip-view-header{
  .header{
    padding: 15px;
    img{
      margin-top: 20px;
      width: 30%;
      margin-bottom: 20px;
    }
    .title{
      color: #fff;
      font-size: 15px;
      margin-bottom: 10px;
    }
    .text{
      display: inline-block;
      padding: 3px 6px;
      background-color: #fff;
      // color: #333;
      font-size: 12px;
      margin-bottom: 10px;
    }
    .van-notice-bar{
      height: 20px;
      line-height: 20px;
      padding-left: 5px;
      padding-right: 0;
      background-color: #fff;
      .notice-swipe {
        height: 20px;
        line-height: 20px;
        font-size: 12px;
      }
    }
  }
}