<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
    <el-table v-if="isDisplay === true"
        :border="isDragendCol"
        :highlight-current-row ="isSingleSelect"
        :row-class-name="getRowClassName.bind(_self)"
        :cell-class-name="getCellClassName.bind(_self)"
        size="mini"
        stripe
        :height="tableHeight"
        @row-click="rowClick($event)"  
        @select-all="selectAll($event)"  
        @select="select($event)"  
        @row-class-name="onRowClassName($event)"  
        @row-dblclick="rowDBLClick($event)"  
        ref='multipleTable' :data="items" :show-header="!isHideHeader">
            <template slot="empty">
                无数据 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type='selection' :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('id')">
                <el-table-column show-overflow-tooltip :prop="'id'" :label="$t('entities.story.main3_grid.columns.id')" :width="70"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.story.main3_grid.columns.id')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.id}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('pri')">
                <el-table-column show-overflow-tooltip :prop="'pri'" :label="$t('entities.story.main3_grid.columns.pri')" :width="70"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.story.main3_grid.columns.pri')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <template >
            <codelist :value="row.pri" tag='Story__pri' codelistType='STATIC' ></codelist>
                        </template>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('title')">
                <el-table-column show-overflow-tooltip :prop="'title'" :label="$t('entities.story.main3_grid.columns.title')" :min-width="0"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.story.main3_grid.columns.title')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <app-column-link deKeyField='story' :context="JSON.parse(JSON.stringify(context))" :viewparams="JSON.parse(JSON.stringify(viewparams))" :data="row" :linkview="{viewname: 'story-main-view', height: 0,width: 0,title: $t('entities.story.views.mainview.title'),placement: 'DRAWER_TOP', isRedirectView: false,deResParameters: [
            { pathName: 'products', parameterName: 'product' },
            ]
            ,parameters: [
            { pathName: 'stories', parameterName: 'story' },
            { pathName: 'mainview', parameterName: 'mainview' }
            ]}" valueitem="srfkey">
                            <span>{{row.title}}</span>
                        </app-column-link >
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('assignedto')">
                <el-table-column show-overflow-tooltip :prop="'assignedto'" :label="$t('entities.story.main3_grid.columns.assignedto')" :width="100"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.story.main3_grid.columns.assignedto')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <template >
            <codelist :value="row.assignedto" tag='UserRealName' codelistType='DYNAMIC' renderMode="STR" valueSeparator="," textSeparator="," ></codelist>
                        </template>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('estimate')">
                <el-table-column show-overflow-tooltip :prop="'estimate'" :label="$t('entities.story.main3_grid.columns.estimate')" :width="100"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.story.main3_grid.columns.estimate')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <app-format-data dataType="FLOAT" precision="0" :data="row.estimate"></app-format-data>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('status')">
                <el-table-column show-overflow-tooltip :prop="'status'" :label="$t('entities.story.main3_grid.columns.status')" :width="100"  :align="'left'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.story.main3_grid.columns.status')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <template >
            <codelist :value="row.status" tag='Story__status' codelistType='STATIC' ></codelist>
                        </template>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('uagridcolumn1')">
                <el-table-column :column-key="'uagridcolumn1'" :label="$t('entities.story.main3_grid.columns.uagridcolumn1')" :width="300"  :align="'center'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.story.main3_grid.columns.uagridcolumn1')}}
                      </span>
                    </template>
                    <template slot-scope="scope">
                        <div style="text-align: center;">
                          <a v-show="scope.row.ChangeStoryDetail.visabled" :disabled="scope.row.ChangeStoryDetail.disabled" @click="uiAction(scope.row, 'ChangeStoryDetail', $event)" :title="$t('entities.story.main3_grid.uiactions.story_changestorydetail')">
                            <i class='fa fa-exchange'></i>
                            
                          </a>
                          <divider v-show="scope.row.ReviewStory.visabled" type='vertical'></divider>
                          <a v-show="scope.row.ReviewStory.visabled" :disabled="scope.row.ReviewStory.disabled" @click="uiAction(scope.row, 'ReviewStory', $event)" :title="$t('entities.story.main3_grid.uiactions.story_reviewstory')">
                            <i class='fa fa-search'></i>
                            
                          </a>
                          <divider v-show="scope.row.CloseStory.visabled" type='vertical'></divider>
                          <a v-show="scope.row.CloseStory.visabled" :disabled="scope.row.CloseStory.disabled" @click="uiAction(scope.row, 'CloseStory', $event)" :title="$t('entities.story.main3_grid.uiactions.story_closestory')">
                            <i class='fa fa-power-off'></i>
                            
                          </a>
                          <divider v-show="scope.row.OpenBaseInfoEditView.visabled" type='vertical'></divider>
                          <a v-show="scope.row.OpenBaseInfoEditView.visabled" :disabled="scope.row.OpenBaseInfoEditView.disabled" @click="uiAction(scope.row, 'OpenBaseInfoEditView', $event)" :title="$t('entities.story.main3_grid.uiactions.story_openbaseinfoeditview')">
                            <i class='fa fa-edit'></i>
                            
                          </a>
                          <divider v-show="scope.row.OpenCaseCreateView.visabled" type='vertical'></divider>
                          <a v-show="scope.row.OpenCaseCreateView.visabled" :disabled="scope.row.OpenCaseCreateView.disabled" @click="uiAction(scope.row, 'OpenCaseCreateView', $event)" :title="$t('entities.story.main3_grid.uiactions.story_opencasecreateview')">
                            <i class='fa fa-lightbulb-o'></i>
                            
                          </a>
                          <divider v-show="scope.row.SubStory.visabled" type='vertical'></divider>
                          <a v-show="scope.row.SubStory.visabled" :disabled="scope.row.SubStory.disabled" @click="uiAction(scope.row, 'SubStory', $event)" :title="$t('entities.story.main3_grid.uiactions.story_substory')">
                            <i class='iconfont studio-icon-subnets'></i>
                            
                          </a>
                          <divider v-show="scope.row.StoryFavorites.visabled" type='vertical'></divider>
                          <a v-show="scope.row.StoryFavorites.visabled" :disabled="scope.row.StoryFavorites.disabled" @click="uiAction(scope.row, 'StoryFavorites', $event)" :title="$t('entities.story.main3_grid.uiactions.story_storyfavorites')">
                            <i class='fa fa-star-o'></i>
                            
                          </a>
                          <divider v-show="scope.row.StoryNFavorites.visabled" type='vertical'></divider>
                          <a v-show="scope.row.StoryNFavorites.visabled" :disabled="scope.row.StoryNFavorites.disabled" @click="uiAction(scope.row, 'StoryNFavorites', $event)" :title="$t('entities.story.main3_grid.uiactions.story_storynfavorites')">
                            <i class='fa fa-star'></i>
                            
                          </a>
                        </div>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
    </el-table>
  </i-form>
</div>