//公共部分
.right-common-icon{
    position: absolute;
    top: 3px;
    right: 3px;
}

//多编辑视图删除图标样式
.meditviewpanel_delete_icon {
    font-size: 20px;
    top: 5px;
    right: 5px;
    z-index: 1;
}

//工具栏图标样式
.group_ion-icon {
    margin-right: 10px;
}

//视图布局面板向下走图标样式
.sort-icon {
    .sort-select {
        color: #3880ff;;
    }
}

//多选图标样式
.app-mob-mdctrl-mdctrl {
    .items {
        .select-icon {
            font-size: 32px;
        }
    }
}
//全选
.batch_btn{
    .selectall-icon {
        font-size: 32px;
    }
}

// app-form-group 图标样式
.app-form-group {
    .group-collapse {
        position: absolute;
        right: 10px;
      }
    .group-title {
        .group-title-icon {
            margin-right: 2px;
        }
    }
}

//app-mob-mpicker 图标样式
.app-mob-mpicker {
    .open-picker {
      right: 3px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
    }
}

//app-mob-picker 图标样式
.app-picker {
    .open-picker {
      top: 13px;  
      z-index: 3;
    }
    .delete-value {
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        color: @from-main-color;
    }
}

//app-mob-rich-text-editor 图标样式
.app-mob-rich-text-editor{
    .app-mob-rich-text-editor-icon{
        margin-right: 4px;
        color: #777272;
        font-size: 18px;
    }
}


