// this is less
.srf_empty_class {
    width: 100%;
    height: 100%;
}
.title-label{
    ion-icon {
      margin-bottom: 2px;
      vertical-align: middle;
    }
    img{
      width: 22px;
      height: 22px;
      margin-right: 5px;
      vertical-align: middle;
    }
    span{
      vertical-align: middle;
    }
}




//去除滚动条高度
ion-infinite-scroll-content{
  min-height: 1px;
}

.sys-update-log-mob-edit-view {
    .view-footer {
        text-align: center;
        .van-button {
            height: 2.5rem;
            line-height: 2.5rem;
            width: 40%;
        }
    }
}