<split id="storytreeexpviewtreeexpbar" class='app-tree-exp-bar' v-model="split" mode="horizontal" @on-move-end="onSplitChange">
    <div class="app-tree-exp-bar-left enable-search" slot='left'>
        <div class='search-content'>
            <i-input :search="true"
                @on-change="($event) => { this.srfnodefilter = $event.target.value; }"
                @on-search="onSearch">
            </i-input>
        </div>
        <div class='tree-exp-content'>
                        <view_treeexpbar_tree 
                :viewState="viewState"  
                :viewparams="viewparams" 
                :context="context" 
                :showBusyIndicator="true"
                updateAction='Update' 
                removeAction='Remove' 
                loadAction='Get' 
                createAction='Create' 
                :isSelectFirstDefault="true"
                :isBranchAvailable="true"
                name="treeexpbar_tree"  
                ref='treeexpbar_tree' 
                @selectionchange="treeexpbar_tree_selectionchange($event)"  
                @load="treeexpbar_tree_load($event)"  
                @closeview="closeView($event)">
            </view_treeexpbar_tree>
        </div>
    </div>
    <div class="app-tree-exp-bar-right" slot='right'>
        <component 
            v-if="selection.view && !Object.is(this.selection.view.viewname, '')" 
            :is="selection.view.viewname"
            class="viewcontainer2"
            :viewDefaultUsage="false"
            :viewdata="JSON.stringify(selection.context)"
            :viewparam="JSON.stringify(selection.viewparam)"
            @viewdataschange="onViewDatasChange"
            @viewdatasactivated="viewDatasActivated"
            @viewload="onViewLoad">
        </component>
    </div>
</split>
