<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
        <el-table v-if="isDisplay === true"
            :border="isDragendCol"
            :class="true && items.length > 0 ? 'total-row-table' : ''"
            :show-summary="true && items.length > 0"
            :summary-method="getSummaries"
            :highlight-current-row ="isSingleSelect"
            :row-class-name="getRowClassName.bind(_self)"
            :cell-class-name="getCellClassName.bind(_self)"
            size="mini"
            stripe
            :height="tableHeight"
            @row-click="rowClick($event)"  
            @select-all="selectAll($event)"  
            @select="select.apply(_self, arguments)"  
            @row-class-name="onRowClassName($event)"  
            @row-dblclick="rowDBLClick($event)"  
            ref="multipleTable" :data="items" :show-header="!isHideHeader"
        >
            <template slot="empty">
                {{$t('entities.productsum.productstorysum_grid.nodata')}} 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type="selection" :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('name')">
                <el-table-column show-overflow-tooltip :prop="'name'" :label="$t('entities.productsum.productstorysum_grid.columns.name')" :min-width="180"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.name')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.name}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('po')">
                <el-table-column show-overflow-tooltip :prop="'po'" :label="$t('entities.productsum.productstorysum_grid.columns.po')" :width="120"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.po')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <template >
            <codelist :value="row.po" tag="UserRealName" codelistType="DYNAMIC" renderMode="STR" valueSeparator="," textSeparator="," ></codelist>
                        </template>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('waitstagestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'waitstagestorycnt'" :label="$t('entities.productsum.productstorysum_grid.columns.waitstagestorycnt')" :width="80"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.waitstagestorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.waitstagestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('planedstagestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'planedstagestorycnt'" :label="$t('entities.productsum.productstorysum_grid.columns.planedstagestorycnt')" :width="80"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.planedstagestorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.planedstagestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('projectedstagestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'projectedstagestorycnt'" :label="$t('entities.productsum.productstorysum_grid.columns.projectedstagestorycnt')" :width="80"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.projectedstagestorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.projectedstagestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('developingstagestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'developingstagestorycnt'" :label="$t('entities.productsum.productstorysum_grid.columns.developingstagestorycnt')" :width="80"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.developingstagestorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.developingstagestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('developedstagestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'developedstagestorycnt'" :label="$t('entities.productsum.productstorysum_grid.columns.developedstagestorycnt')" :width="80"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.developedstagestorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.developedstagestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('testingstagestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'testingstagestorycnt'" :label="$t('entities.productsum.productstorysum_grid.columns.testingstagestorycnt')" :width="80"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.testingstagestorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.testingstagestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('testedstagestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'testedstagestorycnt'" :label="$t('entities.productsum.productstorysum_grid.columns.testedstagestorycnt')" :width="80"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.testedstagestorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.testedstagestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('verifiedstagestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'verifiedstagestorycnt'" :label="$t('entities.productsum.productstorysum_grid.columns.verifiedstagestorycnt')" :width="80"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.verifiedstagestorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.verifiedstagestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('releasedstagestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'releasedstagestorycnt'" :label="$t('entities.productsum.productstorysum_grid.columns.releasedstagestorycnt')" :width="80"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.releasedstagestorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.releasedstagestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('closedstagestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'closedstagestorycnt'" :label="$t('entities.productsum.productstorysum_grid.columns.closedstagestorycnt')" :width="80"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.closedstagestorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.closedstagestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('storycnt')">
                <el-table-column show-overflow-tooltip :prop="'storycnt'" :label="$t('entities.productsum.productstorysum_grid.columns.storycnt')" :width="80"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.productstorysum_grid.columns.storycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.storycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
        </el-table>
    </i-form>
</div>