.app-data-view-group {
  height: 100%;
  display: flex;
  .dataview-group-content {
    border: 1px solid #ddd;
    border-left: 0;
    .dataview-group-header {
      height: 36px;
      line-height: 36px;
      border-bottom: 1px solid #ddd;
      padding: 0 8px;
      .group-action {
        .group-action-item:nth-child(1) + .group-action-item {
          margin-top: 5px;
        }
      }
    }
    .dataview-group-item {
      margin: 8px 8px 0 8px;
      border: 1px solid #ddd;
      padding: 8px;
    }
    .dataview-group-item.is-select {
      border-color: #108cee;
    }
  }
  .dataview-group-content:nth-child(1) {
    border-left: 1px solid #ddd;
  }
}
// this is less
