<div class="app-data-view-group">
        <template v-for="(group, index) of groups">
        <div :key="group + index" class="dataview-group-content" style="width: 280px;">
    <div class="dataview-group-header" :style="getHeaderStyle(group.name)">
        {{ getGroupText(group.name) }}
    </div>
    <draggable :list="group.items" group="kanban" class="dataview-group-items" @change="onDragChange($event, group.name)">
        <div v-for="(item, i) in group.items" :key="i" :class="{'dataview-group-item': true, 'is-select': item.isselected}" @click="handleClick(item)" @dblclick="handleDblClick(item)">
            <layout_itemlayoutpanel name='itemlayoutpanel' :inputData="item"></layout_itemlayoutpanel>
        </div>
    </draggable>
</div>
    </template>
  </div>