.form {
    --form: 0px;
}
// this is less
.MainInfo {
    font-size:40px;font-weight:bold
}
.MainInfo {
  .ivu-form-item-label {
		position: relative;
		line-height: 40px;
		font-size: 30px;
	}
	.ivu-form-item-content {
		position: relative;
		line-height: 40px;
		font-size: 30px;
	  text-align: center;
	}
}
