.app-mob-color-picker{
    .text{
        margin-right: 30px;
        position: relative;
    }
    .picker{
        position: absolute;
        top: 10px;
        right: 16px;
        .color{
            border-color: transparent;
            border-width: 12px;
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            right: 0;
            background-color: transparent;
        }
    }
}