<div>
    <div v-if="filterFields.length > 0" class="filter-group">
        <filter-tree :datas="filterItems" :fields="filterFields">
            <template slot-scope="{ data }">
                <template v-if="Object.is(data.editor, 'namelike')">
                    <input-box 
    v-model="data.namelike"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.namelike.disabled" 
    type='text' 
    style="width:100px;">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'producteq')">
                    
<dropdown-list 
    v-model="data.producteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.producteq.disabled"
    valueType="number"
    tag="Product"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'typeeq')">
                    
<dropdown-list 
    v-model="data.typeeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.typeeq.disabled"
    valueType="string"
    tag="Testsuite__type"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
            </template>
        </filter-tree>
    </div>
    <div class="search-bar-footer">
        <div class="search-bar-action">
            <el-select size="small" v-if="historyItems.length > 0" v-model="selectItem" @change="onFilterChange.apply(_self, arguments)">
                <el-option v-for="item in historyItems" :key="item.value" :label="item.name" :value="item.value"></el-option>
            </el-select>
            <i-button type="primary" @click="onSearch.apply(_self, arguments)">{{ $t('app.searchButton.search') }}</i-button>
            <i-button @click="onReset.apply(_self, arguments)">{{ $t('app.searchButton.reset') }}</i-button>
            <Poptip
                ref="propip"
                trigger="hover"
                transfer
                placement="top-end"
                :title="$t('app.searchForm.custom')"
                :width="250"
                @on-popper-show="openPoper.apply(_self, arguments)"
            >
                <i-button><i class="fa fa-floppy-o" aria-hidden="true"></i></i-button>
                <template slot="content">
                    <div>
                        <i-input v-model="saveItemName" :placeholder="$t('app.searchForm.title')"></i-input>
                        <div class="save-action">
                            <i-button @click="onCancel.apply(_self, arguments)">{{ $t('app.commonWords.cancel') }}</i-button>
                            <i-button type="primary" @click="onOk.apply(_self, arguments)">{{ $t('app.commonWords.save') }}</i-button>
                        </div>
                    </div>
                </template>
            </Poptip>
        </div>
    </div>
</div>