<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="ibzdaily_maininfo"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
            <i-col
    class="form-layout-container"
    v-show="detailsModel.group1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    :xl="{ span: 12, offset: 0 }"
>
    <app-form-group
    :model="detailsModel.group1"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.group1.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.ibzdaily.maininfo_form.details.group1')"
    :isShowCaption="false"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.group1"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.ibz_dailyname.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="ibz_dailyname"
    :itemRules="this.rules().ibz_dailyname"
    class=""

    :caption="$t('entities.ibzdaily.maininfo_form.details.ibz_dailyname')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.ibz_dailyname.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <input-box 
    v-model="data.ibz_dailyname"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.ibz_dailyname.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.date.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="date"
    :itemRules="this.rules().date"
    class=""

    :caption="$t('entities.ibzdaily.maininfo_form.details.date')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.date.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.date" :disabled="detailsModel.date.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.date = val1 }"></date-picker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.worktoday.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="worktoday"
    :itemRules="this.rules().worktoday"
    class=""

    :caption="$t('entities.ibzdaily.maininfo_form.details.worktoday')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.worktoday.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<rich-text-editor 
    :formState="formState" 
    :value="data.worktoday"
    @change="(val) =>{this.data.worktoday =val}"
    @formitemvaluechange="onFormItemValueChange($event)" 
    :disabled="detailsModel.worktoday.disabled" 
    :data="JSON.stringify(this.data)"  
    name="worktoday" 
    :viewparams="viewparams"
    :context="context"
    :uploadparams='{objecttype:"daily",version:"editor"}' 
    :exportparams='{objecttype:"daily",version:"editor"}' 
    :templParams='{ }' 
    style=""
></rich-text-editor>
</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.planstomorrow.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="planstomorrow"
    :itemRules="this.rules().planstomorrow"
    class=""

    :caption="$t('entities.ibzdaily.maininfo_form.details.planstomorrow')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.planstomorrow.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<rich-text-editor 
    :formState="formState" 
    :value="data.planstomorrow"
    @change="(val) =>{this.data.planstomorrow =val}"
    @formitemvaluechange="onFormItemValueChange($event)" 
    :disabled="detailsModel.planstomorrow.disabled" 
    :data="JSON.stringify(this.data)"  
    name="planstomorrow" 
    :viewparams="viewparams"
    :context="context"
    :uploadparams='{objecttype:"daily",version:"editor"}' 
    :exportparams='{objecttype:"daily",version:"editor"}' 
    :templParams='{ }' 
    style=""
></rich-text-editor>
</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.comment.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="comment"
    :itemRules="this.rules().comment"
    class=""

    :caption="$t('entities.ibzdaily.maininfo_form.details.comment')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.comment.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<rich-text-editor 
    :formState="formState" 
    :value="data.comment"
    @change="(val) =>{this.data.comment =val}"
    @formitemvaluechange="onFormItemValueChange($event)" 
    :disabled="detailsModel.comment.disabled" 
    :data="JSON.stringify(this.data)"  
    name="comment" 
    :viewparams="viewparams"
    :context="context"
    :uploadparams='{objecttype:"daily",version:"editor"}' 
    :exportparams='{objecttype:"daily",version:"editor"}' 
    :templParams='{ }' 
    style=""
></rich-text-editor>
</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.reportto.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    :xl="{ span: 12, offset: 0 }"
>
    <app-form-item
    name="reportto"
    :itemRules="this.rules().reportto"
    class=""

    :caption="$t('entities.ibzdaily.maininfo_form.details.reportto')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.reportto.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list 
    v-model="data.reportto"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.reportto.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.mailto.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    :xl="{ span: 12, offset: 0 }"
>
    <app-form-item
    name="mailto"
    :itemRules="this.rules().mailto"
    class=""

    :caption="$t('entities.ibzdaily.maininfo_form.details.mailto')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.mailto.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.mailto"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.mailto.disabled"
  tag='UserRealName' 
  codelistType='DYNAMIC' 
  valueSeparator=","
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.grouppanel4.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.grouppanel4"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.grouppanel4.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.ibzdaily.maininfo_form.details.grouppanel4')"
    :isShowCaption="true"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.grouppanel4"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.druipart3.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-druipart
    
    :formState="formState"
    :isForbidLoad="this.data.srfuf === '0'"
    paramItem="ibzdaily" 
    :parentdata='{"srfparentdename":"IBZ_DAILY","SRFPARENTTYPE":"CUSTOM"}'
    :parameters="[
    ]"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{}'
    :localParam ='{objecttype:"daily"}'
    parameterName="ibzdaily"
    parentName="IbzDaily"  
    refviewtype="DELISTVIEW9" 
    refreshitems="" 
    :ignorefieldvaluechange="ignorefieldvaluechange"
    viewname="file-list-view9" 
    :data="JSON.stringify(this.data)" 
    @drdatasaved="drdatasaved.apply(_self, arguments)"
    style="overflow: auto;">
</app-form-druipart>

</i-col>
    
    </row>
</app-form-group>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.grouppanel5.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.grouppanel5"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.grouppanel5.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.ibzdaily.maininfo_form.details.grouppanel5')"
    :isShowCaption="false"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.grouppanel5"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.druipart4.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-druipart
    
    :formState="formState"
    :isForbidLoad="this.data.srfuf === '0'"
    paramItem="ibzdaily" 
    :parentdata='{"srfparentdename":"IBZ_DAILY","SRFPARENTTYPE":"CUSTOM"}'
    :parameters="[
    ]"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{}'
    :localParam ='{objecttype:"daily"}'
    parameterName="ibzdaily"
    parentName="IbzDaily"  
    refviewtype="DELISTVIEW" 
    refreshitems="" 
    :ignorefieldvaluechange="ignorefieldvaluechange"
    viewname="action-add-comment-history-list-view" 
    :data="JSON.stringify(this.data)" 
    @drdatasaved="drdatasaved.apply(_self, arguments)"
    style="overflow: auto;">
</app-form-druipart>

</i-col>
    
    </row>
</app-form-group>

</i-col>
    
    </row>
</app-form-group>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.grouppanel1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    :xl="{ span: 12, offset: 0 }"
>
    <app-form-group
    :model="detailsModel.grouppanel1"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.grouppanel1.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.ibzdaily.maininfo_form.details.grouppanel1')"
    :isShowCaption="false"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.grouppanel1"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.grouppanel2.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.grouppanel2"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.grouppanel2.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.ibzdaily.maininfo_form.details.grouppanel2')"
    :isShowCaption="true"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.grouppanel2"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.druipart1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-druipart
    
    :formState="formState"
    :isForbidLoad="this.data.srfuf === '0'"
    paramItem="ibzdaily" 
    :parentdata='{"srfparentdename":"IBZ_DAILY","SRFPARENTTYPE":"CUSTOM"}'
    :parameters="[
        {
            pathName: 'stories',
            parameterName: 'story',
        },
    ]"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{}'
    :localParam ='{todaytask:"%todaytask%"}'
    parameterName="ibzdaily"
    parentName="IbzDaily"  
    refviewtype="DEGRIDVIEW9" 
    refreshitems=" TodayTask" 
    :ignorefieldvaluechange="ignorefieldvaluechange"
    viewname="task-zs-grid-view9" 
    :data="JSON.stringify(this.data)" 
    @drdatasaved="drdatasaved.apply(_self, arguments)"
    style="overflow: auto;">
</app-form-druipart>

</i-col>
    
    </row>
</app-form-group>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.grouppanel3.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.grouppanel3"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.grouppanel3.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.ibzdaily.maininfo_form.details.grouppanel3')"
    :isShowCaption="true"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.grouppanel3"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.druipart2.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-druipart
    
    :formState="formState"
    :isForbidLoad="this.data.srfuf === '0'"
    paramItem="ibzdaily" 
    :parentdata='{"srfparentdename":"IBZ_DAILY","SRFPARENTTYPE":"CUSTOM"}'
    :parameters="[
        {
            pathName: 'stories',
            parameterName: 'story',
        },
    ]"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{}'
    :localParam ='{todaytask:"%tomorrowplanstask%"}'
    parameterName="ibzdaily"
    parentName="IbzDaily"  
    refviewtype="DEGRIDVIEW9" 
    refreshitems="TomorrowPlansTask" 
    :ignorefieldvaluechange="ignorefieldvaluechange"
    viewname="task-zs-grid-view9" 
    :data="JSON.stringify(this.data)" 
    @drdatasaved="drdatasaved.apply(_self, arguments)"
    style="overflow: auto;">
</app-form-druipart>

</i-col>
    
    </row>
</app-form-group>

</i-col>
    
    </row>
</app-form-group>

</i-col>


    </row>
</i-form>
