.text-center-title {
    text-align:center
}
.text-center-title{
    color: #3c4353;
    font-size:14px ;
}
.panelitem-20px {
    font-size:20px;font-weight:bold
}

.text-center {
    text-align:center
}
.text-center{
    font-size: 23px;
    font-weight: 900;
}
