.title-font-weight {
    font-weight: 900;
    
}
.form-padding {
    padding:8px 8px 8px 8px
}

.text-center {
    text-align:center
}

.red-font-border-radius {
    color: red;
    border: 1px solid red;
    padding: 0 4px;
    border-radius: 3px;
    height: 24px;
    line-height: 22px;
}
.container-right-border {
    border-right: 1px solid #ccc ;
}
.big-bold-font {
    font-size:25px ;
    font-weight:bold ;
}
