.text-center-title {
    text-align:center
}
.text-center-title{
    color: #3c4353;
    font-size:14px ;
}
.panelitem-20px {
    font-size:20px;font-weight:bold
}

.text-center {
    text-align:center
}
.text-center{
    font-size: 23px;
    font-weight: 900;
}
.text-center-red {
    color:rgba(255, 93, 93, 1);text-align:center
}
.text-center-red{
    border: 1px solid rgba(255, 93, 93, 0.25);;
    background: #ffebee;
    padding: 0 4px;
    border-radius: 3px;
    height: 24px;
    line-height: 22px;
    width:10%;
}
