<i-form :model="this.data" class='app-form' ref='form'  id='user_main' style="">
    <input style="display:none;" />
    <row >
            
<i-col class="form-layout-container" v-show="detailsModel.grouppanel3.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-group :model="detailsModel.grouppanel3" layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.grouppanel3.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.user.main_form.details.grouppanel3')" :isShowCaption="false" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <app-form-group-data-panel slot="dataInfoPanel" :model="detailsModel.grouppanel3" :data="data" :context="context" :viewparams="viewparams"/>
    <row>
        <i-col class="form-layout-container" v-show="detailsModel.group1.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-group :model="detailsModel.group1" layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.group1.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.user.main_form.details.group1')" :isShowCaption="false" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <app-form-group-data-panel slot="dataInfoPanel" :model="detailsModel.group1" :data="data" :context="context" :viewparams="viewparams"/>
    <row>
        <i-col class="form-layout-container" v-show="detailsModel.realname.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='realname' :itemRules="this.rules.realname" class='' :caption="$t('entities.user.main_form.details.realname')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.realname.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.realname"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.realname.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.join.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='join' :itemRules="this.rules.join" class='' :caption="$t('entities.user.main_form.details.join')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.join.error" :isEmptyCaption="false" labelPos="LEFT">
    <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.join" :disabled="detailsModel.join.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.join = val1 }"></date-picker>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.dept.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='dept' :itemRules="this.rules.dept" class='' :caption="$t('entities.user.main_form.details.dept')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.dept.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.dept"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.dept.disabled" 
    type='number' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.role.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='role' :itemRules="this.rules.role" class='' :caption="$t('entities.user.main_form.details.role')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.role.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.role"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.role.disabled"
    valueType="string"
    tag='Role'
    codelistType='DYNAMIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.gender.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='gender' :itemRules="this.rules.gender" class='' :caption="$t('entities.user.main_form.details.gender')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.gender.error" :isEmptyCaption="false" labelPos="LEFT">
    
<app-radio-group 
  v-model="data.gender"
  :data="data" 
  :context="context"
  :viewparams="viewparams"   
  :disabled="detailsModel.gender.disabled"  
  name="gender" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  tag='User__gender' 
  codelistType='STATIC' 
  style="">
</app-radio-group>

</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.grouppanel1.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-group :model="detailsModel.grouppanel1" layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.grouppanel1.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.user.main_form.details.grouppanel1')" :isShowCaption="true" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <app-form-group-data-panel slot="dataInfoPanel" :model="detailsModel.grouppanel1" :data="data" :context="context" :viewparams="viewparams"/>
    <row>
        <i-col class="form-layout-container" v-show="detailsModel.account.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='account' :itemRules="this.rules.account" class='' :caption="$t('entities.user.main_form.details.account')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.account.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.account"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.account.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.email.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='email' :itemRules="this.rules.email" class='' :caption="$t('entities.user.main_form.details.email')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.email.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.email"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.email.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.password.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='password' :itemRules="this.rules.password" class='' :caption="$t('entities.user.main_form.details.password')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.password.error" :isEmptyCaption="false" labelPos="LEFT">
    <i-input type="password" v-model="data.password" :disabled="detailsModel.password.disabled" style=""></i-input>

</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.grouppanel2.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-group :model="detailsModel.grouppanel2" layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.grouppanel2.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.user.main_form.details.grouppanel2')" :isShowCaption="true" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <app-form-group-data-panel slot="dataInfoPanel" :model="detailsModel.grouppanel2" :data="data" :context="context" :viewparams="viewparams"/>
    <row>
        <i-col class="form-layout-container" v-show="detailsModel.mobile.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='mobile' :itemRules="this.rules.mobile" class='' :caption="$t('entities.user.main_form.details.mobile')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.mobile.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.mobile"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.mobile.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.phone.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='phone' :itemRules="this.rules.phone" class='' :caption="$t('entities.user.main_form.details.phone')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.phone.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.phone"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.phone.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.qq.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='qq' :itemRules="this.rules.qq" class='' :caption="$t('entities.user.main_form.details.qq')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.qq.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.qq"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.qq.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.dingding.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='dingding' :itemRules="this.rules.dingding" class='' :caption="$t('entities.user.main_form.details.dingding')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.dingding.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.dingding"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.dingding.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.weixin.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='weixin' :itemRules="this.rules.weixin" class='' :caption="$t('entities.user.main_form.details.weixin')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.weixin.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.weixin"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.weixin.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.address.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='address' :itemRules="this.rules.address" class='' :caption="$t('entities.user.main_form.details.address')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.address.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.address"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.address.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>
    
    </row>
</app-form-group>

</i-col>


    </row>
</i-form>