<div>
    <div v-if="filterFields.length > 0" class="filter-group">
        <filter-tree :datas="filterItems" :fields="filterFields">
            <template slot-scope="{ data }">
                                <template v-if="Object.is(data.field, 'id')">
                    <input-box v-model="data.id"  @enter="onEnter($event)"    :disabled="detailsModel.id.disabled" type='number'  style=""></input-box>
                </template>
                <template v-if="Object.is(data.field, 'keywords')">
                    <input-box v-model="data.keywords"  @enter="onEnter($event)"    :disabled="detailsModel.keywords.disabled" type='text'  style=""></input-box>
                </template>
                <template v-if="Object.is(data.field, 'pri')">
                    <input-box v-model="data.pri"  @enter="onEnter($event)"    :disabled="detailsModel.pri.disabled" type='number'  style=""></input-box>
                </template>
                <template v-if="Object.is(data.field, 'stage')">
                    <input-box v-model="data.stage"  @enter="onEnter($event)"    :disabled="detailsModel.stage.disabled" type='text'  style=""></input-box>
                </template>
                <template v-if="Object.is(data.field, 'status')">
                    <input-box v-model="data.status"  @enter="onEnter($event)"    :disabled="detailsModel.status.disabled" type='text'  style=""></input-box>
                </template>
                <template v-if="Object.is(data.field, 'title')">
                    <input-box v-model="data.title"  @enter="onEnter($event)"    :disabled="detailsModel.title.disabled" type='text'  style=""></input-box>
                </template>
            </template>
        </filter-tree>
    </div>
    <div class="search-bar-footer">
        <div class="search-bar-action">
            <el-select size="small" v-if="historyItems.length > 0" v-model="selectItem" @change="onFilterChange">
                <el-option v-for="item in historyItems" :key="item.value" :label="item.name" :value="item.value"></el-option>
            </el-select>
            <i-button type="primary" @click="onSearch">搜索</i-button>
            <i-button @click="onReset">重置</i-button>
            <Poptip ref="propip" trigger="hover" placement="top-end" title="存储自定义查询" :width="250" @on-popper-show="openPoper">
                <i-button><i class="fa fa-floppy-o" aria-hidden="true"></i></i-button>
                <template slot="content">
                    <div>
                        <i-input v-model="saveItemName" placeholder="名称"></i-input>
                        <div class="save-action">
                            <i-button @click="onCancel">取消</i-button>
                            <i-button type="primary" @click="onOk">保存</i-button>
                        </div>
                    </div>
                </template>
            </Poptip>
        </div>
    </div>
</div>