<div>
    <div v-if="filterFields.length > 0" class="filter-group">
        <filter-tree :datas="filterItems" :fields="filterFields">
            <template slot-scope="{ data }">
                                <template v-if="Object.is(data.editor, 'ideq')">
                    <input-box 
  v-model="data.ideq"  
  @enter="onEnter($event)"  
  
  :disabled="detailsModel.ideq.disabled" 
  type='number' 
   
  style="">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'pri')">
                    
<dropdown-list 
    v-model="data.pri"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.pri.disabled"
    valueType="number"
    tag='Story__pri'
    codelistType='STATIC'
    placeholder='请选择...'
    style="width:100px;"
/>
                </template>
                <template v-if="Object.is(data.editor, 'prigteq')">
                    
<dropdown-list 
    v-model="data.prigteq"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.prigteq.disabled"
    valueType="number"
    tag='Story__pri'
    codelistType='STATIC'
    placeholder='请选择...'
    style="width:100px;"
/>
                </template>
                <template v-if="Object.is(data.editor, 'prilteq')">
                    
<dropdown-list 
    v-model="data.prilteq"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.prilteq.disabled"
    valueType="number"
    tag='Story__pri'
    codelistType='STATIC'
    placeholder='请选择...'
    style="width:100px;"
/>
                </template>
                <template v-if="Object.is(data.editor, 'stageeq')">
                    
<dropdown-list 
    v-model="data.stageeq"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.stageeq.disabled"
    valueType="string"
    tag='Story__stage'
    codelistType='STATIC'
    placeholder='请选择...'
    style="width:100px;"
/>
                </template>
                <template v-if="Object.is(data.editor, 'stagenoteq')">
                    
<dropdown-list 
    v-model="data.stagenoteq"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.stagenoteq.disabled"
    valueType="string"
    tag='Story__stage'
    codelistType='STATIC'
    placeholder='请选择...'
    style="width:100px;"
/>
                </template>
                <template v-if="Object.is(data.editor, 'titlelike')">
                    <input-box 
    v-model="data.titlelike"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.titlelike.disabled" 
    type='text' 
    style="width:100px;">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'statuseq')">
                    
<dropdown-list 
    v-model="data.statuseq"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.statuseq.disabled"
    valueType="string"
    tag='Story__status'
    codelistType='STATIC'
    placeholder='请选择...'
    style="width:100px;"
/>
                </template>
                <template v-if="Object.is(data.editor, 'keywords')">
                    <input-box 
    v-model="data.keywords"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.keywords.disabled" 
    type='text' 
    style="">
</input-box>

                </template>
            </template>
        </filter-tree>
    </div>
    <div class="search-bar-footer">
        <div class="search-bar-action">
            <el-select size="small" v-if="historyItems.length > 0" v-model="selectItem" @change="onFilterChange.apply(_self, arguments)">
                <el-option v-for="item in historyItems" :key="item.value" :label="item.name" :value="item.value"></el-option>
            </el-select>
            <i-button type="primary" @click="onSearch.apply(_self, arguments)">{{ $t('app.searchButton.search') }}</i-button>
            <i-button @click="onReset.apply(_self, arguments)">{{ $t('app.searchButton.reset') }}</i-button>
            <Poptip ref="propip" trigger="hover" transfer placement="top-end" :title="$t('app.searchForm.custom')" :width="250" @on-popper-show="openPoper.apply(_self, arguments)">
                <i-button><i class="fa fa-floppy-o" aria-hidden="true"></i></i-button>
                <template slot="content">
                    <div>
                        <i-input v-model="saveItemName" :placeholder="$t('app.searchForm.title')"></i-input>
                        <div class="save-action">
                            <i-button @click="onCancel.apply(_self, arguments)">{{ $t('app.commonWords.cancel') }}</i-button>
                            <i-button type="primary" @click="onOk.apply(_self, arguments)">{{ $t('app.commonWords.save') }}</i-button>
                        </div>
                    </div>
                </template>
            </Poptip>
        </div>
    </div>
</div>