<div>
    <div v-if="filterFields.length > 0" class="filter-group">
        <filter-tree :datas="filterItems" :fields="filterFields">
            <template slot-scope="{ data }">
                <template v-if="Object.is(data.editor, 'ideq')">
                    <input-box 
  v-model="data.ideq"  
  @enter="onEnter($event)"  
  
  :disabled="detailsModel.ideq.disabled" 
  type='number' 
   
  style="">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'idnoteq')">
                    <input-box 
  v-model="data.idnoteq"  
  @enter="onEnter($event)"  
  
  :disabled="detailsModel.idnoteq.disabled" 
  type='number' 
   
  style="">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'pri')">
                    
<dropdown-list 
    v-model="data.pri"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.pri.disabled"
    valueType="number"
    tag="Story__pri"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'prigteq')">
                    
<dropdown-list 
    v-model="data.prigteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.prigteq.disabled"
    valueType="number"
    tag="Story__pri"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'prilteq')">
                    
<dropdown-list 
    v-model="data.prilteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.prilteq.disabled"
    valueType="number"
    tag="Story__pri"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'stageeq')">
                    
<dropdown-list 
    v-model="data.stageeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.stageeq.disabled"
    valueType="string"
    tag="Story__stage"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'stagenoteq')">
                    
<dropdown-list 
    v-model="data.stagenoteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.stagenoteq.disabled"
    valueType="string"
    tag="Story__stage"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'titlelike')">
                    <input-box 
    v-model="data.titlelike"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.titlelike.disabled" 
    type='text' 
    style="width:100px;">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'statuseq')">
                    
<dropdown-list 
    v-model="data.statuseq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.statuseq.disabled"
    valueType="string"
    tag="Story__status"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'statusnoteq')">
                    
<dropdown-list 
    v-model="data.statusnoteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.statusnoteq.disabled"
    valueType="string"
    tag="Story__status"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'keywords')">
                    <input-box 
    v-model="data.keywords"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.keywords.disabled" 
    type='text' 
    style="width:100px;">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'assignedtoeq')">
                    
<dropdown-list 
    v-model="data.assignedtoeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.assignedtoeq.disabled"
    valueType="string"
    tag="UserRealNameProductTeam"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'branchnameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.branchnameeq.disabled"
    name="branchnameeq"
    deMajorField="name"
    deKeyField="branch"
    :service="service"
    :acParams="{ serviceName: 'BranchService', interfaceName: 'FetchDefault'}"
    valueitem=""
    :value="data.branchnameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'branchnamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.branchnamelike.disabled"
    name="branchnamelike"
    deMajorField="name"
    deKeyField="branch"
    :service="service"
    :acParams="{ serviceName: 'BranchService', interfaceName: 'FetchDefault'}"
    valueitem=""
    :value="data.branchnamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'closedbyeq')">
                    
<dropdown-list 
    v-model="data.closedbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.closedbyeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'closedreasoneq')">
                    
<dropdown-list 
    v-model="data.closedreasoneq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.closedreasoneq.disabled"
    valueType="string"
    tag="Story__closed_reason"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'coloreq')">
                    
<dropdown-list 
    v-model="data.coloreq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.coloreq.disabled"
    valueType="string"
    tag="Story__color"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'duplicatestoryeq')">
                    
<dropdown-list 
    v-model="data.duplicatestoryeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.duplicatestoryeq.disabled"
    valueType="number"
    tag="AllStory"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'frombugeq')">
                    
<dropdown-list 
    v-model="data.frombugeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.frombugeq.disabled"
    valueType="number"
    tag="AllBug"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'lasteditedbyeq')">
                    
<dropdown-list 
    v-model="data.lasteditedbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.lasteditedbyeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'modulenameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.modulenameeq.disabled"
    name="modulenameeq"
    deMajorField="name"
    deKeyField="productmodule"
    :service="service"
    :acParams="{ serviceName: 'ProductModuleService', interfaceName: 'FetchStoryModule'}"
    valueitem=""
    :value="data.modulenameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'modulenamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.modulenamelike.disabled"
    name="modulenamelike"
    deMajorField="name"
    deKeyField="productmodule"
    :service="service"
    :acParams="{ serviceName: 'ProductModuleService', interfaceName: 'FetchStoryModule'}"
    valueitem=""
    :value="data.modulenamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'openedbyeq')">
                    
<dropdown-list 
    v-model="data.openedbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.openedbyeq.disabled"
    valueType="string"
    tag="UserRealName_Gird"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'parenteq')">
                    
<dropdown-list 
    v-model="data.parenteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.parenteq.disabled"
    valueType="number"
    tag="AllStory"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'parentgteq')">
                    
<dropdown-list 
    v-model="data.parentgteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.parentgteq.disabled"
    valueType="number"
    tag="AllStory"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'parentnameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.parentnameeq.disabled"
    name="parentnameeq"
    deMajorField="title"
    deKeyField="story"
    :service="service"
    :acParams="{ serviceName: 'StoryService', interfaceName: 'FetchParentDefaultQ'}"
    valueitem=""
    :value="data.parentnameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'parentnamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.parentnamelike.disabled"
    name="parentnamelike"
    deMajorField="title"
    deKeyField="story"
    :service="service"
    :acParams="{ serviceName: 'StoryService', interfaceName: 'FetchParentDefaultQ'}"
    valueitem=""
    :value="data.parentnamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'pathlike')">
                    <input-box 
    v-model="data.pathlike"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.pathlike.disabled" 
    type='text' 
    style="">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'planeq')">
                    
<dropdown-list 
    v-model="data.planeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.planeq.disabled"
    valueType="string"
    tag="ProductPlan"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'preversioneq')">
                    <input-box 
  v-model="data.preversioneq"  
  @enter="onEnter($event)"  
  
  :disabled="detailsModel.preversioneq.disabled" 
  type='number' 
   
  style="">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'productnameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.productnameeq.disabled"
    name="productnameeq"
    deMajorField="name"
    deKeyField="product"
    :service="service"
    :acParams="{ serviceName: 'ProductService', interfaceName: 'FetchCurUer'}"
    valueitem=""
    :value="data.productnameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'productnamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.productnamelike.disabled"
    name="productnamelike"
    deMajorField="name"
    deKeyField="product"
    :service="service"
    :acParams="{ serviceName: 'ProductService', interfaceName: 'FetchCurUer'}"
    valueitem=""
    :value="data.productnamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'resulteq')">
                    
<dropdown-list 
    v-model="data.resulteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.resulteq.disabled"
    valueType="string"
    tag="Story__review_result"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'reviewedbyeq')">
                    
<dropdown-list-mpicker 
  v-model="data.reviewedbyeq"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.reviewedbyeq.disabled"
  tag='UserRealName' 
  codelistType='DYNAMIC' 
  valueSeparator=","
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

                </template>
                <template v-if="Object.is(data.editor, 'sourceeq')">
                    
<dropdown-list 
    v-model="data.sourceeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.sourceeq.disabled"
    valueType="string"
    tag="Story__source"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'stagedbyeq')">
                    
<dropdown-list 
    v-model="data.stagedbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.stagedbyeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'tobugeq')">
                    
<dropdown-list 
    v-model="data.tobugeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.tobugeq.disabled"
    valueType="number"
    tag="AllBug"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'typeeq')">
                    
<dropdown-list 
    v-model="data.typeeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.typeeq.disabled"
    valueType="string"
    tag="Story__type"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
            </template>
        </filter-tree>
    </div>
    <div class="search-bar-footer">
        <div class="search-bar-action">
            <el-select size="small" v-if="historyItems.length > 0" v-model="selectItem" @change="onFilterChange.apply(_self, arguments)">
                <el-option v-for="item in historyItems" :key="item.value" :label="item.name" :value="item.value"></el-option>
            </el-select>
            <i-button type="primary" @click="onSearch.apply(_self, arguments)">{{ $t('app.searchButton.search') }}</i-button>
            <i-button @click="onReset.apply(_self, arguments)">{{ $t('app.searchButton.reset') }}</i-button>
            <Poptip
                ref="propip"
                trigger="hover"
                transfer
                placement="top-end"
                :title="$t('app.searchForm.custom')"
                :width="250"
                @on-popper-show="openPoper.apply(_self, arguments)"
            >
                <i-button><i class="fa fa-floppy-o" aria-hidden="true"></i></i-button>
                <template slot="content">
                    <div>
                        <i-input v-model="saveItemName" :placeholder="$t('app.searchForm.title')"></i-input>
                        <div class="save-action">
                            <i-button @click="onCancel.apply(_self, arguments)">{{ $t('app.commonWords.cancel') }}</i-button>
                            <i-button type="primary" @click="onOk.apply(_self, arguments)">{{ $t('app.commonWords.save') }}</i-button>
                        </div>
                    </div>
                </template>
            </Poptip>
        </div>
    </div>
</div>