.text-center-red {
    color:rgba(255, 93, 93, 1);text-align:center
}
.text-center-red{
    border: 1px solid rgba(255, 93, 93, 0.25);;
    background: #ffebee;
    padding: 0 4px;
    border-radius: 3px;
}
.text-center-green {
    color:rgba(0, 218, 136, 1)
}

.text-center-blue {
    color:rgba(0, 47, 255, 1)
}

