<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
        <el-table v-if="isDisplay === true"
            :default-sort="{ prop: minorSortPSDEF, order: Object.is(minorSortDir, 'ASC') ? 'ascending' : Object.is(minorSortDir, 'DESC') ? 'descending' : '' }"  
            @sort-change="onSortChange($event)"  
            :border="isDragendCol"
            :class="true && items.length > 0 ? 'total-row-table' : ''"
            :show-summary="true && items.length > 0"
            :summary-method="getSummaries"
            :highlight-current-row ="isSingleSelect"
            :row-class-name="getRowClassName.bind(_self)"
            :cell-class-name="getCellClassName.bind(_self)"
            size="mini"
            stripe
            :height="tableHeight"
            @row-click="rowClick($event)"  
            @select-all="selectAll($event)"  
            @select="select.apply(_self, arguments)"  
            @row-class-name="onRowClassName($event)"  
            @row-dblclick="rowDBLClick($event)"  
            ref="multipleTable" :data="items" :show-header="!isHideHeader"
        >
            <template slot="empty">
                {{$t('entities.projectstats.projecttasktypecount_grid.nodata')}} 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type="selection" :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('name')">
                <el-table-column show-overflow-tooltip :prop="'name'" :label="$t('entities.projectstats.projecttasktypecount_grid.columns.name')" :min-width="100"  :align="'left'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projecttasktypecount_grid.columns.name')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.name}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('designtaskcnt')">
                <el-table-column show-overflow-tooltip :prop="'designtaskcnt'" :label="$t('entities.projectstats.projecttasktypecount_grid.columns.designtaskcnt')" :width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projecttasktypecount_grid.columns.designtaskcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.designtaskcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('develtaskcnt')">
                <el-table-column show-overflow-tooltip :prop="'develtaskcnt'" :label="$t('entities.projectstats.projecttasktypecount_grid.columns.develtaskcnt')" :width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projecttasktypecount_grid.columns.develtaskcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.develtaskcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('testtaskcnt')">
                <el-table-column show-overflow-tooltip :prop="'testtaskcnt'" :label="$t('entities.projectstats.projecttasktypecount_grid.columns.testtaskcnt')" :width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projecttasktypecount_grid.columns.testtaskcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.testtaskcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('studytaskcnt')">
                <el-table-column show-overflow-tooltip :prop="'studytaskcnt'" :label="$t('entities.projectstats.projecttasktypecount_grid.columns.studytaskcnt')" :width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projecttasktypecount_grid.columns.studytaskcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.studytaskcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('discusstaskcnt')">
                <el-table-column show-overflow-tooltip :prop="'discusstaskcnt'" :label="$t('entities.projectstats.projecttasktypecount_grid.columns.discusstaskcnt')" :width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projecttasktypecount_grid.columns.discusstaskcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.discusstaskcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('uitaskcnt')">
                <el-table-column show-overflow-tooltip :prop="'uitaskcnt'" :label="$t('entities.projectstats.projecttasktypecount_grid.columns.uitaskcnt')" :width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projecttasktypecount_grid.columns.uitaskcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.uitaskcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('affairtaskcnt')">
                <el-table-column show-overflow-tooltip :prop="'affairtaskcnt'" :label="$t('entities.projectstats.projecttasktypecount_grid.columns.affairtaskcnt')" :width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projecttasktypecount_grid.columns.affairtaskcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.affairtaskcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('servetaskcnt')">
                <el-table-column show-overflow-tooltip :prop="'servetaskcnt'" :label="$t('entities.projectstats.projecttasktypecount_grid.columns.servetaskcnt')" :width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projecttasktypecount_grid.columns.servetaskcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.servetaskcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('misctaskcnt')">
                <el-table-column show-overflow-tooltip :prop="'misctaskcnt'" :label="$t('entities.projectstats.projecttasktypecount_grid.columns.misctaskcnt')" :width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projecttasktypecount_grid.columns.misctaskcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.misctaskcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('taskcnt')">
                <el-table-column show-overflow-tooltip :prop="'taskcnt'" :label="$t('entities.projectstats.projecttasktypecount_grid.columns.taskcnt')" :width="100"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.projectstats.projecttasktypecount_grid.columns.taskcnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.taskcnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
        </el-table>
    </i-form>
</div>