// this is less
.srf_empty_class {
    width: 100%;
    height: 100%;
}

.app-mob-portlet{
    background: #fafafa;
    .app-mob-mdctrl .app-mob-mdctrl-mdctrl .items .ibz-ionic-item {
        --inner-padding-end: 0 !important;
        --padding-start: 0 !important;
    }

    .app-mob-mdctrl .app-mob-mdctrl-mdctrl .items .app-mob-mdctrl-item {
        margin: 0 !important;
        border-bottom: 1px solid #e8e8e8;
    }
    .portlet__header_right{
        position: absolute;
        right: 15px;
        line-height: 30px;
        ion-icon{
            font-size: 23px;
            color: #5d5a5a;
        }
    }
    .app-mob-portlet__header{
        ion-input{
            height: 40px;
        }
    }
    .edit_title_btn{
        text-align: right;
        ion-button{
            width: 50px;
            height: 25px;
            --border-radius: 0;
            font-size: 12px;
        }
        ion-button:nth-child(1){
            --background: #bbb;
        }
    }
}
.task-dashboard_sysportlet4{}
