<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.ibizpro.mapper.IbzPlanTempletMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="IbzPlanTempletResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`ACL`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`IBZ_PLANTEMPLETID`, t1.`IBZ_PLANTEMPLETNAME`, t1.`PLANS`, t1.`PRODUCT`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_PLANTEMPLET` t1  ) t1 where ibz_plantempletid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="IbzPlanTempletResultMap" type="cn.ibizlab.pms.core.ibizpro.domain.IbzPlanTemplet" autoMapping="true">
		<id property="ibzplantempletid" column="ibz_plantempletid" /><!--主键字段映射-->
		<result property="ibzplantempletname" column="ibz_plantempletname" />


    </resultMap>


    <!--数据集合[CurUserTemplet]-->
	 <select id="searchCurUserTemplet"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IbzPlanTempletSearchContext"  resultMap="IbzPlanTempletResultMap">
         select t1.* from (
                <include refid="CurUserTemplet" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IbzPlanTempletSearchContext"  resultMap="IbzPlanTempletResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[CurUserTemplet]-->
    <sql id="CurUserTemplet" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACL`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`IBZ_PLANTEMPLETID`, t1.`IBZ_PLANTEMPLETNAME`, t1.`PLANS`, t1.`PRODUCT`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_PLANTEMPLET` t1  
					 WHERE 	( ( t1.`ACL` = 'open'  OR  t1.`CREATEMANNAME` =  #{srf.sessioncontext.srfloginname} ) )
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACL`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`IBZ_PLANTEMPLETID`, t1.`IBZ_PLANTEMPLETNAME`, t1.`PLANS`, t1.`PRODUCT`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_PLANTEMPLET` t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACL`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`IBZ_PLANTEMPLETID`, t1.`IBZ_PLANTEMPLETNAME`, t1.`PLANS`, t1.`PRODUCT`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_PLANTEMPLET` t1  
			]]>
    </sql>
</mapper>

