<split id="listexpviewlistexpbar" class="app-list-exp-bar" v-model="split" mode="horizontal" @on-move-end="onSplitChange.apply(_self, arguments)">
    <template slot='left'>
        <div class="container-header">
            <div class='search-container'>
                <i-input :search="true"
                    @on-change="($event) => { this.searchText = $event.target.value; }"
                    @on-search="onSearch.apply(_self, arguments)">
                </i-input>
            </div>
        </div>
        <div class='list-exp-bar-content'>
            <view_listexpbar_list 
    :viewState="viewState"  
    :viewparams="viewparams" 
    :context="context" 
    createAction="Create"
    removeAction="Remove"
    updateAction="Update"
    fetchAction="FetchDefault"
    :showBusyIndicator="true"
    :isSelectFirstDefault="true"
    :newdata="newdata"
    :opendata="opendata"
    name="listexpbar_list"  
    ref='listexpbar_list' 
    @selectionchange="listexpbar_list_selectionchange($event)"  
    @load="listexpbar_list_load($event)"  
    @closeview="closeView($event)">
</view_listexpbar_list>
        </div>
    </template>
    <template slot='right'>
        <component 
            v-if="selection.view && !Object.is(this.selection.view.viewname, '')" 
            :is="selection.view.viewname"
            class="viewcontainer2"
            :viewDefaultUsage="false"
            :viewdata="JSON.stringify(selection.context)"
            :viewparam="JSON.stringify(selection.viewparam)">
        </component>
    </template>
</split>
