.app-list-exp-bar {
    --app-list-exp-bar: 0px;
    >.ivu-split-horizontal {
        >.left-pane {
            padding-right: 8px;
            >.container-header {
                margin-bottom: 6px;
            }
        }
    }
}
