.studio-config-container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    >.studio-config-actions {
        position: absolute;
        top: 35px;
        right: 30px;
        z-index: 2;
        background: rgba(var(--view-button-background-color-rgb), 0.8);
        color: var(--view-button-color);
        border-radius: 5px;
        display: flex;
    
        >.title {
            color: white;
            border-right: 1px solid #333;
            padding: 5px !important;
            text-align: center;
            font-size: 12px;
            font-weight: 400;
    
            >.ivu-icon {
                cursor: help;
                margin-right: 3px;
            }

            >.ivu-btn.ivu-btn-text {
                margin-top: -6px;
                height: 20px;
            }
        }
    
        >.actions {
    
            >.ivu-btn-group {
    
                >.ivu-btn {
                    padding: 3px 8px;
                    height: 22px;
                    line-height: 21px;
                    font-size: 12px;
                }
            }
        }
    }

    >.view-show-container {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        border: 2px solid #0cd1e8;
        z-index: 1;
        display: none;
    }
}

.studio-config-container.hover {

    >.view-show-container {
        display: block;
    }
}

.view-container.detreeexpview {

    .view-content {

        .studio-config-actions {
            top: 70px;
        }
    }
}