<div class='dashboard'>
    <row v-if="isEnableCustomized">
      <app-build @handleClick="handleClick.apply(_self, arguments)"></app-build>
    </row>
    <row v-if="!isHasCustomized">
      <i-col :md="{ span: 24, offset: 0 }">
        <card class="portlet-card" :bordered="false" dis-hover :padding="0">
          <span>
                      <div class='portlet-container main-dashboard-viewdashboard-container1 ' :style="{}">
                <row>
                  <i-col :xs="{ span: 16, offset: 0 }" :sm="{ span: 16, offset: 0 }" :md="{ span: 16, offset: 0 }" :lg="{ span: 16, offset: 0 }">
                      <div class="portlet-without-title">
                        <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                          <span>
                                          <div class='portlet-container main-dashboard-viewdashboard-container2 ' :style="{}">
                              <row>
                                <i-col :xs="{ span: 12, offset: 0 }" :sm="{ span: 12, offset: 0 }" :md="{ span: 12, offset: 0 }" :lg="{ span: 12, offset: 0 }">
                                    <div class="portlet-without-title">
                                      <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                                        <span>
                                                        <view_dashboard_sysportlet1 
                                          :viewState="viewState"  
                                          :viewparams="viewparams" 
                                          :context="context" 
                                          :height="370"
                                          :width="0"
                                          name="dashboard_sysportlet1"  
                                          ref='dashboard_sysportlet1' 
                                          @closeview="closeView($event)">
                                      </view_dashboard_sysportlet1>
                                        </span>
                                      </card>
                                    </div>
                                </i-col>
                                <i-col :xs="{ span: 12, offset: 0 }" :sm="{ span: 12, offset: 0 }" :md="{ span: 12, offset: 0 }" :lg="{ span: 12, offset: 0 }">
                                    <div class="portlet-without-title">
                                      <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                                        <span>
                                                        <view_dashboard_sysportlet2 
                                          :viewState="viewState"  
                                          :viewparams="viewparams" 
                                          :context="context" 
                                          :height="370"
                                          :width="0"
                                          name="dashboard_sysportlet2"  
                                          ref='dashboard_sysportlet2' 
                                          @closeview="closeView($event)">
                                      </view_dashboard_sysportlet2>
                                        </span>
                                      </card>
                                    </div>
                                </i-col>
                                <i-col :md="{ span: 24, offset: 0 }" :lg="{ span: 12, offset: 0 }">
                                    <div class="portlet-without-title">
                                      <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                                        <span>
                                                        <view_dashboard_sysportlet6 
                                          :viewState="viewState"  
                                          :viewparams="viewparams" 
                                          :context="context" 
                                          :height="300"
                                          :width="0"
                                          name="dashboard_sysportlet6"  
                                          ref='dashboard_sysportlet6' 
                                          @closeview="closeView($event)">
                                      </view_dashboard_sysportlet6>
                                        </span>
                                      </card>
                                    </div>
                                </i-col>
                                <i-col :xs="{ span: 24, offset: 0 }" :sm="{ span: 24, offset: 0 }" :md="{ span: 24, offset: 0 }" :lg="{ span: 24, offset: 0 }">
                                    <div class="portlet-without-title">
                                      <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                                        <span>
                                                        <view_dashboard_sysportlet4 
                                          :viewState="viewState"  
                                          :viewparams="viewparams" 
                                          :context="context" 
                                          :height="0"
                                          :width="0"
                                          name="dashboard_sysportlet4"  
                                          ref='dashboard_sysportlet4' 
                                          @closeview="closeView($event)">
                                      </view_dashboard_sysportlet4>
                                        </span>
                                      </card>
                                    </div>
                                </i-col>
                                <i-col :md="{ span: 24, offset: 0 }">
                                    <div class="portlet-without-title">
                                      <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                                        <span>
                                                        <div class='portlet-container main-dashboard-viewdashboard-container4  dashboard-footer-button-wrapper' :style="{}">
                                            <row>
                                              <i-col :md="{ span: 24, offset: 0 }">
                                                  <div class="portlet-without-title">
                                                    <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                                                      <span>
                                                                      <view_dashboard_sysportlet5 
                                                        :viewState="viewState"  
                                                        :viewparams="viewparams" 
                                                        :context="context" 
                                                        :height="0"
                                                        :width="0"
                                                        name="dashboard_sysportlet5"  
                                                        ref='dashboard_sysportlet5' 
                                                        @closeview="closeView($event)">
                                                    </view_dashboard_sysportlet5>
                                                      </span>
                                                    </card>
                                                  </div>
                                              </i-col>
                                            </row>
                                        </div>
                                        </span>
                                      </card>
                                    </div>
                                </i-col>
                              </row>
                          </div>
                          </span>
                        </card>
                      </div>
                  </i-col>
                  <i-col :xs="{ span: 8, offset: 0 }" :sm="{ span: 8, offset: 0 }" :md="{ span: 8, offset: 0 }" :lg="{ span: 8, offset: 0 }">
                      <div class="portlet-without-title">
                        <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                          <span>
                                          <div class='portlet-container main-dashboard-viewdashboard-container3 ' :style="{}">
                              <row>
                                <i-col :md="{ span: 24, offset: 0 }">
                                    <div class="portlet-without-title">
                                      <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                                        <span>
                                                        <view_dashboard_sysportlet3 
                                          :viewState="viewState"  
                                          :viewparams="viewparams" 
                                          :context="context" 
                                          :height="0"
                                          :width="0"
                                          name="dashboard_sysportlet3"  
                                          ref='dashboard_sysportlet3' 
                                          @closeview="closeView($event)">
                                      </view_dashboard_sysportlet3>
                                        </span>
                                      </card>
                                    </div>
                                </i-col>
                              </row>
                          </div>
                          </span>
                        </card>
                      </div>
                  </i-col>
                </row>
            </div>
          </span>
        </card>
      </i-col>
    </row>
    <row v-if="isHasCustomized" style="width: 100%;min-height: calc(100% - 40px);">
      <div class="portlet-container" style="position: relative;width:100%;">
        <template v-for="(item, index) of modelDta">
        <div :key="index" :style="{zIndex: 10, position: 'absolute', height: item.h*layoutRowH + 'px', width: `calc(100% / ${layoutColNum} * ${item.w})`,top: item.y*layoutRowH + 'px', left: `calc(100% / ${layoutColNum} * ${item.x})`}">
          <component :key="$util.createUUID()" :is="item.componentName" :name="item.portletCodeName" :context="JSON.parse(JSON.stringify(context))" :viewDefaultUsage="false" :isAdaptiveSize="true" :viewState="viewState"></component>
        </div>
        </template>
    </div>
    </row>
</div>