.ion-textarea{
  width: 100%;
  ion-textarea {
    div {
      min-height: 64px;
    }
    textarea {
      min-height: 64px;
    }
    --padding-end:5px !important;
    color: @from-main-color;
  }
}