.app-update-log {
  .wrapper {
    position: absolute;
    width: 70vw;
    background: #fff;
    left: 15vw;
    border-radius: 4px;
    top: calc(50% - 25vw);
  }
  .content {
    width: 100%;
    padding: 0 22px 22px 22px;
    ol {
      li {
        padding: 3px 0;
        font-size: 13px;
      }
    }
  }
  .title {
    text-align: center;
    padding: 5px;
    font-weight: 600;
    font-size: 14px;
  }
  .version{
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
    font-size: 16px;
  }
}
