.app-mob-context-menu{
    width: 50%;
    border-radius: 4px;
    padding: 10px;
    .context-menu-item{
        width: 100%;
        padding: 10px;
        font-size: 14px;
        ion-icon{
            margin-right: 5px;
        }
    }
}