.tree-contant{
    height: 100%;
    .documents-library{
        padding: 6px;
        height: 100%;
        position: relative;
        .documents-library-operation{
            display: flex;
            justify-content: space-between;
            .ivu-breadcrumb-item-link{
                cursor: pointer;
            }
        }
        .documents-library-chart{
            display: flex;
            flex-wrap: wrap;
            .chart-item{
                width: 150px;
                height: 150px;
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
            }
        }
        .documents-library-list{
            height: 34px;
            .list-item{
                font-size: 15px;
                margin: 6px;
                display: flex;
                justify-content: space-between;
                .list-row-action{
                    margin: 6px;
                }
            }
        }
    }
}