<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.ibizpro.mapper.IBZProStoryModuleMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="IBZProStoryModuleResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`COLLECTOR`, t1.`DELETED`, t1.`GRADE`, t1.`IBIZ_ID`, t1.`IBIZ_STORYTYPE`, t1.`ID`, t1.`NAME`, t1.`OWNER`, t1.`PARENT`, t1.`PATH`, t11.`NAME` AS `PRODUCTNAME`, t1.`ROOT`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_product` t11 ON t1.`ROOT` = t11.`ID`  ) t1 where id=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="IBZProStoryModuleResultMap" type="cn.ibizlab.pms.core.ibizpro.domain.IBZProStoryModule" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="ibizStorytype" column="ibiz_storytype" />
		<result property="ibizshort" column="short" />
		<result property="ibizid" column="ibiz_id" />
		<result property="root" column="root" />
		<result property="parent" column="parent" />


		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ibzproproduct" javaType="cn.ibizlab.pms.core.ibizpro.domain.IBZProProduct" column="root" select="cn.ibizlab.pms.core.ibizpro.mapper.IBZProProductMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="parentmodule" javaType="cn.ibizlab.pms.core.ibizpro.domain.IBZProStoryModule" column="parent" select="cn.ibizlab.pms.core.ibizpro.mapper.IBZProStoryModuleMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_IBZPRO_STORYMODULE_IBZPRO_PRODUCT_ROOT] -->
	 <select id="selectByRoot" resultMap="IBZProStoryModuleResultMap">
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  root=#{id}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_IBZPRO_STORYMODULE_IBZPRO_STORYMODULE_PARENT] -->
	 <select id="selectByParent" resultMap="IBZProStoryModuleResultMap">
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  parent=#{id}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IBZProStoryModuleSearchContext"  resultMap="IBZProStoryModuleResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`DELETED`, t1.`GRADE`, t1.`IBIZ_ID`, t1.`IBIZ_STORYTYPE`, t1.`ID`, t1.`NAME`, t1.`OWNER`, t1.`PARENT`, t1.`PATH`, t11.`NAME` AS `PRODUCTNAME`, t1.`ROOT`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_product` t11 ON t1.`ROOT` = t11.`ID`  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`COLLECTOR`, t1.`DELETED`, t1.`GRADE`, t1.`IBIZ_ID`, t1.`IBIZ_STORYTYPE`, t1.`ID`, t1.`NAME`, t1.`OWNER`, t1.`PARENT`, t1.`PATH`, t11.`NAME` AS `PRODUCTNAME`, t1.`ROOT`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_product` t11 ON t1.`ROOT` = t11.`ID`  
			]]>
    </sql>
</mapper>

