.action-history-wrapper {
    height: 100%;
    margin-bottom: 6px;

    >.action-history-header {
        height: 35px;
        padding: 6px 0px;
        border-bottom: 1px solid var(--view-dividing-line-color-bright);

        >.title {
            font-size: 16px;
            font-weight: 700;
        }
    }

    >.action-wrapper {
        height: calc(100% - 36px);

        >.action-item {
            min-height: 22px;
            line-height: 22px;
            padding: 1px 3px;

            >.action-content {
                width: 100%;
                min-height: 22px;
                line-height: 22px;

                >.text {
                    float: left;
                }

                >.show-history {
                    float: left;
                    padding-left: 5px;
                    cursor: pointer;

                    >.ivu-btn {
                        height: 16px;
                        width: 16px;
                        margin-top: -3px;

                        >.ivu-icon {
                            line-height: 16px;
                            vertical-align: 3px;
                        }
                    }

                    >.ivu-btn:focus {
                        box-shadow: unset;
                    }
                }
            }

            >.history-wrapper {
                padding-top: 3px;
                padding-left: 15px;
            }
        }
    }
}