.app-mobile-datetime-picker {
  width: 100%;
  text-align: right;
  ion-datetime{
    padding-right: 36px;
  }
  ion-icon{
    position: absolute;
    right: 18px;
    top: 42px;
    z-index:2;
  }
}
