.container{
  .onecontent{  
    .oneitem{
      min-height: 30px;
      width: 100%;
      .header{
      font-size: 14px;
      color: rgb(192, 186, 186);
      margin-bottom: 5px;
      span:nth-child(2){
        margin-left: 30px;
      }
      }
      .footer{
      font-size: 15px;
      font-family:Helvetica;
      color:#323538;
      }
      padding:0 15px;
      margin-bottom: 20px;
    }
    margin: 0 auto;
    overflow: hidden;
    transition:height 1s ease;    
  }
  .button{
    background-color: white;
    color: #8CB4E2;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    border-top: 1px solid rgb(248, 242, 242);
  }
}
