.app-color-picker {
    .el-color-picker__trigger {
        border: none;
        left: 6px;
        .el-color-picker__color {
            border-color: var(--form-editor-border-color);
        }
    }  
}