.dashboard {
    --dashboard: 0px;
}
// this is less
.portlet-container.dashboard-footer-button-wrapper {
    display: flex;
    justify-content: center;
  
    >div {
        display: unset;
        width: auto;
	  
	    .portlet-without-title {
	        padding: 0px;
	    }
    }
}
