<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="doclib_main"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
            <i-col
    class="form-layout-container"
    v-show="detailsModel.group1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.group1"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.group1.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.doclib.main_form.details.group1')"
    :isShowCaption="false"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.group1"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.type.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="type"
    :itemRules="this.rules().type"
    class=""

    :caption="$t('entities.doclib.main_form.details.type')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.type.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-radio-group 
  v-model="data.type"
  :data="data" 
  :context="context"
  :viewparams="viewparams"   
  :disabled="detailsModel.type.disabled"  
  name="type" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  tag='Doclib__type' 
  codelistType='STATIC' 
  style="">
</app-radio-group>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.projectname.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="projectname"
    :itemRules="this.rules().projectname"
    class=""

    :caption="$t('entities.doclib.main_form.details.projectname')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.projectname.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-picker 
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.projectname.disabled"
    name="projectname"
    deMajorField="name"
    deKeyField="project"
    :service="service"
    :acParams="{ serviceName: 'ProjectService', interfaceName: 'FetchDefault'}"
    valueitem="project" 
    :value="data.projectname"
    :pickupView="{ viewname: 'project-pickup-view', title: $t('entities.project.views.pickupview.title'), deResParameters: [], parameters: [{ pathName: 'projects', parameterName: 'project' }, { pathName: 'pickupview', parameterName: 'pickupview' } ], placement:'' }"
    style=""  
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.productname.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="productname"
    :itemRules="this.rules().productname"
    class=""

    :caption="$t('entities.doclib.main_form.details.productname')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.productname.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-picker 
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.productname.disabled"
    name="productname"
    deMajorField="name"
    deKeyField="product"
    :service="service"
    :acParams="{ serviceName: 'ProductService', interfaceName: 'FetchDefault'}"
    valueitem="product" 
    :value="data.productname"
    :pickupView="{ viewname: 'product-pickup-view', title: $t('entities.product.views.pickupview.title'), deResParameters: [], parameters: [{ pathName: 'products', parameterName: 'product' }, { pathName: 'pickupview', parameterName: 'pickupview' } ], placement:'' }"
    style=""  
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.name.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="name"
    :itemRules="this.rules().name"
    class=""

    :caption="$t('entities.doclib.main_form.details.name')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.name.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <input-box 
    v-model="data.name"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.name.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.acl.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="acl"
    :itemRules="this.rules().acl"
    class=""

    :caption="$t('entities.doclib.main_form.details.acl')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.acl.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-radio-group 
  v-model="data.acl"
  :data="data" 
  :context="context"
  :viewparams="viewparams"   
  :disabled="detailsModel.acl.disabled"  
  name="acl" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  tag='Doclib__acl' 
  codelistType='STATIC' 
  style="">
</app-radio-group>

</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


    </row>
</i-form>
