<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="ibzlib_main"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
            <i-col
    class="form-layout-container"
    v-show="detailsModel.name.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="name"
    :itemRules="this.rules().name"
    class=""

    :caption="$t('entities.ibzlib.main_form.details.name')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.name.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <input-box 
    v-model="data.name"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.name.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.desc.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="desc"
    :itemRules="this.rules().desc"
    class=""

    :caption="$t('entities.ibzlib.main_form.details.desc')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.desc.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <input-box v-model="data.desc" :textareaId="this.$util.createUUID()"  :disabled="detailsModel.desc.disabled" type='textarea' editorType="TEXTAREA_10" textareaStyle="height:200px;" ></input-box>

</app-form-item>

</i-col>


    </row>
</i-form>
