<div class='dashboard'>
    <row v-if="isEnableCustomized">
      <app-build @handleClick="handleClick.apply(_self, arguments)"></app-build>
    </row>
    <row v-if="!isHasCustomized">
      <i-col :md="{ span: 24, offset: 0 }">
        <card class="portlet-card" :bordered="false" dis-hover :padding="0">
          <span>
                      <div class='portlet-container db-container1 ' :style="{}">
                <row>
                  <i-col :xs="{ span: 16, offset: 0 }" :sm="{ span: 16, offset: 0 }" :md="{ span: 16, offset: 0 }" :lg="{ span: 16, offset: 0 }">
                      <div class="portlet-without-title">
                        <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                          <span>
                                          <div class='portlet-container db-container2 ' :style="{}">
                              <row>
                                <i-col :md="{ span: 24, offset: 0 }">
                                    <div class="portlet-without-title">
                                      <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                                        <span>
                                                        <view_db_productexpportlet 
                                          :viewState="viewState"  
                                          :viewparams="viewparams" 
                                          :context="context" 
                                          :height="360"
                                          :width="0"
                                          name="db_productexpportlet"  
                                          ref='db_productexpportlet' 
                                          @closeview="closeView($event)">
                                      </view_db_productexpportlet>
                                        </span>
                                      </card>
                                    </div>
                                </i-col>
                                <i-col :md="{ span: 24, offset: 0 }">
                                    <div class="portlet-without-title">
                                      <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                                        <span>
                                                        <view_db_productunclosedportlet 
                                          :viewState="viewState"  
                                          :viewparams="viewparams" 
                                          :context="context" 
                                          :height="0"
                                          :width="0"
                                          name="db_productunclosedportlet"  
                                          ref='db_productunclosedportlet' 
                                          @closeview="closeView($event)">
                                      </view_db_productunclosedportlet>
                                        </span>
                                      </card>
                                    </div>
                                </i-col>
                              </row>
                          </div>
                          </span>
                        </card>
                      </div>
                  </i-col>
                  <i-col :xs="{ span: 8, offset: 0 }" :sm="{ span: 8, offset: 0 }" :md="{ span: 8, offset: 0 }" :lg="{ span: 8, offset: 0 }">
                      <div class="portlet-without-title">
                        <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                          <span>
                                          <div class='portlet-container db-container3 ' :style="{}">
                              <row>
                                <i-col :md="{ span: 24, offset: 0 }">
                                    <div class="portlet-without-title">
                                      <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                                        <span>
                                                        <view_db_productstatusportlet 
                                          :viewState="viewState"  
                                          :viewparams="viewparams" 
                                          :context="context" 
                                          :height="370"
                                          :width="0"
                                          name="db_productstatusportlet"  
                                          ref='db_productstatusportlet' 
                                          @closeview="closeView($event)">
                                      </view_db_productstatusportlet>
                                        </span>
                                      </card>
                                    </div>
                                </i-col>
                                <i-col :md="{ span: 24, offset: 0 }">
                                    <div class="portlet-without-title">
                                      <card class="portlet-card" :bordered="false" dis-hover :padding="0">
                                        <span>
                                                        <view_db_assignedtomestoryportlet 
                                          :viewState="viewState"  
                                          :viewparams="viewparams" 
                                          :context="context" 
                                          :height="0"
                                          :width="0"
                                          name="db_assignedtomestoryportlet"  
                                          ref='db_assignedtomestoryportlet' 
                                          @closeview="closeView($event)">
                                      </view_db_assignedtomestoryportlet>
                                        </span>
                                      </card>
                                    </div>
                                </i-col>
                              </row>
                          </div>
                          </span>
                        </card>
                      </div>
                  </i-col>
                </row>
            </div>
          </span>
        </card>
      </i-col>
    </row>
    <row v-if="isHasCustomized" style="width: 100%;min-height: calc(100% - 40px);">
      <div class="portlet-container" style="position: relative;width:100%;">
        <template v-for="(item, index) of modelDta">
        <div :key="index" :style="{zIndex: 10, position: 'absolute', height: item.h*layoutRowH + 'px', width: `calc(100% / ${layoutColNum} * ${item.w})`,top: item.y*layoutRowH + 'px', left: `calc(100% / ${layoutColNum} * ${item.x})`}">
          <component :key="$util.createUUID()" :is="item.componentName" :name="item.portletCodeName" :context="JSON.parse(JSON.stringify(context))" :viewDefaultUsage="false" :isAdaptiveSize="true" :viewState="viewState"></component>
        </div>
        </template>
    </div>
    </row>
</div>