<div>
    <div v-if="filterFields.length > 0" class="filter-group">
        <filter-tree :datas="filterItems" :fields="filterFields">
            <template slot-scope="{ data }">
                <template v-if="Object.is(data.editor, 'ideq')">
                    <input-box 
  v-model="data.ideq"  
  @enter="onEnter($event)"  
  
  :disabled="detailsModel.ideq.disabled" 
  type='number' 
   
  style="">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'assigneddategteq')">
                    <date-picker type="datetime" :transfer="true" format="yyyy-MM-dd HH:mm:ss" placeholder="请选择时间..." :value="data.assigneddategteq" :disabled="detailsModel.assigneddategteq.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.assigneddategteq = val1 }"></date-picker>

                </template>
                <template v-if="Object.is(data.editor, 'assignedtoeq')">
                    
<dropdown-list 
    v-model="data.assignedtoeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.assignedtoeq.disabled"
    valueType="string"
    tag="BugUserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'branchnameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.branchnameeq.disabled"
    name="branchnameeq"
    deMajorField="name"
    deKeyField="branch"
    :service="service"
    :acParams="{ serviceName: 'BranchService', interfaceName: 'FetchDefault'}"
    valueitem=""
    :value="data.branchnameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'branchnamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.branchnamelike.disabled"
    name="branchnamelike"
    deMajorField="name"
    deKeyField="branch"
    :service="service"
    :acParams="{ serviceName: 'BranchService', interfaceName: 'FetchDefault'}"
    valueitem=""
    :value="data.branchnamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'browsereq')">
                    
<dropdown-list 
    v-model="data.browsereq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.browsereq.disabled"
    valueType="string"
    tag="Bug__browser"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'buildprojecteq')">
                    
<dropdown-list 
    v-model="data.buildprojecteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.buildprojecteq.disabled"
    valueType="string"
    tag="CurProductProject"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'caseeq')">
                    
<dropdown-list 
    v-model="data.caseeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.caseeq.disabled"
    valueType="number"
    tag="AllCase"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'closedbyeq')">
                    
<dropdown-list 
    v-model="data.closedbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.closedbyeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'coloreq')">
                    
<dropdown-list 
    v-model="data.coloreq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.coloreq.disabled"
    valueType="string"
    tag="Bug__color"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'confirmedeq')">
                    
<dropdown-list 
    v-model="data.confirmedeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.confirmedeq.disabled"
    valueType="number"
    tag="YesNo2"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'deadlinegteq')">
                    <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.deadlinegteq" :disabled="detailsModel.deadlinegteq.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.deadlinegteq = val1 }"></date-picker>

                </template>
                <template v-if="Object.is(data.editor, 'deadlinelt')">
                    <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.deadlinelt" :disabled="detailsModel.deadlinelt.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.deadlinelt = val1 }"></date-picker>

                </template>
                <template v-if="Object.is(data.editor, 'deadlinelteq')">
                    <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.deadlinelteq" :disabled="detailsModel.deadlinelteq.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.deadlinelteq = val1 }"></date-picker>

                </template>
                <template v-if="Object.is(data.editor, 'duplicatebugeq')">
                    
<dropdown-list 
    v-model="data.duplicatebugeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.duplicatebugeq.disabled"
    valueType="number"
    tag="AllBug"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'entryeq')">
                    
<dropdown-list 
    v-model="data.entryeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.entryeq.disabled"
    valueType="number"
    tag="AllEntry"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'lasteditedbyeq')">
                    
<dropdown-list 
    v-model="data.lasteditedbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.lasteditedbyeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'modulenameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.modulenameeq.disabled"
    name="modulenameeq"
    deMajorField="name"
    deKeyField="module"
    :service="service"
    :acParams="{ serviceName: 'ModuleService', interfaceName: 'FetchBugModule'}"
    valueitem=""
    :value="data.modulenameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'modulenamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.modulenamelike.disabled"
    name="modulenamelike"
    deMajorField="name"
    deKeyField="module"
    :service="service"
    :acParams="{ serviceName: 'ModuleService', interfaceName: 'FetchBugModule'}"
    valueitem=""
    :value="data.modulenamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'openedbyeq')">
                    
<dropdown-list 
    v-model="data.openedbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.openedbyeq.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'oseq')">
                    
<dropdown-list 
    v-model="data.oseq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.oseq.disabled"
    valueType="string"
    tag="Bug__os"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'overduebugslt')">
                    <input-box 
  v-model="data.overduebugslt"  
  @enter="onEnter($event)"  
  
  :disabled="detailsModel.overduebugslt.disabled" 
  type='number' 
   
  style="">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'planeq')">
                    
<dropdown-list 
    v-model="data.planeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.planeq.disabled"
    valueType="number"
    tag="PlanCodeList"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'prieq')">
                    
<dropdown-list 
    v-model="data.prieq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.prieq.disabled"
    valueType="number"
    tag="Bug__pri"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'productnameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.productnameeq.disabled"
    name="productnameeq"
    deMajorField="name"
    deKeyField="product"
    :service="service"
    :acParams="{ serviceName: 'ProductService', interfaceName: 'FetchCurUer'}"
    valueitem=""
    :value="data.productnameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'productnamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.productnamelike.disabled"
    name="productnamelike"
    deMajorField="name"
    deKeyField="product"
    :service="service"
    :acParams="{ serviceName: 'ProductService', interfaceName: 'FetchCurUer'}"
    valueitem=""
    :value="data.productnamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'projectnameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.projectnameeq.disabled"
    name="projectnameeq"
    deMajorField="name"
    deKeyField="project"
    :service="service"
    :acParams="{ serviceName: 'ProjectService', interfaceName: 'FetchBugProject'}"
    valueitem=""
    :value="data.projectnameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'projectnamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.projectnamelike.disabled"
    name="projectnamelike"
    deMajorField="name"
    deKeyField="project"
    :service="service"
    :acParams="{ serviceName: 'ProjectService', interfaceName: 'FetchBugProject'}"
    valueitem=""
    :value="data.projectnamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'repoeq')">
                    
<dropdown-list 
    v-model="data.repoeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.repoeq.disabled"
    valueType="number"
    tag="AllRepo"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'resolutioneq')">
                    
<dropdown-list 
    v-model="data.resolutioneq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.resolutioneq.disabled"
    valueType="string"
    tag="Bug__resolution"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'resolvedbuildeq')">
                    
<dropdown-list 
    v-model="data.resolvedbuildeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.resolvedbuildeq.disabled"
    valueType="string"
    tag="CurProductBuild"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'resolvedbyeq')">
                    
<dropdown-list 
    v-model="data.resolvedbyeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.resolvedbyeq.disabled"
    valueType="string"
    tag="UserRealName_Gird"
    codelistType="DYNAMIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'resolveddatelteq')">
                    <date-picker type="datetime" :transfer="true" format="yyyy-MM-dd HH:mm:ss" placeholder="请选择时间..." :value="data.resolveddatelteq" :disabled="detailsModel.resolveddatelteq.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.resolveddatelteq = val1 }"></date-picker>

                </template>
                <template v-if="Object.is(data.editor, 'severityeq')">
                    
<dropdown-list 
    v-model="data.severityeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.severityeq.disabled"
    valueType="number"
    tag="Bug__severity"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'statuseq')">
                    
<dropdown-list 
    v-model="data.statuseq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.statuseq.disabled"
    valueType="string"
    tag="Bug__status"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'statusnoteq')">
                    
<dropdown-list 
    v-model="data.statusnoteq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.statusnoteq.disabled"
    valueType="string"
    tag="Bug__status"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'storynameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.storynameeq.disabled"
    name="storynameeq"
    deMajorField="title"
    deKeyField="story"
    :service="service"
    :acParams="{ serviceName: 'StoryService', interfaceName: 'FetchBugStory'}"
    valueitem=""
    :value="data.storynameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'storynamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.storynamelike.disabled"
    name="storynamelike"
    deMajorField="title"
    deKeyField="story"
    :service="service"
    :acParams="{ serviceName: 'StoryService', interfaceName: 'FetchBugStory'}"
    valueitem=""
    :value="data.storynamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'tasknameeq')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.tasknameeq.disabled"
    name="tasknameeq"
    deMajorField="name"
    deKeyField="task"
    :service="service"
    :acParams="{ serviceName: 'TaskService', interfaceName: 'FetchBugTask'}"
    valueitem=""
    :value="data.tasknameeq"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'tasknamelike')">
                    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.tasknamelike.disabled"
    name="tasknamelike"
    deMajorField="name"
    deKeyField="task"
    :service="service"
    :acParams="{ serviceName: 'TaskService', interfaceName: 'FetchBugTask'}"
    valueitem=""
    :value="data.tasknamelike"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
                </template>
                <template v-if="Object.is(data.editor, 'testtaskeq')">
                    
<dropdown-list 
    v-model="data.testtaskeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.testtaskeq.disabled"
    valueType="number"
    tag="AllTestTask"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'titlelike')">
                    <input-box 
    v-model="data.titlelike"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.titlelike.disabled" 
    type='text' 
    style="width:100px;">
</input-box>

                </template>
                <template v-if="Object.is(data.editor, 'tostoryeq')">
                    
<dropdown-list 
    v-model="data.tostoryeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.tostoryeq.disabled"
    valueType="number"
    tag="AllStory"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'totaskeq')">
                    
<dropdown-list 
    v-model="data.totaskeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.totaskeq.disabled"
    valueType="number"
    tag="AllTask"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
                </template>
                <template v-if="Object.is(data.editor, 'typeeq')">
                    
<dropdown-list 
    v-model="data.typeeq"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.typeeq.disabled"
    valueType="string"
    tag="Bug__type"
    codelistType="STATIC"
    placeholder="请选择..."
    style="width:100px;"
></dropdown-list>
                </template>
            </template>
        </filter-tree>
    </div>
    <div class="search-bar-footer">
        <div class="search-bar-action">
            <el-select size="small" v-if="historyItems.length > 0" v-model="selectItem" @change="onFilterChange.apply(_self, arguments)">
                <el-option v-for="item in historyItems" :key="item.value" :label="item.name" :value="item.value"></el-option>
            </el-select>
            <i-button type="primary" @click="onSearch.apply(_self, arguments)">{{ $t('app.searchButton.search') }}</i-button>
            <i-button @click="onReset.apply(_self, arguments)">{{ $t('app.searchButton.reset') }}</i-button>
            <Poptip
                ref="propip"
                trigger="hover"
                transfer
                placement="top-end"
                :title="$t('app.searchForm.custom')"
                :width="250"
                @on-popper-show="openPoper.apply(_self, arguments)"
            >
                <i-button><i class="fa fa-floppy-o" aria-hidden="true"></i></i-button>
                <template slot="content">
                    <div>
                        <i-input v-model="saveItemName" :placeholder="$t('app.searchForm.title')"></i-input>
                        <div class="save-action">
                            <i-button @click="onCancel.apply(_self, arguments)">{{ $t('app.commonWords.cancel') }}</i-button>
                            <i-button type="primary" @click="onOk.apply(_self, arguments)">{{ $t('app.commonWords.save') }}</i-button>
                        </div>
                    </div>
                </template>
            </Poptip>
        </div>
    </div>
</div>