.app-icon-menu{
    .van-cell__title {
        text-align: left;
    }
    .van-collapse-item__content {
        padding: 0;
        color: #2c3e50;
    }
    .van-panel__header-value {
        color: #969799;
    }
}