.app-img-cropper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    .operList {
        position: absolute;
        bottom: 0;
        z-index: 1;
        padding: 15px;
        width: 100%;
        height: 60px;
        .oper {
            height: 5vh;
            width: 16vw;
        }
        .oper_1 {
            position: absolute;
            left: 10px;
        }
        .oper_2 {
            right: 22vw;
            width: 10vw;
            position: absolute;
        }
        .oper_3 {
            position: absolute;
            right: 10px;
            background-color: #5475ab;
            border: none;
            color: #fff;
        }
    }
    .vue-cropper {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-image: none;
    }
    .cropper {
    }
}
