.app-embed-view {
    width: 100%;
    .embed-view-content{
        // min-height: 150px;
    }
    .embed-view-toolbar{
        display: flex;
        justify-content: flex-end;
        height: 20px;
        ion-button{
            --background: transparent;
            height: 20px;
            --color: #333;
            font-size: 12px;
        }
    }

}