.app-mobile-actionsheet {
  height: 100%;
  width: 100%;
  .cancel-icon {
    width: 16px;
    height: 16px;
    background-color: @from-main-background;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon{
      position: absolute;
      font-size: 16px;
      right: 0;
      top: 0;
      color:@from-main-color;
      z-index:9999;
    }
  }
  .select-icon {
    right: 17px;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    color: currentcolor;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: @from-main-color;
  }
  .van-action-sheet{
    width: 100%;
  }
  .text{
    width: 100%;
    max-width:100%;
    text-align: right;
    line-height: 40px;
    padding-right: 26px;
    height: 40px;
    color:@from-main-color;
  }
}

@media screen and (max-width: 768px) {
  .app-mobile-actionsheet {
    .text{
      padding-right: 7px;
    }
  }
}