.app-500{
    padding: 50px 0;
    text-align: center;
    background-color:white;
    height: 100%;
    z-index: 30000;
    .btnbox{
        padding: 50px;
        display: flex;
        justify-content: space-around;
    }
}