<div class="app-data-view">
    <row class="data-view-container" v-if="items.length > 0" :gutter="20" type="flex" justify="start">
        <template v-for="(item,index) in items">
            <i-col :key="index" style="min-height: 170px;">
                <div :class="[ item.isselected === true ? 'selected' : false, 'single-card-data' ]" @click="handleClick(item)" @dblclick="handleDblClick(item)">
                    <div class="single-card-img">
                        <img :src="item.srficonpath || './assets/img/noimage.png'">
                    </div>
                    <div :title="item.srfmajortext" class="single-card-default">
                        {{item.srfmajortext}}
                    </div>
                </div>
            </i-col>
        </template>
    </row>
    <div v-else class="app-data-empty">
    {{$t('entities.ibizproindex.indextype_dataview.nodata')}}
        <span class="quick-toolbar">
        </span>
    </div>
</div>