.app-seach-history{
  .history{
    .hisText{
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: #777777;
      margin:2px 15px;
      ion-icon{
        padding-top: 3px;
      }
    }
    .hisItems{
      margin: 5px 15px;
      .van-tag{
        margin-right: 15px;
        margin-top: 6px;
      }
    }
  }
}