.app-form-item {
    width: 100%;
    .app-form-item-label-required {
        color: red;
    }
}
.app-form-item.item-has-value {
    >ion-label {
        color: #666666;
        font-size: 1rem;
    }
}
.app-form-item.item-has-focus {
    >ion-label {
        color: #108cee;
        font-size: 1rem;
    }
}
.app-form-item{
    ion-label{
        min-width: 34px;
    }
}
.required{
    color: red;
}