@import "../../node_modules/font-awesome/less/font-awesome.less";
@import "../theme/blue.theme.less";
@import "../theme/dark-blue.theme.less";
@import "../theme/class-black.less";
@import "../theme/light-green.less";
@import "../theme/peach-pink.less";
@import "../theme/star-purple.less";
@import "../theme/summer-yellow.less";
@import "../theme/vital-red.less";
@import "./theme.less";
@import "./layout.less";
@import "./sysStyles.less";
.ion-page.view-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .view-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    .van-button {
      height: @nav-bar-height;
      line-height: @nav-bar-height;
      color: @color-tertiary-contrast;
    }
    .app-view-lefttoolbar {
      height: @nav-bar-height;
      line-height: @nav-bar-height;
    }
    .app-nav-bar {
      height: @nav-bar-height;
      line-height: @nav-bar-height;
      background: @nav-bar-backgroud;
      .van-icon {
        color: @nav-bar-color;
      }
      .van-nav-bar__title {
        color: @nav-bar-color;
        font-size: @nav-bar-fontSize;
      }
      .van-nav-bar__right {
        height: @nav-bar-height;
        line-height: @nav-bar-height;
      }
    }
  }
  .view-header-bottom {
    height: 40px;
    width: 100%;
  }
  > .view-content {
    flex-grow: 1;
    overflow: auto;
    height: 50%;
  }
  > .view-search {
    > .van-cell {
      padding: 0px;
      padding-right: @padding-md;
      display: flex;
      align-items: center;
      .view-search__searchform {
        font-size: @font-size-lg;
        color: #969799;
      }
    }
  }
  > .view-footer {
    color: @color-tertiary-contrast;
    .bottom_menu {
      text-align: center;
      margin: 0 4px 4px 4px;
      ion-button {
        width: calc(50% - 4px);
        --border-radius: 0;
      }
    }
  }
}

.app-layoutpanel {
  .app-mob-span {
    font-family: Ping;
    ion-input {
      --padding-top: 0;
      --padding-bottom: 0;
      --padding-end: 0;
      --padding-start: 0;
    }
  }
  ion-icon {
    position: relative;
    left: 8px;
    top: 1px;
  }
}
.icon {
  width: 4em;
  height: 4em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
ion-action-sheet {
  --max-height: 60%;
}
// itme分割border颜色
ion-item{
  --border-color:#dadada;
}
ion-segment{
  width: 100%;
}
// 确认操作按钮颜色调整
button.alert-button.ion-focusable.ion-activatable.secondary.sc-ion-alert-ios {
  color: #ef6b6b;
  font-weight: 500;
}
// 默认主题颜色
@default-active-color: @color-primary;
@default-text-color: #fff;
.theme(@default-active-color,@default-text-color);

// 默认布局
@default-form-text-align: right;
.layout(@default-form-text-align);

@import "./user.less";
