// this is less
.srf_empty_class {
    width: 100%;
    height: 100%;
}

.panelitem-20px {
    font-size:20px;font-weight:bold
}
.panelitem-20px{
	
}

.app-layoutpanel {
    height: 100%;
    margin-bottom: 10px;
    > .app-layoutpanel-container {
        height: 100%;
        .app-layoutpanel-rowitem{
        }
    }
    .item-field{
        padding: 0 4px;
        display: flex;
        >.item-field-label{
            padding: 0 8px;
            overflow: initial;
        }
    }
}
