<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
        <el-table v-if="isDisplay === true"
            :border="isDragendCol"
            :show-summary="true && items.length > 0"
            :summary-method="getSummaries"
            :highlight-current-row ="isSingleSelect"
            :row-class-name="getRowClassName.bind(_self)"
            :cell-class-name="getCellClassName.bind(_self)"
            size="mini"
            stripe
            :height="tableHeight"
            @row-click="rowClick($event)"  
            @select-all="selectAll($event)"  
            @select="select.apply(_self, arguments)"  
            @row-class-name="onRowClassName($event)"  
            @row-dblclick="rowDBLClick($event)"  
            ref="multipleTable" :data="items" :show-header="!isHideHeader"
        >
            <template slot="empty">
                {{$t('entities.bugstats.productbugresolutionstats_grid.nodata')}} 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type="selection" :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('productname')">
                <el-table-column show-overflow-tooltip :prop="'productname'" :label="$t('entities.bugstats.productbugresolutionstats_grid.columns.productname')" :min-width="180"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.bugstats.productbugresolutionstats_grid.columns.productname')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <app-column-link
                            deKeyField="product"
                            :context="JSON.parse(JSON.stringify(context))"
                            :viewparams="JSON.parse(JSON.stringify(viewparams))"
                            :data="row"
                            :linkview="{viewname: 'product-main-tab-exp-view', height: 850,width: 1400,title: $t('entities.product.views.maintabexpview.title'),placement: '', isRedirectView: false,deResParameters: [
            ]
            ,parameters: [
            { pathName: 'products', parameterName: 'product' },
            { pathName: 'maintabexpview', parameterName: 'maintabexpview' }
            ]}"
                            valueitem="product"
                        >
                            <span>{{row.productname}}</span>
                        </app-column-link>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('bugwjj')">
                <el-table-column show-overflow-tooltip :prop="'bugwjj'" :label="$t('entities.bugstats.productbugresolutionstats_grid.columns.bugwjj')" :width="101"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.bugstats.productbugresolutionstats_grid.columns.bugwjj')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.bugwjj}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('bugbydesign')">
                <el-table-column show-overflow-tooltip :prop="'bugbydesign'" :label="$t('entities.bugstats.productbugresolutionstats_grid.columns.bugbydesign')" :width="101"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.bugstats.productbugresolutionstats_grid.columns.bugbydesign')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.bugbydesign}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('bugduplicate')">
                <el-table-column show-overflow-tooltip :prop="'bugduplicate'" :label="$t('entities.bugstats.productbugresolutionstats_grid.columns.bugduplicate')" :width="101"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.bugstats.productbugresolutionstats_grid.columns.bugduplicate')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.bugduplicate}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('bugexternal')">
                <el-table-column show-overflow-tooltip :prop="'bugexternal'" :label="$t('entities.bugstats.productbugresolutionstats_grid.columns.bugexternal')" :width="101"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.bugstats.productbugresolutionstats_grid.columns.bugexternal')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.bugexternal}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('bugfixed')">
                <el-table-column show-overflow-tooltip :prop="'bugfixed'" :label="$t('entities.bugstats.productbugresolutionstats_grid.columns.bugfixed')" :width="101"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.bugstats.productbugresolutionstats_grid.columns.bugfixed')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.bugfixed}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('bugnotrepro')">
                <el-table-column show-overflow-tooltip :prop="'bugnotrepro'" :label="$t('entities.bugstats.productbugresolutionstats_grid.columns.bugnotrepro')" :width="101"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.bugstats.productbugresolutionstats_grid.columns.bugnotrepro')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.bugnotrepro}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('bugpostponed')">
                <el-table-column show-overflow-tooltip :prop="'bugpostponed'" :label="$t('entities.bugstats.productbugresolutionstats_grid.columns.bugpostponed')" :width="101"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.bugstats.productbugresolutionstats_grid.columns.bugpostponed')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.bugpostponed}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('bugwillnotfix')">
                <el-table-column show-overflow-tooltip :prop="'bugwillnotfix'" :label="$t('entities.bugstats.productbugresolutionstats_grid.columns.bugwillnotfix')" :width="101"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.bugstats.productbugresolutionstats_grid.columns.bugwillnotfix')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.bugwillnotfix}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('bugtostory')">
                <el-table-column show-overflow-tooltip :prop="'bugtostory'" :label="$t('entities.bugstats.productbugresolutionstats_grid.columns.bugtostory')" :width="101"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.bugstats.productbugresolutionstats_grid.columns.bugtostory')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.bugtostory}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('bugefficient')">
                <el-table-column show-overflow-tooltip :prop="'bugefficient'" :label="$t('entities.bugstats.productbugresolutionstats_grid.columns.bugefficient')" :width="101"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.bugstats.productbugresolutionstats_grid.columns.bugefficient')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.bugefficient}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('bugtotal')">
                <el-table-column show-overflow-tooltip :prop="'bugtotal'" :label="$t('entities.bugstats.productbugresolutionstats_grid.columns.bugtotal')" :width="101"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.bugstats.productbugresolutionstats_grid.columns.bugtotal')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.bugtotal}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
        </el-table>
    </i-form>
</div>