<i-form :model="this.data" class='app-search-form' ref='searchform' style="">
  <input style="display:none;"/>
  <div class="search-button">
    <i-button size="small" type="primary" ghost @click="onSearch.apply(_self, arguments)">{{$t('app.searchButton.search')}}</i-button>
    <i-button size="small" type="default" ghost @click="onReset.apply(_self, arguments)">{{this.$t('app.searchButton.reset')}}</i-button>
  </div>
  <div class="form-content">
                  
          <i-col class="form-layout-container" v-show="detailsModel.n_dept_eq.visible" :style="{}"  :lg="{ span: 6, offset: 0 }" :xl="{ span: 6, offset: 0 }">
              <app-form-item name='n_dept_eq' :itemRules="this.rules.n_dept_eq" class='' :caption="$t('entities.projectteam.default_searchform.details.n_dept_eq')" uiStyle="DEFAULT" :labelWidth="80" :isShowCaption="true" :error="detailsModel.n_dept_eq.error" :isEmptyCaption="false" labelPos="LEFT">
              
          <dropdown-list 
              v-model="data.n_dept_eq"
              :data="data"
              :context="context"
              :viewparams="viewparams"
              :localContext ='{ }' 
              :localParam ='{ }' 
              :disabled="detailsModel.n_dept_eq.disabled"
              valueType="string"
              tag='RealDept'
              codelistType='DYNAMIC'
              placeholder='请选择...'
              style="width:100px;"
          />
          </app-form-item>
          
          </i-col>
          <i-col class="form-layout-container" v-show="detailsModel.n_managemembers_eq.visible" :style="{}"  :lg="{ span: 6, offset: 0 }" :xl="{ span: 6, offset: 0 }">
              <app-form-item name='n_managemembers_eq' :itemRules="this.rules.n_managemembers_eq" class='' :caption="$t('entities.projectteam.default_searchform.details.n_managemembers_eq')" uiStyle="DEFAULT" :labelWidth="80" :isShowCaption="true" :error="detailsModel.n_managemembers_eq.error" :isEmptyCaption="false" labelPos="LEFT">
              
          <dropdown-list 
              v-model="data.n_managemembers_eq"
              :data="data"
              :context="context"
              :viewparams="viewparams"
              :localContext ='{ }' 
              :localParam ='{ }' 
              :disabled="detailsModel.n_managemembers_eq.disabled"
              valueType="string"
              placeholder='请选择...'
              style="width:100px;"
          />
          </app-form-item>
          
          </i-col>
  </div>
</i-form>