<i-form :model="this.data" class='app-search-form' ref='searchform' style="">
  <input style="display:none;"/>
  <div class="search-button">
    <i-button size="small" type="primary" ghost @click="onSearch.apply(_self, arguments)">{{$t('app.searchButton.search')}}</i-button>
    <i-button size="small" type="default" ghost @click="onReset.apply(_self, arguments)">{{this.$t('app.searchButton.reset')}}</i-button>
  </div>
  <div class="form-content">
                  
          <i-col class="form-layout-container" v-show="detailsModel.dept.visible" :style="{}"  :lg="{ span: 10, offset: 0 }" :xl="{ span: 10, offset: 0 }">
              <app-form-item name='dept' :itemRules="this.rules.dept" class='' :caption="$t('entities.projectteam.default_searchform.details.dept')" uiStyle="DEFAULT" :labelWidth="80" :isShowCaption="true" :error="detailsModel.dept.error" :isEmptyCaption="false" labelPos="LEFT">
              
          <dropdown-list 
              v-model="data.dept"
              :data="data"
              :context="context"
              :viewparams="viewparams"
              :localContext ='{ }' 
              :localParam ='{ }' 
              :disabled="detailsModel.dept.disabled"
              tag='RealDept'
              codelistType='DYNAMIC'
              placeholder='选择一个部门的成员'
              
          />
          </app-form-item>
          
          </i-col>
          <i-col class="form-layout-container" v-show="detailsModel.teams.visible" :style="{}"  :lg="{ span: 10, offset: 0 }" :xl="{ span: 10, offset: 0 }">
              <app-form-item name='teams' :itemRules="this.rules.teams" class='' :caption="$t('entities.projectteam.default_searchform.details.teams')" uiStyle="DEFAULT" :labelWidth="80" :isShowCaption="true" :error="detailsModel.teams.error" :isEmptyCaption="false" labelPos="LEFT">
              
          <dropdown-list 
              v-model="data.teams"
              :data="data"
              :context="context"
              :viewparams="viewparams"
              :localContext ='{ N_ID_NOTEQ:"%project%" }' 
              :localParam ='{ n_id_noteq:"%project%" }' 
              :disabled="detailsModel.teams.disabled"
              tag='ProjectTeam'
              codelistType='DYNAMIC'
              placeholder='选择一个团队'
              
          />
          </app-form-item>
          
          </i-col>
  </div>
</i-form>