<i-form :model="this.data" class='app-form' ref='form'  id='task_pendingsubmission' style="">
    <input style="display:none;" />
    <row >
            
<i-col class="form-layout-container" v-show="detailsModel.group1.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-group :model="detailsModel.group1" layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.group1.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.task.pendingsubmission_form.details.group1')" :isShowCaption="false" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <app-form-group-data-panel slot="dataInfoPanel" :model="detailsModel.group1" :data="data" :context="context" :viewparams="viewparams"/>
    <row>
        <i-col class="form-layout-container" v-show="detailsModel.projectname.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='projectname' :itemRules="this.rules.projectname" class='' :caption="$t('entities.task.pendingsubmission_form.details.projectname')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.projectname.error" :isEmptyCaption="false" labelPos="LEFT">
    
<app-picker  
  :formState="formState"
  :data="data"
  :context="context"
  :viewparams="viewparams"
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.projectname.disabled"
  name='projectname'
  deMajorField='name'
  deKeyField='project'
  :service="service"
  :acParams="{ serviceName: 'ProjectService', interfaceName: 'FetchDefault'}"
  valueitem='project' 
  :value="data.projectname" 
  editortype="dropdown"
  style="" 
  @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.type.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='type' :itemRules="this.rules.type" class='' :caption="$t('entities.task.pendingsubmission_form.details.type')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.type.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.type"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.type.disabled"
    valueType="string"
    tag='Task__type'
    codelistType='STATIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.modulename.visible" :style="{}"  :lg="{ span: 24, offset: 0 }" :xl="{ span: 20, offset: 0 }">
    <app-form-item name='modulename' :itemRules="this.rules.modulename" class='' :caption="$t('entities.task.pendingsubmission_form.details.modulename')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.modulename.error" :isEmptyCaption="false" labelPos="LEFT">
    
<app-picker  
  :formState="formState"
  :data="data"
  :context="context"
  :viewparams="viewparams"
  :localContext ='{ PROJECT:"%project%", ALLMODULES:"%allmodules%" }' 
  :localParam ='{ project:"%project%", allmodules:"%allmodules%" }' 
  :disabled="detailsModel.modulename.disabled"
  name='modulename'
  deMajorField='name'
  deKeyField='projectmodule'
  :service="service"
  :acParams="{ serviceName: 'ProjectModuleService', interfaceName: 'FetchTaskModules'}"
  valueitem='module' 
  :value="data.modulename" 
  editortype="dropdown"
  style="" 
  @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.allmodules.visible" :style="{}"  :lg="{ span: 24, offset: 0 }" :xl="{ span: 4, offset: 0 }">
    <app-form-item name='allmodules' :itemRules="this.rules.allmodules" class='' :caption="$t('entities.task.pendingsubmission_form.details.allmodules')" uiStyle="DEFAULT" :labelWidth="80" :isShowCaption="true" :error="detailsModel.allmodules.error" :isEmptyCaption="false" labelPos="RIGHT">
    <app-switch name='allmodules' :value="this.data.allmodules" @change="($event)=>{this.data.allmodules = $event} " :disabled="detailsModel.allmodules.disabled" style=""></app-switch>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.assignedto.visible" :style="{}"  :lg="{ span: 24, offset: 0 }" :xl="{ span: 20, offset: 0 }">
    <app-form-item name='assignedto' :itemRules="this.rules.assignedto" class='' :caption="$t('entities.task.pendingsubmission_form.details.assignedto')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.assignedto.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.assignedto"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ PROJECT:"%project%" }' 
    :localParam ='{ project:"%project%" }' 
    :disabled="detailsModel.assignedto.disabled"
    valueType="string"
    tag='UserRealNameProject'
    codelistType='DYNAMIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.multiple.visible" :style="{}"  :lg="{ span: 24, offset: 0 }" :xl="{ span: 4, offset: 0 }">
    <app-form-item name='multiple' :itemRules="this.rules.multiple" class='' :caption="$t('entities.task.pendingsubmission_form.details.multiple')" uiStyle="DEFAULT" :labelWidth="80" :isShowCaption="true" :error="detailsModel.multiple.error" :isEmptyCaption="false" labelPos="RIGHT">
    <app-switch name='multiple' :value="this.data.multiple" @change="($event)=>{this.data.multiple = $event} " :disabled="detailsModel.multiple.disabled" style=""></app-switch>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.grouppanel1.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-group :model="detailsModel.grouppanel1" layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.grouppanel1.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.task.pendingsubmission_form.details.grouppanel1')" :isShowCaption="false" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <app-form-group-data-panel slot="dataInfoPanel" :model="detailsModel.grouppanel1" :data="data" :context="context" :viewparams="viewparams"/>
    <row>
        <i-col class="form-layout-container" v-show="detailsModel.druipart1.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-druipart
    
    :formState="formState"
    :isForbidLoad="this.data.srfuf === '0'"
    paramItem='project' 
    :parentdata='{"srfparentdefname":"ROOT","srfparentdename":"ZT_TASK","SRFPARENTTYPE":"DER1N","srfparentmode":"DER1N_IBZ_TASKTEAM_ZT_TASK_ROOT","SRFDER1NID":"DER1N_IBZ_TASKTEAM_ZT_TASK_ROOT"}'
    :parameters="[
        { pathName: 'tasks', parameterName: 'task' },
    ]"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{PROJECT:"%project%"}'
    :localParam ='{project:"%project%"}'
    parameterName='task'
    parentName="Task"  
    refviewtype='DEGRIDVIEW9' 
    refreshitems='' 
    :ignorefieldvaluechange="ignorefieldvaluechange"
    viewname='task-team-grid-view9' 
    :data="JSON.stringify(this.data)" 
    @drdatasaved="drdatasaved($event)"
    style="overflow: auto;">
</app-form-druipart>

</i-col>
    
    </row>
</app-form-group>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.storyname.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='storyname' :itemRules="this.rules.storyname" class='' :caption="$t('entities.task.pendingsubmission_form.details.storyname')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.storyname.error" :isEmptyCaption="false" labelPos="LEFT">
    
<app-picker  
  :formState="formState"
  :data="data"
  :context="context"
  :viewparams="viewparams"
  :localContext ='{ PROJECT:"%project%", MODULE:"%module%" }' 
  :localParam ='{ project:"%project%", module:"%module%" }' 
  :disabled="detailsModel.storyname.disabled"
  name='storyname'
  deMajorField='title'
  deKeyField='story'
  :service="service"
  :acParams="{ serviceName: 'StoryService', interfaceName: 'FetchTaskRelatedStory'}"
  valueitem='story' 
  :value="data.storyname" 
  editortype="dropdown"
  style="" 
  @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.name.visible" :style="{}"  :lg="{ span: 14, offset: 0 }" :xl="{ span: 14, offset: 0 }">
    <app-form-item name='name' :itemRules="this.rules.name" class='' :caption="$t('entities.task.pendingsubmission_form.details.name')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.name.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.name"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.name.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.pri.visible" :style="{}"  :lg="{ span: 4, offset: 0 }" :xl="{ span: 4, offset: 0 }">
    <app-form-item name='pri' :itemRules="this.rules.pri" class='' :caption="$t('entities.task.pendingsubmission_form.details.pri')" uiStyle="DEFAULT" :labelWidth="70" :isShowCaption="true" :error="detailsModel.pri.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.pri"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.pri.disabled"
    valueType="number"
    tag='Task__pri'
    codelistType='STATIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.estimate.visible" :style="{}"  :lg="{ span: 4, offset: 0 }" :xl="{ span: 4, offset: 0 }">
    <app-form-item name='estimate' :itemRules="this.rules.estimate" class='' :caption="$t('entities.task.pendingsubmission_form.details.estimate')" uiStyle="DEFAULT" :labelWidth="70" :isShowCaption="true" :error="detailsModel.estimate.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.estimate"  
    @enter="onEnter($event)"  
     unit="小时"  
    :disabled="detailsModel.estimate.disabled" 
    type='number' 
    :precision="2"
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.desc.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='desc' :itemRules="this.rules.desc" class='' :caption="$t('entities.task.pendingsubmission_form.details.desc')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.desc.error" :isEmptyCaption="false" labelPos="LEFT">
    <app-rich-text-editor :formState="formState" :value="data.desc" @change="(val) =>{this.data.desc =val}" :disabled="detailsModel.desc.disabled" :data="JSON.stringify(this.data)"  name="desc" :uploadparams='{objecttype:"task",version:"editor"}' :exportparams='{objecttype:"task",version:"editor"}'  style=""></app-rich-text-editor>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitemex1.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='formitemex1' :itemRules="this.rules.formitemex1" class='' :caption="$t('entities.task.pendingsubmission_form.details.formitemex1')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.formitemex1.error" :isEmptyCaption="false" labelPos="LEFT">
    <app-range-editor v-model="data.formitemex1" :activeData="data" :disabled="detailsModel.formitemex1.disabled" name="formitemex1" editorType="DATEPICKEREX_NOTIME" format="YYYY-MM-DD" :refFormItem="['estsarted','deadline']" @formitemvaluechange="onFormItemValueChange($event)" style=""></app-range-editor>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.mailto.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='mailto' :itemRules="this.rules.mailto" class='' :caption="$t('entities.task.pendingsubmission_form.details.mailto')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.mailto.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list-mpicker 
  v-model="data.mailto"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.mailto.disabled"
  tag='UserRealName' 
  codelistType='DYNAMIC' 
  valueSeparator=","
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


    </row>
</i-form>