<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.zentao.mapper.CaseStepMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="CaseStepResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CASE`, t1.id AS `CASESTEPID`, t1.`DESC`, t1.`EXPECT`, t1.`ID`, t1.`PARENT`, t1.`TYPE`, t1.`VERSION` FROM `zt_casestep` t1  ) t1 where id=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="CaseStepResultMap" type="cn.ibizlab.pms.core.zentao.domain.CaseStep" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="ibizcase" column="case" />
		<result property="parent" column="parent" />


		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ztcase" javaType="cn.ibizlab.pms.core.zentao.domain.Case" column="case" select="cn.ibizlab.pms.core.zentao.mapper.CaseMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ibizparent" javaType="cn.ibizlab.pms.core.zentao.domain.CaseStep" column="parent" select="cn.ibizlab.pms.core.zentao.mapper.CaseStepMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ZT_CASESTEP_ZT_CASE_CASE] -->
	 <select id="selectByIbizcase" resultMap="CaseStepResultMap">
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  case=#{id}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N__ZT_CASESTEP__ZT_CASESTEP__PARENT] -->
	 <select id="selectByParent" resultMap="CaseStepResultMap">
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  parent=#{id}
     </select>

    <!--数据集合[CurTest]-->
	 <select id="searchCurTest"  parameterType="cn.ibizlab.pms.core.zentao.filter.CaseStepSearchContext"  resultMap="CaseStepResultMap">
	 	select * from (
         select t1.* from (
                <include refid="CurTest" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
		 )t1
		 order by `id`  asc  
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.zentao.filter.CaseStepSearchContext"  resultMap="CaseStepResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default1]-->
	 <select id="searchDefault1"  parameterType="cn.ibizlab.pms.core.zentao.filter.CaseStepSearchContext"  resultMap="CaseStepResultMap">
         select t1.* from (
                <include refid="Default1" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Mob]-->
	 <select id="searchMob"  parameterType="cn.ibizlab.pms.core.zentao.filter.CaseStepSearchContext"  resultMap="CaseStepResultMap">
         select t1.* from (
                <include refid="Mob" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Version]-->
	 <select id="searchVersion"  parameterType="cn.ibizlab.pms.core.zentao.filter.CaseStepSearchContext"  resultMap="CaseStepResultMap">
         select t1.* from (
                <include refid="Version" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Versions]-->
	 <select id="searchVersions"  parameterType="cn.ibizlab.pms.core.zentao.filter.CaseStepSearchContext"  resultMap="CaseStepResultMap">
         select t1.* from (
                <include refid="Versions" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[CurTest]-->
    <sql id="CurTest" databaseId="mysql">
		<![CDATA[ SELECT t1.`CASE`, t1.`DESC`, t1.`EXPECT`, t1.`ID`, t1.id AS `CASESTEPID`, t1.`PARENT`, t1.`TYPE`, t1.`VERSION`, t21.stepResults as STEPS FROM `zt_casestep` t1  RIGHT JOIN zt_case t11 ON t1.`CASE` = t11.ID  LEFT OUTER JOIN zt_testresult t21 ON t11.ID = t21.`CASE`  AND t1.version = t21.version 
					 WHERE 	( t21.`ID` = #{srf.webcontext.srfparentkey} )
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT 	t1.`CASE`, 	t1.`DESC`, 	t1.`EXPECT`,         t1.id AS `CASESTEPID`, 	t1.`ID`, 	@rownum := @rownum + 1 AS RUNID, 	t1.`PARENT`, 	t1.`TYPE`, 	t1.`VERSION`  FROM 	`zt_casestep` t1, (select @rownum := 0) m  
			]]>
    </sql>
    <!--数据查询[Default1]-->
    <sql id="Default1" databaseId="mysql">
		<![CDATA[ SELECT t1.`CASE`, t1.id AS `CASESTEPID`, t1.`DESC`, t1.`EXPECT`, t1.`ID`, t1.`PARENT`, t1.`TYPE`, t1.`VERSION` FROM `zt_casestep` t1  
			]]>
    </sql>
    <!--数据查询[Mob]-->
    <sql id="Mob" databaseId="mysql">
		<![CDATA[ SELECT 	t1.`CASE`, 	t1.`DESC`, 	t1.`EXPECT`, 	t1.`ID`,         t1.id AS `CASESTEPID`, 	t1.`PARENT`, 	t1.`TYPE`, 	t1.`VERSION`  FROM 	`zt_casestep` t1 	inner JOIN zt_case t11 ON t1.`case` = t11.id  	AND t1.version = t11.version
			]]>
    </sql>
    <!--数据查询[Version]-->
    <sql id="Version" databaseId="mysql">
		<![CDATA[ SELECT t1.`CASE`,t1.type,t1.parent,t1.expect,t1.`desc`, t1.`ID`, t1.`VERSION` FROM `zt_casestep` t1
			]]>
    </sql>
    <!--数据查询[Versions]-->
    <sql id="Versions" databaseId="mysql">
		<![CDATA[ SELECT 	t1.ID,t1.`case`,t1.VERSION,CONCAT('#',t1.VERSION) as expect FROM 	( SELECT 	t1.`ID`, 	t1.`CASE`, 	t1.`VERSION`  FROM 	`zt_casestep` t1 where t1.version <> 1  GROUP BY 	t1.`CASE`, 	t1.`VERSION` UNION ALL SELECT 	1 AS ID, 	t1.`id` AS `CASE`, 	1 AS `VERSION`  FROM 	zt_case t1   	) t1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`CASE`, t1.id AS `CASESTEPID`, t1.`DESC`, t1.`EXPECT`, t1.`ID`, t1.`PARENT`, t1.`TYPE`, t1.`VERSION` FROM `zt_casestep` t1  
			]]>
    </sql>
</mapper>

