<i-form :model="this.data" class='app-search-form' ref='searchform' style="">
  <input style="display:none;"/>
  <div class="search-button">
    <i-button size="small" type="primary" ghost @click="onSearch.apply(_self, arguments)">{{$t('app.searchButton.search')}}</i-button>
    <i-button size="small" type="default" ghost @click="onReset.apply(_self, arguments)">{{this.$t('app.searchButton.reset')}}</i-button>
  </div>
  <div class="form-content">
                  
          <i-col class="form-layout-container" v-show="detailsModel.dept.visible" :style="{}"  :lg="{ span: 3, offset: 0 }" :xl="{ span: 3, offset: 0 }">
              <app-form-item name='dept' :itemRules="this.rules.dept" class='' :caption="$t('entities.employeeload.workload_searchform.details.dept')" uiStyle="DEFAULT" :labelWidth="45" :isShowCaption="true" :error="detailsModel.dept.error" :isEmptyCaption="false" labelPos="LEFT">
              
          <dropdown-list 
              v-model="data.dept"
              :data="data"
              :context="context"
              :formState="formState"
              :viewparams="viewparams"
              :localContext ='{ N_ORGID_EQ:"%srforgid%" }' 
              :localParam ='{ n_orgid_eq:"%srforgid%" }' 
              :disabled="detailsModel.dept.disabled"
              tag='RealDept'
              codelistType='DYNAMIC'
              placeholder='请选择...'
              
          />
          </app-form-item>
          
          </i-col>
          <i-col class="form-layout-container" v-show="detailsModel.begin.visible" :style="{}"  :lg="{ span: 4, offset: 0 }" :xl="{ span: 4, offset: 0 }">
              <app-form-item name='begin' :itemRules="this.rules.begin" class='' :caption="$t('entities.employeeload.workload_searchform.details.begin')" uiStyle="DEFAULT" :labelWidth="80" :isShowCaption="true" :error="detailsModel.begin.error" :isEmptyCaption="false" labelPos="LEFT">
              <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.begin" :disabled="detailsModel.begin.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.begin = val1 }"></date-picker>
          
          </app-form-item>
          
          </i-col>
          <i-col class="form-layout-container" v-show="detailsModel.end.visible" :style="{}"  :lg="{ span: 3, offset: 1 }" :xl="{ span: 3, offset: 1 }">
              <app-form-item name='end' :itemRules="this.rules.end" class='' :caption="$t('entities.employeeload.workload_searchform.details.end')" uiStyle="DEFAULT" :labelWidth="30" :isShowCaption="true" :error="detailsModel.end.error" :isEmptyCaption="false" labelPos="LEFT">
              <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.end" :disabled="detailsModel.end.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.end = val1 }"></date-picker>
          
          </app-form-item>
          
          </i-col>
          <i-col class="form-layout-container" v-show="detailsModel.workday.visible" :style="{}"  :lg="{ span: 3, offset: 0 }" :xl="{ span: 4, offset: 1 }">
              <app-form-item name='workday' :itemRules="this.rules.workday" class='' :caption="$t('entities.employeeload.workload_searchform.details.workday')" uiStyle="DEFAULT" :labelWidth="60" :isShowCaption="true" :error="detailsModel.workday.error" :isEmptyCaption="false" labelPos="LEFT">
              <input-box 
            v-model="data.workday"  
            @enter="onEnter($event)"  
            
            :disabled="detailsModel.workday.disabled" 
            type='number' 
             
            style="">
          </input-box>
          
          </app-form-item>
          
          </i-col>
          <i-col class="form-layout-container" v-show="detailsModel.everydaytime.visible" :style="{}"  :lg="{ span: 3, offset: 5 }" :xl="{ span: 4, offset: 0 }">
              <app-form-item name='everydaytime' :itemRules="this.rules.everydaytime" class='' :caption="$t('entities.employeeload.workload_searchform.details.everydaytime')" uiStyle="DEFAULT" :labelWidth="60" :isShowCaption="true" :error="detailsModel.everydaytime.error" :isEmptyCaption="false" labelPos="LEFT">
              <input-box 
            v-model="data.everydaytime"  
            @enter="onEnter($event)"  
            
            :disabled="detailsModel.everydaytime.disabled" 
            type='number' 
             
            style="">
          </input-box>
          
          </app-form-item>
          
          </i-col>
          <i-col class="form-layout-container" v-show="detailsModel.assign.visible" :style="{}"  :lg="{ span: 3, offset: 0 }" :xl="{ span: 3, offset: 0 }">
              <app-form-item name='assign' :itemRules="this.rules.assign" class='' :caption="$t('entities.employeeload.workload_searchform.details.assign')" uiStyle="DEFAULT" :labelWidth="5" :isShowCaption="true" :error="detailsModel.assign.error" :isEmptyCaption="true" labelPos="LEFT">
              
          <dropdown-list 
              v-model="data.assign"
              :data="data"
              :context="context"
              :formState="formState"
              :viewparams="viewparams"
              :localContext ='{ }' 
              :localParam ='{ }' 
              :disabled="detailsModel.assign.disabled"
              valueType="string"
              tag='IsAssigned'
              codelistType='STATIC'
              placeholder='请选择...'
              style="width:100px;"
          />
          </app-form-item>
          
          </i-col>
  </div>
</i-form>
