<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="sysuser_changepassword"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
            <i-col
    class="form-layout-container"
    v-show="detailsModel.username.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="username"
    :itemRules="this.rules().username"
    class=""

    :caption="$t('entities.sysuser.changepassword_form.details.username')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.username.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-span name='username' :value="data.username" dataType="TEXT"     :precision="0"
:data="data" :context="context" :viewparams="viewparams" :localContext ='{ }'  :localParam ='{ }'    style=""
>  
</app-span>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.originalpassword.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="originalpassword"
    :itemRules="this.rules().originalpassword"
    class=""

    :caption="$t('entities.sysuser.changepassword_form.details.originalpassword')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.originalpassword.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <i-input type="password" v-model="data.originalpassword" :disabled="detailsModel.originalpassword.disabled" style=""></i-input>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.newpassword.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="newpassword"
    :itemRules="this.rules().newpassword"
    class=""

    :caption="$t('entities.sysuser.changepassword_form.details.newpassword')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.newpassword.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <i-input type="password" v-model="data.newpassword" :disabled="detailsModel.newpassword.disabled" style=""></i-input>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.repeatpassword.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="repeatpassword"
    :itemRules="this.rules().repeatpassword"
    class=""

    :caption="$t('entities.sysuser.changepassword_form.details.repeatpassword')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.repeatpassword.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <i-input type="password" v-model="data.repeatpassword" :disabled="detailsModel.repeatpassword.disabled" style=""></i-input>

</app-form-item>

</i-col>


    </row>
</i-form>
