<i-form :model="this.data" class='app-search-form' ref='searchform' style="">
  <input style="display:none;"/>
  <div class="search-button">
    <i-button size="small" type="primary" ghost @click="onSearch.apply(_self, arguments)">{{$t('app.searchButton.search')}}</i-button>
    <i-button size="small" type="default" ghost @click="onReset.apply(_self, arguments)">{{this.$t('app.searchButton.reset')}}</i-button>
  </div>
  <div class="form-content">
                  
          <i-col class="form-layout-container" v-show="detailsModel.rawitem1.visible" :style="{}"  :lg="{ span: 24, offset: 0 }" :xl="{ span: 2, offset: 2 }">
              <div class="" style="">
              <div style=" padding-top: 6px;  padding-left: 20px;"> 筛选条件： </div>
          </div>
          
          </i-col>
          <i-col class="form-layout-container" v-show="detailsModel.closed.visible" :style="{}"  :lg="{ span: 2, offset: 0 }" :xl="{ span: 3, offset: 0 }">
              <app-form-item name='closed' :itemRules="this.rules.closed" class='' :caption="$t('entities.productsum.default_searchform.details.closed')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.closed.error" :isEmptyCaption="false" labelPos="RIGHT">
              <div style="">
            <app-checkbox :value="this.data.closed" @change="($event)=>{this.data.closed = $event} " :disabled="detailsModel.closed.disabled"></app-checkbox>
          </div>
          
          </app-form-item>
          
          </i-col>
          <i-col class="form-layout-container" v-show="detailsModel.expired.visible" :style="{}"  :lg="{ span: 2, offset: 0 }" :xl="{ span: 3, offset: 0 }">
              <app-form-item name='expired' :itemRules="this.rules.expired" class='' :caption="$t('entities.productsum.default_searchform.details.expired')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.expired.error" :isEmptyCaption="false" labelPos="RIGHT">
              <div style="">
            <app-checkbox :value="this.data.expired" @change="($event)=>{this.data.expired = $event} " :disabled="detailsModel.expired.disabled"></app-checkbox>
          </div>
          
          </app-form-item>
          
          </i-col>
          <i-col class="form-layout-container" v-show="detailsModel.n_id_eq.visible" :style="{}"  :lg="{ span: 6, offset: 0 }" :xl="{ span: 6, offset: 0 }">
              <app-form-item name='n_id_eq' :itemRules="this.rules.n_id_eq" class='' :caption="$t('entities.productsum.default_searchform.details.n_id_eq')" uiStyle="DEFAULT" :labelWidth="50" :isShowCaption="true" :error="detailsModel.n_id_eq.error" :isEmptyCaption="false" labelPos="LEFT">
              
          <dropdown-list 
              v-model="data.n_id_eq"
              :data="data"
              :context="context"
              :viewparams="viewparams"
              :localContext ='{ }' 
              :localParam ='{ }' 
              :disabled="detailsModel.n_id_eq.disabled"
              valueType="number"
              tag='ProductBranch_Cache'
              codelistType='DYNAMIC'
              placeholder='请选择...'
              
          />
          </app-form-item>
          
          </i-col>
          <i-col class="form-layout-container" v-show="detailsModel.n_plan_eq.visible" :style="{}"  :lg="{ span: 24, offset: 0 }" :xl="{ span: 6, offset: 0 }">
              <app-form-item name='n_plan_eq' :itemRules="this.rules.n_plan_eq" class='' :caption="$t('entities.productsum.default_searchform.details.n_plan_eq')" uiStyle="DEFAULT" :labelWidth="50" :isShowCaption="true" :error="detailsModel.n_plan_eq.error" :isEmptyCaption="false" labelPos="LEFT">
              
          <dropdown-list 
              v-model="data.n_plan_eq"
              :data="data"
              :context="context"
              :viewparams="viewparams"
              :localContext ='{ }' 
              :localParam ='{ }' 
              :disabled="detailsModel.n_plan_eq.disabled"
              valueType="number"
              tag='PlanCodeList'
              codelistType='DYNAMIC'
              placeholder='请选择...'
              
          />
          </app-form-item>
          
          </i-col>
  </div>
</i-form>