// this is less
.srf_empty_class {
    width: 100%;
    height: 100%;
}

.ibz-ionic-item{
        --inner-border-width:0;
}
.iconcheck{
    width: 70px;
}
.selectall{
    padding: 5px 20px;
    padding: 0 20px;
    display: flex;
}
.selectal-label{
    padding-left: 15px;
}
.app-mob-mdctrl{
    height:100%;
    .app-mob-mdctrl-mdctrl{
        height:100%;
        .items{
            .ibz-ionic-item{
                --inner-padding-end: 10px;
                --padding-start: 10px;
            }
            ion-item{
              --border-color:white;
              --padding-start:0;
              --inner-padding-end:0;
              --background-activated:white;
            }
            ion-item-options{
                margin: 0 !important;
                padding: 0 !important;
                border-bottom-width:0px !important;
            }
            .app-mob-mdctrl-item{
                margin-top:10px;
            }
            .item-grouped {
              .text{
                margin: 10px 5px;
                font-size: 13px;
                color: #7c7c7c;
              }
            }
        }
        .no-data{
            position: absolute;
            font-size: 16px;
            color: #e8e8e8;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
        }
        .pickUpList {
            width: 100%;
            ion-item { 
                --padding-start:20px;
                --inner-padding-end:10px;
                --background-activated:#5c5c5c;
                border-bottom: 1px solid #e8e8e86b; 
            }
            .app-mob-mdctrl-item{
                margin-top:0;
            }
        }
    }
}
// 需求模块-MOB 样式
.productmodule-mdctrl{}
