<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.ibizpro.mapper.IbzPlanTempletDetailMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="IbzPlanTempletDetailResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DESC`, t1.`EXPECT`, t1.`IBZ_PLANTEMPLETDETAILID`, t1.`IBZ_PLANTEMPLETDETAILNAME`, t1.`ORDER`, t1.`PLANCODE`, t1.`PLANTEMPLETID`, t1.`TYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_PLANTEMPLETDETAIL` t1  ) t1 where ibz_plantempletdetailid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="IbzPlanTempletDetailResultMap" type="cn.ibizlab.pms.core.ibizpro.domain.IbzPlanTempletDetail" autoMapping="true">
		<id property="ibzplantempletdetailid" column="ibz_plantempletdetailid" /><!--主键字段映射-->
		<result property="ibzplantempletdetailname" column="ibz_plantempletdetailname" />
		<result property="plantempletid" column="plantempletid" />


		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ibzplantemplet" javaType="cn.ibizlab.pms.core.ibizpro.domain.IbzPlanTemplet" column="plantempletid" select="cn.ibizlab.pms.core.ibizpro.mapper.IbzPlanTempletMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_IBZ_PLANTEMPLETDETAIL_IBZ_PLANTEMPLET_PLANTEMPLETID] -->
	 <select id="selectByPlantempletid" resultMap="IbzPlanTempletDetailResultMap">
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  plantempletid=#{ibzplantempletid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IbzPlanTempletDetailSearchContext"  resultMap="IbzPlanTempletDetailResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`IBZ_PLANTEMPLETDETAILID`, t1.`IBZ_PLANTEMPLETDETAILNAME`, t1.`ORDER`, t1.`PLANCODE`, t1.`PLANTEMPLETID`, t1.`TYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`DESC`, t1.`EXPECT` FROM `T_IBZ_PLANTEMPLETDETAIL` t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DESC`, t1.`EXPECT`, t1.`IBZ_PLANTEMPLETDETAILID`, t1.`IBZ_PLANTEMPLETDETAILNAME`, t1.`ORDER`, t1.`PLANCODE`, t1.`PLANTEMPLETID`, t1.`TYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_PLANTEMPLETDETAIL` t1  
			]]>
    </sql>
</mapper>

