<i-form :model="this.data" class='app-form' ref='form'  id='projectmodule_main' style="">
    <input style="display:none;" />
    <row >
            
<i-col class="form-layout-container" v-show="detailsModel.group1.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-group :model="detailsModel.group1" layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.group1.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.projectmodule.main_form.details.group1')" :isShowCaption="true" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <app-form-group-data-panel slot="dataInfoPanel" :model="detailsModel.group1" :data="data" :context="context" :viewparams="viewparams"/>
    <row>
        <i-col class="form-layout-container" v-show="detailsModel.rootname.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='rootname' :itemRules="this.rules.rootname" class='' :caption="$t('entities.projectmodule.main_form.details.rootname')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.rootname.error" :isEmptyCaption="false" labelPos="LEFT">
    
<app-picker  
  :formState="formState"
  :data="data"
  :context="context"
  :viewparams="viewparams"
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.rootname.disabled"
  name='rootname' 
  deMajorField='name'
  deKeyField='project'
  :service="service"
  :acParams="{ serviceName: 'ProjectService', interfaceName: 'FetchDefault'}"
  valueitem='root' 
  :value="data.rootname" 
  editortype="dropdown"
  style="" 
  @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.parentname.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='parentname' :itemRules="this.rules.parentname" class='' :caption="$t('entities.projectmodule.main_form.details.parentname')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.parentname.error" :isEmptyCaption="false" labelPos="LEFT">
    
<app-picker  
  :formState="formState"
  :data="data"
  :context="context"
  :viewparams="viewparams"
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.parentname.disabled"
  name='parentname' 
  deMajorField='name'
  deKeyField='projectmodule'
  :service="service"
  :acParams="{ serviceName: 'ProjectModuleService', interfaceName: 'FetchDefault'}"
  valueitem='parent' 
  :value="data.parentname" 
  editortype="dropdown"
  style="" 
  @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.name.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='name' :itemRules="this.rules.name" class='' :caption="$t('entities.projectmodule.main_form.details.name')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.name.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.name"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.name.disabled" type='text'  style=""></input-box>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.short.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='short' :itemRules="this.rules.short" class='' :caption="$t('entities.projectmodule.main_form.details.short')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.short.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.short"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.short.disabled" type='text'  style=""></input-box>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.order.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='order' :itemRules="this.rules.order" class='' :caption="$t('entities.projectmodule.main_form.details.order')" uiStyle="DEFAULT" :labelWidth="100" :isShowCaption="true" :error="detailsModel.order.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.order"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.order.disabled" type='number'  style=""></input-box>
</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


    </row>
</i-form>