<i-form :model="this.data" class='app-form' ref='form'  id='project_main_edit' style="">
    <input style="display:none;" />
    <row >
            
<i-col v-show="detailsModel.group1.visible" :style="{}"  :lg="{ span: 16, offset: 4 }" :xl="{ span: 16, offset: 4 }">
    <app-form-group layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.group1.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.project.main_edit_form.details.group1')" :isShowCaption="false" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <row>
        <i-col v-show="detailsModel.grouppanel1.visible" :style="{}"  :sm="{ span: 16, offset: 0 }" :md="{ span: 16, offset: 0 }" :lg="{ span: 16, offset: 0 }" :xl="{ span: 16, offset: 0 }">
    <app-form-group layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.grouppanel1.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.project.main_edit_form.details.grouppanel1')" :isShowCaption="false" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <row>
        <i-col v-show="detailsModel.name.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='name' :itemRules="this.rules.name" class='' :caption="$t('entities.project.main_edit_form.details.name')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.name.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.name"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.name.disabled" type='text'  style=""></input-box>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.code.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='code' :itemRules="this.rules.code" class='' :caption="$t('entities.project.main_edit_form.details.code')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.code.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.code"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.code.disabled" type='text'  style=""></input-box>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.formitemex1.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='formitemex1' :itemRules="this.rules.formitemex1" class='' :caption="$t('entities.project.main_edit_form.details.formitemex1')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitemex1.error" :isEmptyCaption="false" labelPos="LEFT">
    <app-range-editor v-model="data.formitemex1" :activeData="data" :disabled="detailsModel.formitemex1.disabled" name="formitemex1" editorType="DATEPICKEREX" format="YYYY-MM-DD HH:mm:ss" :refFormItem="['begin','end']" @formitemvaluechange="onFormItemValueChange($event)" style=""></app-range-editor>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.days.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='days' :itemRules="this.rules.days" class='' :caption="$t('entities.project.main_edit_form.details.days')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.days.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.days"  @enter="onEnter($event)"   unit="天"  :disabled="detailsModel.days.disabled" type='number'  style=""></input-box>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.type.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='type' :itemRules="this.rules.type" class='' :caption="$t('entities.project.main_edit_form.details.type')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.type.error" :isEmptyCaption="false" labelPos="LEFT">
    
 <dropdown-list 
    v-model="data.type" 
    :data="data" 
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.type.disabled"  
    tag='Project__type' 
    codelistType='STATIC'
    placeholder='请选择...' style="">
 </dropdown-list>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.team.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='team' :itemRules="this.rules.team" class='' :caption="$t('entities.project.main_edit_form.details.team')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.team.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.team"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.team.disabled" type='text'  style=""></input-box>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.status.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='status' :itemRules="this.rules.status" class='' :caption="$t('entities.project.main_edit_form.details.status')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.status.error" :isEmptyCaption="false" labelPos="LEFT">
    
 <dropdown-list 
    v-model="data.status" 
    :data="data" 
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.status.disabled"  
    tag='Project__status' 
    codelistType='STATIC'
    placeholder='请选择...' style="">
 </dropdown-list>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.grouppanel2.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-group layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.grouppanel2.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.project.main_edit_form.details.grouppanel2')" :isShowCaption="true" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <row>
        <i-col v-show="detailsModel.po.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='po' :itemRules="this.rules.po" class='' :caption="$t('entities.project.main_edit_form.details.po')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.po.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.po"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.po.disabled" type='text'  style=""></input-box>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.pm.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='pm' :itemRules="this.rules.pm" class='' :caption="$t('entities.project.main_edit_form.details.pm')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.pm.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.pm"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.pm.disabled" type='text'  style=""></input-box>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.rd.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='rd' :itemRules="this.rules.rd" class='' :caption="$t('entities.project.main_edit_form.details.rd')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.rd.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.rd"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.rd.disabled" type='text'  style=""></input-box>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.qd.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='qd' :itemRules="this.rules.qd" class='' :caption="$t('entities.project.main_edit_form.details.qd')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.qd.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box v-model="data.qd"  @enter="onEnter($event)"   unit=""  :disabled="detailsModel.qd.disabled" type='text'  style=""></input-box>
</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>
<i-col v-show="detailsModel.formitemex2.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <comb-form-item name="srfarray" :value="data.srfarray" :formItems="[{ name: '关联产品集合', prop: 'products', unique: true },{ name: '关联产品平台集合', prop: 'branchs', hidden: true },{ name: '关联产品产品计划', prop: 'plans' },]" @formitemvaluechange="onFormItemValueChange">
   <template slot="products" slot-scope="{item}">
      <div style="display: flex;">
         <dropdown-list-dynamic 
            v-model="item.products" 
            :data="{...data, ...item}" 
            :context="context"
            :viewparams="viewparams"
            :localParam="{srfarray: '%srfarray%',products: '%products%',branchs: '%branchs%',plans: '%plans%',}"
            :disabled="detailsModel.formitemex2.disabled"  
            tag='Product' 
            codelistType='DYNAMIC'
            placeholder="" style="flex-grow: 1;">
         </dropdown-list-dynamic>
         <dropdown-list-dynamic 
   v-model="item.branchs" 
   :data="{...data, ...item}" 
   :context="context"
   :viewparams="viewparams"
   :localParam="{srfarray: '%srfarray%',products: '%products%',branchs: '%branchs%',plans: '%plans%',}"
   :disabled="detailsModel.formitemex2.disabled"  
   tag='ProductBranch' 
   codelistType='DYNAMIC'
   placeholder="" style="width: 100px;flex-shrink: 0;margin-left: 5px;">
</dropdown-list-dynamic>

      </div>
   </template>
   <template slot="plans" slot-scope="{item}">
      <div style="display: flex;">
         <dropdown-list-dynamic 
            v-model="item.plans" 
            :data="{...data, ...item}" 
            :context="context"
            :viewparams="viewparams"
            :localParam="{srfarray: '%srfarray%',products: '%products%',branchs: '%branchs%',plans: '%plans%',}"
            :disabled="detailsModel.formitemex2.disabled"  
            tag='ProductPlan' 
            codelistType='DYNAMIC'
            placeholder="" style="flex-grow: 1;">
         </dropdown-list-dynamic>
      </div>
   </template>
</comb-form-item>


</i-col>
    
    </row>
</app-form-group>

</i-col>
<i-col v-show="detailsModel.desc.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='desc' :itemRules="this.rules.desc" class='' :caption="$t('entities.project.main_edit_form.details.desc')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.desc.error" :isEmptyCaption="false" labelPos="LEFT">
    <app-rich-text-editor :formState="formState" :value="data.desc" @change="(val) =>{this.data.desc =val}" :disabled="detailsModel.desc.disabled"  name="desc" style=""></app-rich-text-editor>
</app-form-item>

</i-col>
<i-col v-show="detailsModel.acl.visible" :style="{}"  :sm="{ span: 16, offset: 0 }" :md="{ span: 16, offset: 0 }" :lg="{ span: 16, offset: 0 }" :xl="{ span: 16, offset: 0 }">
    <app-form-item name='acl' :itemRules="this.rules.acl" class='' :caption="$t('entities.project.main_edit_form.details.acl')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.acl.error" :isEmptyCaption="false" labelPos="LEFT">
    
 <dropdown-list 
    v-model="data.acl" 
    :data="data" 
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.acl.disabled"  
    tag='Product__acl' 
    codelistType='STATIC'
    placeholder='请选择...' style="">
 </dropdown-list>
</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


    </row>
</i-form>