.ivu-select-multiple .ivu-select-item-selected:after{
  display: none;
}
.dropdown-list-mpicker-transfer{
  .ivu-select-dropdown-list > .ivu-select-item.ivu-select-item-focus {
    background: var(--form-editor-background-color) !important;
  }
  .ivu-select-dropdown-list > .ivu-select-item.ivu-select-item-selected {
    background: var(--form-editor-active-color) !important;
  }
}
