<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.zentao.mapper.ImQueueMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="ImQueueResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`ADDDATE`, t1.`CONTENT`, t1.`ID`, t1.`PROCESSDATE`, t1.`RESULT`, t1.`STATUS`, t1.`TYPE` FROM `zt_im_queue` t1  ) t1 where id=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="ImQueueResultMap" type="cn.ibizlab.pms.core.zentao.domain.ImQueue" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->


    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.zentao.filter.ImQueueSearchContext"  resultMap="ImQueueResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDDATE`, t1.`ID`, t1.`PROCESSDATE`, t1.`STATUS`, t1.`TYPE` FROM `zt_im_queue` t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDDATE`, t1.`CONTENT`, t1.`ID`, t1.`PROCESSDATE`, t1.`RESULT`, t1.`STATUS`, t1.`TYPE` FROM `zt_im_queue` t1  
			]]>
    </sql>
</mapper>

