<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.zentao.mapper.ModuleMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="ModuleResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BRANCH`, t1.`COLLECTOR`, t1.`DELETED`, t1.`GRADE`, t1.`ID`, t1.`MDEPTID`, t1.`NAME`, t1.`ORDER`, t1.`ORGID`, t1.`OWNER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`ROOT`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_module` t11 ON t1.`PARENT` = t11.`ID`  ) t1 where id=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="ModuleResultMap" type="cn.ibizlab.pms.core.zentao.domain.Module" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="ibizshort" column="short" />
		<result property="branch" column="branch" />
		<result property="parent" column="parent" />


		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ztBranchBranch" javaType="cn.ibizlab.pms.core.zentao.domain.Branch" column="branch" select="cn.ibizlab.pms.core.zentao.mapper.BranchMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ibizparent" javaType="cn.ibizlab.pms.core.zentao.domain.Module" column="parent" select="cn.ibizlab.pms.core.zentao.mapper.ModuleMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ZT_MODULE_ZT_BRANCH_BRANCH] -->
	 <select id="selectByBranch" resultMap="ModuleResultMap">
	select * from (
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  branch=#{id}
		 )t1
		 order by `order`  asc , `id`   desc
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N__ZT_MODULE__ZT_MODULE__PARENT] -->
	 <select id="selectByParent" resultMap="ModuleResultMap">
	select * from (
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  parent=#{id}
		 )t1
		 order by `order`  asc , `id`   desc
     </select>

    <!--数据集合[BugModule]-->
	 <select id="searchBugModule"  parameterType="cn.ibizlab.pms.core.zentao.filter.ModuleSearchContext"  resultMap="ModuleResultMap">
	 	select * from (
         select t1.* from (
                <include refid="BugModule" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
		 )t1
		 order by `orderpk`  asc , `id`   desc
     </select>

    <!--数据集合[BugModuleCodeList]-->
	 <select id="searchBugModuleCodeList"  parameterType="cn.ibizlab.pms.core.zentao.filter.ModuleSearchContext"  resultMap="ModuleResultMap">
	 	select * from (
         select t1.* from (
                <include refid="BugModuleCodeList" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
		 )t1
		 order by `order`  asc , `id`   desc
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.zentao.filter.ModuleSearchContext"  resultMap="ModuleResultMap">
	 	select * from (
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
		 )t1
		 order by `order`  asc , `id`   desc
     </select>

    <!--数据集合[DocModule]-->
	 <select id="searchDocModule"  parameterType="cn.ibizlab.pms.core.zentao.filter.ModuleSearchContext"  resultMap="ModuleResultMap">
	 	select * from (
         select t1.* from (
                <include refid="DocModule" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
		 )t1
		 order by `order`  asc , `id`   desc
     </select>

    <!--数据集合[Line]-->
	 <select id="searchLine"  parameterType="cn.ibizlab.pms.core.zentao.filter.ModuleSearchContext"  resultMap="ModuleResultMap">
	 	select * from (
         select t1.* from (
                <include refid="Line" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
		 )t1
		 order by `order`  asc , `id`   desc
     </select>

    <!--数据集合[StoryModule]-->
	 <select id="searchStoryModule"  parameterType="cn.ibizlab.pms.core.zentao.filter.ModuleSearchContext"  resultMap="ModuleResultMap">
         select t1.* from (
                <include refid="StoryModule" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[TaskModule]-->
	 <select id="searchTaskModule"  parameterType="cn.ibizlab.pms.core.zentao.filter.ModuleSearchContext"  resultMap="ModuleResultMap">
         select t1.* from (
                <include refid="TaskModule" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[BugModule]-->
    <sql id="BugModule" databaseId="mysql">
		<![CDATA[ SELECT 	t1.`BRANCH`, 	t1.`DELETED`, 	t1.`GRADE`, 	t1.`ID`, 	CONCAT( 		'/', 	CASE 			 			WHEN t1.parent > 0 THEN 			( 			SELECT 				GROUP_CONCAT( tt.NAME SEPARATOR '/' )  			FROM 				zt_module tt  			WHERE 				tt.type = 'story'  				AND FIND_IN_SET( tt.id, t1.path )  			) ELSE t1.`name`  		END  		) AS `NAME`, 		( 			CONCAT_ws( 				'', 			CASE 					 					WHEN t1.parent > 0 THEN 					( 					SELECT 						GROUP_CONCAT( tt.`ORDER` SEPARATOR '-' )  					FROM 						zt_module tt  					WHERE 						tt.type = 'story'  					AND FIND_IN_SET( tt.id, t1.path )) ELSE t1.`ORDER`  				END  				)) AS ORDERPK, 			t1.`ORDER`, 			t1.`OWNER`, 		CASE 				 				WHEN t1.`PARENT` = 0 THEN 				NULL ELSE t1.parent  			END AS parent, 			t11.`NAME` AS `PARENTNAME`, 			t1.`PATH`, 			t1.`ROOT`, 			t1.`SHORT`, 			t1.`TYPE`  		FROM 			`zt_module` t1 			LEFT JOIN zt_module t11 ON t1.PARENT = t11.ID
					 WHERE 	t1.DELETED = '0'
						 AND t1.type = 'story'
			]]>
    </sql>
    <!--数据查询[BugModuleCodeList]-->
    <sql id="BugModuleCodeList" databaseId="mysql">
		<![CDATA[ SELECT 	t1.`BRANCH`, 	t1.`DELETED`, 	t1.`GRADE`, 	t1.`ID`, 	CONCAT( '/', t1.`name` ) AS `NAME`, 	t1.`ORDER`, 	t1.`OWNER`, 	case when t1.`PARENT` = 0 then null else t1.parent end as parent , 	t11.`NAME` AS `PARENTNAME`, 	t1.`PATH`, 	t1.`ROOT`, 	t1.`SHORT`, 	t1.`TYPE` FROM 	`zt_module` t1 	LEFT JOIN zt_module t11 ON t1.PARENT = t11.ID
					 WHERE 	t1.DELETED = '0'
						 AND t1.type = 'story'
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`BRANCH`, t1.`DELETED`, t1.`GRADE`, t1.`ID`, t1.`MDEPTID`, t1.`NAME`, t1.`ORDER`, t1.`ORGID`, t1.`OWNER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`ROOT`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_module` t11 ON t1.`PARENT` = t11.`ID`  
					 WHERE 	t1.DELETED = '0'
			]]>
    </sql>
    <!--数据查询[DocModule]-->
    <sql id="DocModule" databaseId="mysql">
		<![CDATA[ SELECT 	t1.*  FROM 	( 	SELECT 		'0' AS DELETED, 		0 AS ID, 		'/' AS NAME, 		0 AS PARENT, 		',0,' AS path, 		$ { srfdatacontext ( 'doclib', '{\"defname\":\"ROOT\",\"dename\":\"ZT_MODULE\"}' )} AS root, 		'doc' AS type UNION 	SELECT 		t1.`DELETED`, 		t1.`ID`, 		CONCAT( 			'/', 		CASE 				 				WHEN ( 				SELECT 					GROUP_CONCAT( tt.NAME SEPARATOR '/' )  				FROM 					zt_module tt  				WHERE 					FIND_IN_SET( tt.id, t1.path )  					AND tt.type = 'doc'  				GROUP BY 					tt.root  					LIMIT 0, 					1  					) IS NOT NULL THEN 					( 					SELECT 						GROUP_CONCAT( tt.NAME SEPARATOR '/' )  					FROM 						zt_module tt  					WHERE 						FIND_IN_SET( tt.id, t1.path )  						AND tt.type = 'doc'  					GROUP BY 						tt.root  						LIMIT 0, 						1  					) ELSE t1.`name`  				END  				) AS `NAME`, 				t1.`PARENT`, 				t1.`PATH`, 				t1.`ROOT`, 				t1.`TYPE`  			FROM 				`zt_module` t1 			LEFT JOIN zt_module t11 ON t1.PARENT = t11.ID  	) t1
					 WHERE 	t1.DELETED = '0'
						 AND ( t1.`TYPE` = 'doc'  AND  t1.`ROOT` =  #{srf.datacontext.doclib} )
			]]>
    </sql>
    <!--数据查询[Line]-->
    <sql id="Line" databaseId="mysql">
		<![CDATA[ SELECT t1.`BRANCH`, t1.`DELETED`, t1.`GRADE`, t1.`ID`, t1.`MDEPTID`, t1.`NAME`, t1.`ORDER`, t1.`ORGID`, t1.`OWNER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`ROOT`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_module` t11 ON t1.`PARENT` = t11.`ID`  
					 WHERE 	t1.DELETED = '0'
						 AND ( t1.`TYPE` = 'line'  AND  t1.`ORGID` =  #{srf.sessioncontext.srforgid} )
			]]>
    </sql>
    <!--数据查询[StoryModule]-->
    <sql id="StoryModule" databaseId="mysql">
		<![CDATA[ SELECT t1.`BRANCH`, t1.`DELETED`, t1.`GRADE`, t1.`ID`, t1.`MDEPTID`, t1.`NAME`, t1.`ORDER`, t1.`ORGID`, t1.`OWNER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`ROOT`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_module` t11 ON t1.`PARENT` = t11.`ID`   ]]>
					 WHERE 	t1.DELETED = '0'
						 AND ( t1.`ROOT` =  #{srf.webcontext.product}  AND  t1.`TYPE` = 'story'  AND  <choose><when test="srf.datacontext.branch != null"> <![CDATA[ t1.`BRANCH` =   #{srf.datacontext.branch}  ]]> </when><otherwise>1=1</otherwise></choose> )
    </sql>
    <!--数据查询[TaskModule]-->
    <sql id="TaskModule" databaseId="mysql">
		<![CDATA[ SELECT t1.`BRANCH`, t1.`DELETED`, t1.`GRADE`, t1.`ID`, t1.`MDEPTID`, t1.`NAME`, t1.`ORDER`, t1.`ORGID`, t1.`OWNER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`ROOT`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_module` t11 ON t1.`PARENT` = t11.`ID`  
					 WHERE 	t1.DELETED = '0'
						 AND ( t1.`ROOT` =  #{srf.datacontext.project}  AND  t1.`TYPE` = 'task' )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`BRANCH`, t1.`COLLECTOR`, t1.`DELETED`, t1.`GRADE`, t1.`ID`, t1.`MDEPTID`, t1.`NAME`, t1.`ORDER`, t1.`ORGID`, t1.`OWNER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`ROOT`, t1.`SHORT`, t1.`TYPE` FROM `zt_module` t1  LEFT JOIN `zt_module` t11 ON t1.`PARENT` = t11.`ID`  
					 WHERE 	t1.DELETED = '0'
			]]>
    </sql>
</mapper>

