<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
    <el-table v-if="isDisplay === true"
        :default-sort="{ prop: minorSortPSDEF, order: Object.is(minorSortDir, 'ASC') ? 'ascending' : Object.is(minorSortDir, 'DESC') ? 'descending' : '' }"  
        @sort-change="onSortChange($event)"  
        :border="isDragendCol"
        :highlight-current-row ="isSingleSelect"
        :row-class-name="getRowClassName.bind(_self)"
        :cell-class-name="getCellClassName.bind(_self)"
        size="mini"
        stripe
        @row-click="rowClick($event)"  
        @select-all="selectAll($event)"  
        @select="select($event)"  
        @row-class-name="onRowClassName($event)"  
        @row-dblclick="rowDBLClick($event)"  
        ref='multipleTable' :data="items" :show-header="!isHideHeader">
            <template slot="empty">
                无数据 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type='selection' :width="checkboxColWidth"></el-table-column>
            </template>
            !!!!模版产生代码错误:Syntax error in template "TEMPLCODE_en_US" in line 190, column 45:
            Encountered "item", but was expecting one of:
                ".."
                <DOT_DOT_LESS>
                "..*"
                ">"
                "."
                "["
                "("
                "?"
                "!"
                <TERMINATING_EXCLAM>
                "??"
                "+"
                "-"
                "*"
                "/"
                "%"
                "!="
                "="
                "=="
                ">="
                <ESCAPED_GTE>
                ">"
                <ESCAPED_GT>
                <LESS_THAN_EQUALS>
                <LESS_THAN>
                <AND>
                <OR>
            !!!!模版产生代码错误:Syntax error in template "TEMPLCODE_en_US" in line 190, column 45:
            Encountered "item", but was expecting one of:
                ".."
                <DOT_DOT_LESS>
                "..*"
                ">"
                "."
                "["
                "("
                "?"
                "!"
                <TERMINATING_EXCLAM>
                "??"
                "+"
                "-"
                "*"
                "/"
                "%"
                "!="
                "="
                "=="
                ">="
                <ESCAPED_GTE>
                ">"
                <ESCAPED_GT>
                <LESS_THAN_EQUALS>
                <LESS_THAN>
                <AND>
                <OR>
            !!!!模版产生代码错误:Syntax error in template "TEMPLCODE_en_US" in line 190, column 45:
            Encountered "item", but was expecting one of:
                ".."
                <DOT_DOT_LESS>
                "..*"
                ">"
                "."
                "["
                "("
                "?"
                "!"
                <TERMINATING_EXCLAM>
                "??"
                "+"
                "-"
                "*"
                "/"
                "%"
                "!="
                "="
                "=="
                ">="
                <ESCAPED_GTE>
                ">"
                <ESCAPED_GT>
                <LESS_THAN_EQUALS>
                <LESS_THAN>
                <AND>
                <OR>
            !!!!模版产生代码错误:Syntax error in template "TEMPLCODE_en_US" in line 190, column 45:
            Encountered "item", but was expecting one of:
                ".."
                <DOT_DOT_LESS>
                "..*"
                ">"
                "."
                "["
                "("
                "?"
                "!"
                <TERMINATING_EXCLAM>
                "??"
                "+"
                "-"
                "*"
                "/"
                "%"
                "!="
                "="
                "=="
                ">="
                <ESCAPED_GTE>
                ">"
                <ESCAPED_GT>
                <LESS_THAN_EQUALS>
                <LESS_THAN>
                <AND>
                <OR>
            !!!!模版产生代码错误:Syntax error in template "TEMPLCODE_en_US" in line 190, column 45:
            Encountered "item", but was expecting one of:
                ".."
                <DOT_DOT_LESS>
                "..*"
                ">"
                "."
                "["
                "("
                "?"
                "!"
                <TERMINATING_EXCLAM>
                "??"
                "+"
                "-"
                "*"
                "/"
                "%"
                "!="
                "="
                "=="
                ">="
                <ESCAPED_GTE>
                ">"
                <ESCAPED_GT>
                <LESS_THAN_EQUALS>
                <LESS_THAN>
                <AND>
                <OR>
            !!!!模版产生代码错误:Syntax error in template "TEMPLCODE_en_US" in line 190, column 45:
            Encountered "item", but was expecting one of:
                ".."
                <DOT_DOT_LESS>
                "..*"
                ">"
                "."
                "["
                "("
                "?"
                "!"
                <TERMINATING_EXCLAM>
                "??"
                "+"
                "-"
                "*"
                "/"
                "%"
                "!="
                "="
                "=="
                ">="
                <ESCAPED_GTE>
                ">"
                <ESCAPED_GT>
                <LESS_THAN_EQUALS>
                <LESS_THAN>
                <AND>
                <OR>
            !!!!模版产生代码错误:Syntax error in template "TEMPLCODE_en_US" in line 190, column 45:
            Encountered "item", but was expecting one of:
                ".."
                <DOT_DOT_LESS>
                "..*"
                ">"
                "."
                "["
                "("
                "?"
                "!"
                <TERMINATING_EXCLAM>
                "??"
                "+"
                "-"
                "*"
                "/"
                "%"
                "!="
                "="
                "=="
                ">="
                <ESCAPED_GTE>
                ">"
                <ESCAPED_GT>
                <LESS_THAN_EQUALS>
                <LESS_THAN>
                <AND>
                <OR>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
    </el-table>
  </i-form>
</div>