<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="usertpl_main"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
            <i-col
    class="form-layout-container"
    v-show="detailsModel.group1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.group1"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.group1.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.usertpl.main_form.details.group1')"
    :isShowCaption="false"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.group1"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.title.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="title"
    :itemRules="this.rules().title"
    class=""

    :caption="$t('entities.usertpl.main_form.details.title')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.title.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <input-box 
    v-model="data.title"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.title.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.type.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="type"
    :itemRules="this.rules().type"
    class=""

    :caption="$t('entities.usertpl.main_form.details.type')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.type.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list 
    v-model="data.type"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.type.disabled"
    valueType="string"
    tag="UserTplType"
    codelistType="STATIC"
    placeholder="请选择..."

></dropdown-list>
</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.content.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="content"
    :itemRules="this.rules().content"
    class=""

    :caption="$t('entities.usertpl.main_form.details.content')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.content.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-rich-text-editor
    :formState="formState"
    :value="data.content"
    @change="(val) =>{this.data.content =val}"
    @formitemvaluechange="onFormItemValueChange($event)"
    :disabled="detailsModel.content.disabled"
    :data="JSON.stringify(this.data)"
    name="content"
    :context="context"
    :viewparams="viewparams"
    :uploadparams='{objecttype:"%type%",version:"editor"}'
    :exportparams='{objecttype:"%type%",version:"editor"}'
    
    style=""
></app-rich-text-editor>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.public.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="public"
    :itemRules="this.rules().public"
    class=""

    :caption="$t('entities.usertpl.main_form.details.public')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.public.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-radio-group 
  v-model="data.public"
  :data="data" 
  :context="context"
  :viewparams="viewparams"   
  :disabled="detailsModel.public.disabled"  
  name="public" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  tag='YesNo' 
  codelistType='STATIC' 
  style="">
</app-radio-group>

</app-form-item>

</i-col>


    </row>
</i-form>
