.list-hr {
  display: block;
  height: 1px;
  margin: 0.2em 1.5em;
  border-bottom: #cccccc solid 0.0625em;
}
.type-p{
  color: rgb(124, 123, 123)
}
.list03-box-line {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1.5em;
}
.list03 {
  margin-bottom: 1em;
}
.typeinfo {
  color: #666;
}
.booklist-item-box {
  border-radius: 4px;
}
.list-status {
  margin: 1.5em 1.6em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.lsit-status-icon {
  color: #87c2ff;
  font-size: 1.6em;
}
.status_s{
  color: #26a2ff;
}
.status_f{
  color: #ff2626;
}