<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.zentao.mapper.DeptMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="DeptResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`FUNCTION`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_DEPT WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`MANAGER`, t1.`NAME`, t1.`ORDER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`POSITION` FROM `zt_dept` t1  LEFT JOIN `zt_dept` t11 ON t1.`PARENT` = t11.`ID`  ) t1 where id=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="DeptResultMap" type="cn.ibizlab.pms.core.zentao.domain.Dept" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="parent" column="parent" />


		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ibizparent" javaType="cn.ibizlab.pms.core.zentao.domain.Dept" column="parent" select="cn.ibizlab.pms.core.zentao.mapper.DeptMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N__ZT_DEPT__ZT_DEPT__PARENT] -->
	 <select id="selectByParent" resultMap="DeptResultMap">
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  parent=#{id}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.zentao.filter.DeptSearchContext"  resultMap="DeptResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Root]-->
	 <select id="searchRoot"  parameterType="cn.ibizlab.pms.core.zentao.filter.DeptSearchContext"  resultMap="DeptResultMap">
         select t1.* from (
                <include refid="Root" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`FUNCTION`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_DEPT WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`MANAGER`, t1.`NAME`, t1.`ORDER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`POSITION` FROM `zt_dept` t1  LEFT JOIN `zt_dept` t11 ON t1.`PARENT` = t11.`ID`  
			]]>
    </sql>
    <!--数据查询[Root]-->
    <sql id="Root" databaseId="mysql">
		<![CDATA[ SELECT t1.`FUNCTION`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_DEPT WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`MANAGER`, t1.`NAME`, t1.`ORDER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`POSITION` FROM `zt_dept` t1  LEFT JOIN `zt_dept` t11 ON t1.`PARENT` = t11.`ID`  
					 WHERE 	( t1.`PARENT` = 0 )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`FUNCTION`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_DEPT WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`MANAGER`, t1.`NAME`, t1.`ORDER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`POSITION` FROM `zt_dept` t1  LEFT JOIN `zt_dept` t11 ON t1.`PARENT` = t11.`ID`  
			]]>
    </sql>
</mapper>

