.app-quick-group {
	width: 90%;
	height: 30px;
	margin: 5px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 13px;
	.quick-group-tab {
		flex: 1;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #a8a8a8;
		margin: 0 0 -1px -1px;
		.parentGroup {
			display: flex;
			justify-content: center;
			align-items: center;
			.app-quick-item-dropdown {
				--padding-start: 0;
				--padding-end: 0;
			}
			ion-select::part(text) {
				min-width: 0;
			}
			ion-select::part(icon) {
				position: unset;
				margin-right: 2px;
			}
		}
	}
	.app-seleted-item {
		background-color: #a8a8a8;
		color: white;
	}
}
