.app-quick-group {
	color: #a8a8a8;
	width: 90%;
	height: 30px;
	margin: 5px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 13px;
	.quick-group-tab {
		flex: 1;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #a8a8a8;
		margin: 0 0 -1px -1px;
		background-color: white;
		position: relative;
		.badge {
			--padding-bottom:0;
			--padding-end:3px;
			--padding-start:3px;
			--padding-top:1px;
			position: absolute;
			top: -5px;
			right: 0;
			z-index: 10000;
			min-width: 15px;
			height: 15px;
			text-align: center;
			line-height: 15px;
			background-color: red;
		}
	}
	.app-seleted-item {
		background-color: #a8a8a8;
		color: white;
	}
}
.child-list {
	position: absolute;
	left: 0;
	right: 0;
	width: 90%;
	max-height: 0;
	transition: max-height 0.3s ease-in;
	margin: auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 9999;
	overflow: hidden;
	overflow-y: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 0 10px #8e9eab;
	.child {
		width: 100%;
		padding: 10px 20px;
		border-bottom: 1px solid #a8a8a8;
		display: flex;
		font-size: 13px;
		color: #a8a8a8;
		align-items: center;
		.badge {
			--padding-bottom:0;
			--padding-end:5px;
			--padding-start:5px;
			--padding-top:0;
			margin-left: 10px;
			background-color: red;
		}
	}
	.selected {
		color: black;
		background-color: #b6b6b63d;
	}
}
.open {
	max-height: 400px;
}
.app-quick-group > .quick-group-tab:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.app-quick-group > .quick-group-tab:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
