.app-mob-rich-text-editor{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .app-mob-rich-text-editor-icon{
        margin-right: 4px;
        color: #777272;
        font-size: 18px;
    }

    .rich-text-editor-info{
        ol {
            list-style: decimal;
        }
        ul{
            list-style: inside;
        }
    }
}
.van-popup--center{
    width: 100%;
  .van-popup__close-icon--top-right{
      display: none;
  }
}