.richtext{
  height: calc(100% - 10vh);
  .quill-editor {
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    img{
      max-width: 90%;
    }
  }

  .quill-editor-button {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    ion-button {
      width: 48%;
    }
  }
  .ql-container {
    height: calc(100% - 65px);
  }
}