<i-form :model="this.data" class="app-search-form" ref="searchform" style="">
    <input style="display:none;">
    <div class="search-button">
        <i-button size="small" type="primary" ghost @click="onSearch.apply(_self, arguments)">{{$t('app.searchButton.search')}}</i-button>
        <i-button size="small" type="default" ghost @click="onReset.apply(_self, arguments)">{{this.$t('app.searchButton.reset')}}</i-button>
    </div>
    <div class="form-content">
                  
          <i-col
              class="form-layout-container"
              v-show="detailsModel.n_product_eq.visible"
              :style="{}"
              
              
              :lg="{ span: 24, offset: 0 }"
              :xl="{ span: 6, offset: 0 }"
          >
              <app-form-item
              name="n_product_eq"
              :itemRules="this.rules.n_product_eq"
              class=""
              
              :caption="$t('entities.bugstats.bugresolvedby_searchform.details.n_product_eq')"
              uiStyle="DEFAULT" :labelWidth="50" :isShowCaption="true"
              :error="detailsModel.n_product_eq.error"
              :isEmptyCaption="false"
              labelPos="LEFT"
          >
              
          <dropdown-list 
              v-model="data.n_product_eq"
              :data="data"
              :context="context"
              :formState="formState"
              :viewparams="viewparams"
              :localContext='{ }' 
              :localParam='{ }' 
              :disabled="detailsModel.n_product_eq.disabled"
              valueType="number"
              tag="Product"
              codelistType="DYNAMIC"
              placeholder="请选择..."
          
          ></dropdown-list>
          </app-form-item>
          
          </i-col>
          <i-col
              class="form-layout-container"
              v-show="detailsModel.n_resolvedby_eq.visible"
              :style="{}"
              
              
              :lg="{ span: 24, offset: 0 }"
              :xl="{ span: 6, offset: 0 }"
          >
              <app-form-item
              name="n_resolvedby_eq"
              :itemRules="this.rules.n_resolvedby_eq"
              class=""
              
              :caption="$t('entities.bugstats.bugresolvedby_searchform.details.n_resolvedby_eq')"
              uiStyle="DEFAULT" :labelWidth="80" :isShowCaption="true"
              :error="detailsModel.n_resolvedby_eq.error"
              :isEmptyCaption="false"
              labelPos="LEFT"
          >
              
          <dropdown-list 
              v-model="data.n_resolvedby_eq"
              :data="data"
              :context="context"
              :formState="formState"
              :viewparams="viewparams"
              :localContext='{ }' 
              :localParam='{ }' 
              :disabled="detailsModel.n_resolvedby_eq.disabled"
              valueType="string"
              tag="UserRealName"
              codelistType="DYNAMIC"
              placeholder="请选择..."
              style="width:100px;"
          ></dropdown-list>
          </app-form-item>
          
          </i-col>
    </div>
</i-form>
