.app-mob-mpicker {
  color: @from-main-color;
  width: 100%;
  position: relative;
  >ion-input {
      min-height: 44px;
      .native-input {
          display: none;
      }
      >div {
          padding-right: 25px;
          width: 100%;
      }
  }
}