<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="ibzmonthly_new"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
            <i-col
    class="form-layout-container"
    v-show="detailsModel.grouppanel1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.grouppanel1"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.grouppanel1.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.ibzmonthly.new_form.details.grouppanel1')"
    :isShowCaption="false"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.grouppanel1"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.reportto.visible"
    :style="{}"
    
    
    :lg="{ span: 12, offset: 0 }"
    :xl="{ span: 12, offset: 0 }"
>
    <app-form-item
    name="reportto"
    :itemRules="this.rules().reportto"
    class=""

    :caption="$t('entities.ibzmonthly.new_form.details.reportto')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.reportto.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list 
    v-model="data.reportto"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.reportto.disabled"
    valueType="string"
    tag="UserRealName"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.mailto.visible"
    :style="{}"
    
    
    :lg="{ span: 12, offset: 0 }"
    :xl="{ span: 12, offset: 0 }"
>
    <app-form-item
    name="mailto"
    :itemRules="this.rules().mailto"
    class=""

    :caption="$t('entities.ibzmonthly.new_form.details.mailto')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.mailto.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.mailto"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.mailto.disabled"
  tag='UserRealName' 
  codelistType='DYNAMIC' 
  valueSeparator=","
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.thismonthtask.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="thismonthtask"
    :itemRules="this.rules().thismonthtask"
    class=""

    :caption="$t('entities.ibzmonthly.new_form.details.thismonthtask')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.thismonthtask.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.thismonthtask"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.thismonthtask.disabled"
  tag='MonthlyCompleteTaskChoice' 
  codelistType='DYNAMIC' 
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.workthismonth.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="workthismonth"
    :itemRules="this.rules().workthismonth"
    class=""

    :caption="$t('entities.ibzmonthly.new_form.details.workthismonth')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.workthismonth.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-rich-text-editor
    :formState="formState"
    :value="data.workthismonth"
    @change="(val) =>{this.data.workthismonth =val}"
    @formitemvaluechange="onFormItemValueChange($event)"
    :disabled="detailsModel.workthismonth.disabled"
    :data="JSON.stringify(this.data)"
    name="workthismonth"
    :context="context"
    :viewparams="viewparams"
    :uploadparams='{objecttype:"monthly",version:"editor"}'
    :exportparams='{objecttype:"monthly",version:"editor"}'
    
    style=""
></app-rich-text-editor>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.nextmonthplanstask.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="nextmonthplanstask"
    :itemRules="this.rules().nextmonthplanstask"
    class=""

    :caption="$t('entities.ibzmonthly.new_form.details.nextmonthplanstask')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.nextmonthplanstask.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.nextmonthplanstask"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.nextmonthplanstask.disabled"
  tag='MyPlanTask' 
  codelistType='DYNAMIC' 
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.plansnextmonth.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="plansnextmonth"
    :itemRules="this.rules().plansnextmonth"
    class=""

    :caption="$t('entities.ibzmonthly.new_form.details.plansnextmonth')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.plansnextmonth.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-rich-text-editor
    :formState="formState"
    :value="data.plansnextmonth"
    @change="(val) =>{this.data.plansnextmonth =val}"
    @formitemvaluechange="onFormItemValueChange($event)"
    :disabled="detailsModel.plansnextmonth.disabled"
    :data="JSON.stringify(this.data)"
    name="plansnextmonth"
    :context="context"
    :viewparams="viewparams"
    :uploadparams='{objecttype:"monthly",version:"editor"}'
    :exportparams='{objecttype:"monthly",version:"editor"}'
    
    style=""
></app-rich-text-editor>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.comment.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="comment"
    :itemRules="this.rules().comment"
    class=""

    :caption="$t('entities.ibzmonthly.new_form.details.comment')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.comment.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-rich-text-editor
    :formState="formState"
    :value="data.comment"
    @change="(val) =>{this.data.comment =val}"
    @formitemvaluechange="onFormItemValueChange($event)"
    :disabled="detailsModel.comment.disabled"
    :data="JSON.stringify(this.data)"
    name="comment"
    :context="context"
    :viewparams="viewparams"
    :uploadparams='{objecttype:"monthly",version:"editor"}'
    :exportparams='{objecttype:"monthly",version:"editor"}'
    
    style=""
></app-rich-text-editor>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.files.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="files"
    :itemRules="this.rules().files"
    class=""

    :caption="$t('entities.ibzmonthly.new_form.details.files')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.files.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-file-upload
    :formState="formState"
    :ignorefieldvaluechange="ignorefieldvaluechange"
    @formitemvaluechange="onFormItemValueChange($event)"
    :data="JSON.stringify(this.data)"
    name="files"
    :value="data.files"
    :disabled="detailsModel.files.disabled"
    :uploadparams='{objecttype:"monthly",objectid:"0",version:"1"}'
    :exportparams='{objecttype:"monthly",objectid:"0",version:"1"}'
    style="overflow: auto;"
></app-file-upload>
</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


    </row>
</i-form>
