<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
    <el-table v-if="isDisplay === true"
        :default-sort="{ prop: minorSortPSDEF, order: Object.is(minorSortDir, 'ASC') ? 'ascending' : Object.is(minorSortDir, 'DESC') ? 'descending' : '' }"  
        @sort-change="onSortChange($event)"  
        :border="isDragendCol"
        :highlight-current-row ="isSingleSelect"
        :row-class-name="getRowClassName.bind(_self)"
        :cell-class-name="getCellClassName.bind(_self)"
        size="mini"
        stripe
        @row-click="rowClick($event)"  
        @select-all="selectAll($event)"  
        @select="select($event)"  
        @row-class-name="onRowClassName($event)"  
        @row-dblclick="rowDBLClick($event)"  
        ref='multipleTable' :data="items" :show-header="!isHideHeader">
            <template slot="empty">
                无数据 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type='selection' :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('account')">
                <el-table-column show-overflow-tooltip :prop="'account'" :label="$t('entities.ibz_projectteam.main_grid.columns.account')" :width="200"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.ibz_projectteam.main_grid.columns.account')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <template >
            <codelist :value="row.account" tag='UserRealName' codelistType='DYNAMIC' renderMode="STR" valueSeparator="," textSeparator="," ></codelist>
                        </template>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('role')">
                <el-table-column show-overflow-tooltip :prop="'role'" :label="$t('entities.ibz_projectteam.main_grid.columns.role')" :min-width="1"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.ibz_projectteam.main_grid.columns.role')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.role}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('join')">
                <el-table-column show-overflow-tooltip :prop="'join'" :label="$t('entities.ibz_projectteam.main_grid.columns.join')" :width="200"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.ibz_projectteam.main_grid.columns.join')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <app-format-data format="YYYY-MM-DD" :data="row.join"></app-format-data>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('days')">
                <el-table-column show-overflow-tooltip :prop="'days'" :label="$t('entities.ibz_projectteam.main_grid.columns.days')" :width="200"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.ibz_projectteam.main_grid.columns.days')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.days}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('hours')">
                <el-table-column show-overflow-tooltip :prop="'hours'" :label="$t('entities.ibz_projectteam.main_grid.columns.hours')" :width="200"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.ibz_projectteam.main_grid.columns.hours')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <app-format-data dataType="FLOAT" precision="0" :data="row.hours"></app-format-data>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('total')">
                <el-table-column show-overflow-tooltip :prop="'total'" :label="$t('entities.ibz_projectteam.main_grid.columns.total')" :width="200"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.ibz_projectteam.main_grid.columns.total')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <span>{{row.total}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('limited')">
                <el-table-column show-overflow-tooltip :prop="'limited'" :label="$t('entities.ibz_projectteam.main_grid.columns.limited')" :width="200"  :align="'left'" :sortable="'custom'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.ibz_projectteam.main_grid.columns.limited')}}
                      </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <template >
            <codelist :value="row.limited" tag='YesNo3' codelistType='STATIC' ></codelist>
                        </template>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('uagridcolumn1')">
                <el-table-column :column-key="'uagridcolumn1'" :label="$t('entities.ibz_projectteam.main_grid.columns.uagridcolumn1')" :width="100"  :align="'center'">
                    <template v-slot:header="{column}">
                      <span class="column-header ">
                        {{$t('entities.ibz_projectteam.main_grid.columns.uagridcolumn1')}}
                      </span>
                    </template>
                    <template slot-scope="scope">
                        <div style="text-align: center;">
                            <tooltip :transfer="true" :max-width="600">
                            <a @click="uiAction(scope.row, 'RemoveMember', $event)">
                              <i class='fa fa-unlink'></i>
                              
                            </a>
                            <div slot='content'>{{$t('entities.ibz_projectteam.main_grid.uiactions.ibz_projectteam_removemember')}}</div>
                            </tooltip>
                        </div>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
    </el-table>
    <row class='grid-pagination' v-show="items.length > 0">
        <page class='pull-right' @on-change="pageOnChange($event)" 
            @on-page-size-change="onPageSizeChange($event)"
            :transfer="true" :total="totalRecord"
            show-sizer :current="curPage" :page-size="limit"
            :page-size-opts="[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]" show-elevator show-total>
            <span>
                <span class="page-column">
                    <poptip transfer placement="top-start">
                        <i-button icon="md-menu">{{$t('app.gridpage.choicecolumns')}}</i-button>
                        <div slot="content">
                            <template v-for="col in allColumns">
                                <div :key="col.name"><el-checkbox v-model="col.show" @change="onColChange()">{{$t(col.langtag)}}</el-checkbox></div>
                            </template>
                        </div>
                    </poptip>
                </span>
                <span v-if="selections.length > 0" class="batch-toolbar">
                </span>
                <span class="page-button"><i-button icon="md-refresh" :title="$t('app.gridpage.refresh')" @click="pageRefresh()"></i-button></span>&nbsp;
                <span>
                    {{$t('app.gridpage.show')}}&nbsp;
                    <span>
                        <template v-if="items.length === 1">
                        1
                        </template>
                        <template v-else>
                            <span>{{(curPage - 1) * limit + 1}}&nbsp;-&nbsp;{{totalRecord > curPage * limit ? curPage * limit : totalRecord}}</span>
                        </template>
                    </span>&nbsp;
                    {{$t('app.gridpage.records')}}，{{$t('app.gridpage.totle')}}&nbsp;{{totalRecord}}&nbsp;{{$t('app.gridpage.records')}}
                </span>
            </span>
        </page>
    </row>
  </i-form>
</div>