.app-mob-mpicker {
  width: 100%;
  position: relative;
  .open-picker {
    position: absolute;
    right: 10px;
    top: 10px;  
    z-index: 3;
  }
  >ion-input {
      .native-input {
          display: none;
      }
      >div {
          padding-right: 25px;
          width: 100%;
      }
  }
}