<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.ibizpro.mapper.IbzproConfigMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="IbzproConfigResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`IBZPRO_CONFIGID`, t1.`IBZPRO_CONFIGNAME`, t1.`MANAGEMENTSTATUS`, t1.`MEMO`, t1.`SCOPE`, t1.`TYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VAILD` FROM `T_IBZPRO_CONFIG` t1  ) t1 where ibzpro_configid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="IbzproConfigResultMap" type="cn.ibizlab.pms.core.ibizpro.domain.IbzproConfig" autoMapping="true">
		<id property="ibzproconfigid" column="ibzpro_configid" /><!--主键字段映射-->
		<result property="ibzproconfigname" column="ibzpro_configname" />


    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IbzproConfigSearchContext"  resultMap="IbzproConfigResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`IBZPRO_CONFIGID`, t1.`IBZPRO_CONFIGNAME`, t1.`MANAGEMENTSTATUS`, t1.`MEMO`, t1.`SCOPE`, t1.`TYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VAILD` FROM `T_IBZPRO_CONFIG` t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`IBZPRO_CONFIGID`, t1.`IBZPRO_CONFIGNAME`, t1.`MANAGEMENTSTATUS`, t1.`MEMO`, t1.`SCOPE`, t1.`TYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VAILD` FROM `T_IBZPRO_CONFIG` t1  
			]]>
    </sql>
</mapper>

