<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.zentao.mapper.FileMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="FileResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`ADDEDBY`, t1.`ADDEDDATE`, t1.`DELETED`, t1.`DOWNLOADS`, t1.`EXTENSION`, t1.`EXTRA`, t1.`ID`, t1.`OBJECTID`, t1.`OBJECTTYPE`, t1.`PATHNAME`, t1.`SIZE`, CONCAT_WS('',case when (t1.size/1024) > 1024 then ROUND(t1.size/(1024 * 1024), 1) when (t1.size/1024) > 1 then ROUND(t1.size/1024, 1) else ROUND(t1.size, 1) end, case when (t1.size/1024) > 1024 then 'MB' when (t1.size/1024) > 1 then 'KB' else 'B' end) AS `STRSIZE`, t1.`TITLE` FROM `zt_file` t1  ) t1 where id=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="FileResultMap" type="cn.ibizlab.pms.core.zentao.domain.File" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->


    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.zentao.filter.FileSearchContext"  resultMap="FileResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[DocLibFile]-->
	 <select id="searchDocLibFile"  parameterType="cn.ibizlab.pms.core.zentao.filter.FileSearchContext"  resultMap="FileResultMap">
         select t1.* from (
                <include refid="DocLibFile" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[ProductDocLibFile]-->
	 <select id="searchProductDocLibFile"  parameterType="cn.ibizlab.pms.core.zentao.filter.FileSearchContext"  resultMap="FileResultMap">
         select t1.* from (
                <include refid="ProductDocLibFile" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Type]-->
	 <select id="searchType"  parameterType="cn.ibizlab.pms.core.zentao.filter.FileSearchContext"  resultMap="FileResultMap">
         select t1.* from (
                <include refid="Type" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[TypeNotBySrfparentkey]-->
	 <select id="searchTypeNotBySrfparentkey"  parameterType="cn.ibizlab.pms.core.zentao.filter.FileSearchContext"  resultMap="FileResultMap">
         select t1.* from (
                <include refid="TypeNotBySrfparentkey" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDEDBY`, t1.`ADDEDDATE`, t1.`DELETED`, t1.`DOWNLOADS`, t1.`EXTENSION`, t1.`EXTRA`, t1.`ID`, t1.`OBJECTID`, t1.`OBJECTTYPE`, t1.`PATHNAME`, t1.`SIZE`, CONCAT_WS('',case when (t1.size/1024) > 1024 then ROUND(t1.size/(1024 * 1024), 1) when (t1.size/1024) > 1 then ROUND(t1.size/1024, 1) else ROUND(t1.size, 1) end, case when (t1.size/1024) > 1024 then 'MB' when (t1.size/1024) > 1 then 'KB' else 'B' end) AS `STRSIZE`, t1.`TITLE` FROM `zt_file` t1  
					 WHERE 	t1.DELETED = '0'
			]]>
    </sql>
    <!--数据查询[DocLibFile]-->
    <sql id="DocLibFile" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDEDBY`, t1.`ADDEDDATE`, t1.`DELETED`, t1.`DOWNLOADS`, t1.`EXTENSION`, t1.`EXTRA`, t1.`ID`, t1.`OBJECTID`, t1.`OBJECTTYPE`, t1.`PATHNAME`, CONCAT_WS('',case when (t1.size/1024) > 1024 then ROUND(t1.size/(1024 * 1024), 1) when (t1.size/1024) > 1 then ROUND(t1.size/1024, 1) else ROUND(t1.size, 1) end, case when (t1.size/1024) > 1024 then 'MB' when (t1.size/1024) > 1 then 'KB' else 'B' end) as `STRSIZE`, t1.size, CONCAT_WS('',t1.`TITLE`,' [',UPPER(t1.objectType),' #',t1.objectID,']') AS `TITLE`, 'file' as doclibtype FROM `zt_file` t1
					 WHERE 	t1.deleted = '0'
						 AND ((t1.objectType = 'project' and t1.objectID = #{srf.datacontext.project}) or (t1.objectType = 'task' and EXISTS(select 1 from zt_task t where t.deleted = '0' and t.project = #{srf.datacontext.project} and t.id = t1.objectID)) or (t1.objectType = 'doc' and EXISTS(select 1 from zt_doc t where t.deleted = '0' and t.project = #{srf.datacontext.project} and t.id = t1.objectID)) or (t1.objectType = 'build' and EXISTS(select 1 from zt_build t where t.deleted = '0' and t.project = #{srf.datacontext.project} and t.id = t1.objectID)) )
			]]>
    </sql>
    <!--数据查询[ProductDocLibFile]-->
    <sql id="ProductDocLibFile" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDEDBY`, t1.`ADDEDDATE`, t1.`DELETED`, t1.`DOWNLOADS`, t1.`EXTENSION`, t1.`EXTRA`, t1.`ID`, t1.`OBJECTID`, t1.`OBJECTTYPE`, t1.`PATHNAME`, CONCAT_WS('',case when (t1.size/1024) > 1024 then ROUND(t1.size/(1024 * 1024), 1) when (t1.size/1024) > 1 then ROUND(t1.size/1024, 1) else ROUND(t1.size, 1) end, case when (t1.size/1024) > 1024 then 'MB' when (t1.size/1024) > 1 then 'KB' else 'B' end) as `STRSIZE`, t1.size, CONCAT_WS('',t1.`TITLE`,' [',UPPER(t1.objectType),' #',t1.objectID,']') AS `TITLE`, 'file' as doclibtype FROM `zt_file` t1
					 WHERE 	t1.deleted = '0'
						 AND ((t1.objectType = 'product' and t1.objectID = #{srf.datacontext.product}) or (t1.objectType = 'story' and EXISTS(select 1 from zt_story t where t.deleted = '0' and t.product = #{srf.datacontext.product} and t.id = t1.objectID)) or (t1.objectType = 'doc' and EXISTS(select 1 from zt_doc t where t.deleted = '0' and t.product = #{srf.datacontext.product} and t.id = t1.objectID)) or (t1.objectType = 'bug' and EXISTS(select 1 from zt_bug t where t.deleted = '0' and t.product = #{srf.datacontext.product} and t.id = t1.objectID)) )
			]]>
    </sql>
    <!--数据查询[Type]-->
    <sql id="Type" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDEDBY`, t1.`ADDEDDATE`, t1.`DELETED`, t1.`DOWNLOADS`, t1.`EXTENSION`, t1.`EXTRA`, t1.`ID`, t1.`OBJECTID`, t1.`OBJECTTYPE`, t1.`PATHNAME`, t1.`SIZE`, CONCAT_WS('',case when (t1.size/1024) > 1024 then ROUND(t1.size/(1024 * 1024), 1) when (t1.size/1024) > 1 then ROUND(t1.size/1024, 1) else ROUND(t1.size, 1) end, case when (t1.size/1024) > 1024 then 'MB' when (t1.size/1024) > 1 then 'KB' else 'B' end) AS `STRSIZE`, t1.`TITLE` FROM `zt_file` t1  
					 WHERE 	t1.DELETED = '0'
						 AND ( t1.`OBJECTID` = #{srf.datacontext.srfparentkey}  AND  t1.`OBJECTTYPE` =  #{srf.datacontext.objecttype}  AND  t1.`EXTRA` <> 'editor' )
			]]>
    </sql>
    <!--数据查询[TypeNotBySrfparentkey]-->
    <sql id="TypeNotBySrfparentkey" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDEDBY`, t1.`ADDEDDATE`, t1.`DELETED`, t1.`DOWNLOADS`, t1.`EXTENSION`, t1.`EXTRA`, t1.`ID`, t1.`OBJECTID`, t1.`OBJECTTYPE`, t1.`PATHNAME`, t1.`SIZE`, CONCAT_WS('',case when (t1.size/1024) > 1024 then ROUND(t1.size/(1024 * 1024), 1) when (t1.size/1024) > 1 then ROUND(t1.size/1024, 1) else ROUND(t1.size, 1) end, case when (t1.size/1024) > 1024 then 'MB' when (t1.size/1024) > 1 then 'KB' else 'B' end) AS `STRSIZE`, t1.`TITLE` FROM `zt_file` t1  
					 WHERE 	t1.DELETED = '0'
						 AND ( t1.`OBJECTID` = #{srf.datacontext.objectid}  AND  t1.`OBJECTTYPE` =  #{srf.datacontext.objecttype}  AND  t1.`EXTRA` <> 'editor' )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDEDBY`, t1.`ADDEDDATE`, t1.`DELETED`, t1.`DOWNLOADS`, t1.`EXTENSION`, t1.`EXTRA`, t1.`ID`, t1.`OBJECTID`, t1.`OBJECTTYPE`, t1.`PATHNAME`, t1.`SIZE`, CONCAT_WS('',case when (t1.size/1024) > 1024 then ROUND(t1.size/(1024 * 1024), 1) when (t1.size/1024) > 1 then ROUND(t1.size/1024, 1) else ROUND(t1.size, 1) end, case when (t1.size/1024) > 1024 then 'MB' when (t1.size/1024) > 1 then 'KB' else 'B' end) AS `STRSIZE`, t1.`TITLE` FROM `zt_file` t1  
					 WHERE 	t1.DELETED = '0'
			]]>
    </sql>
</mapper>

