.app-login {
    ion-header, ion-content {
        --background: transparent;
        ion-toolbar {
            --background: transparent;  
        }
    }
    background-image: url('../../../public/assets/images/login_background.jpg');
    &-contant {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &-form {
        height: 200px;
        width: 100%;
        ion-list, .button {
            width: 100%;
        }
    }
}