.app-taskteam-list-item {
    background: #fff;
    width: 100%;
    height: 100%;
    font-size: 13px;
    .app-taskteam-list-item_top {
        display: flex;
        align-items: center;
    }
    .app-taskteam-list-item_top {
        padding: 10px;
        position: relative;
        .account_part {
            width: 45px;
            height: 45px;
            line-height: 45px;
            background: red;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            margin-right: 5px;
            font-size: 25px;
        }
        .account_img {
            border-radius: 50%;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            color: #fff;
            margin-right: 5px;
            img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }
        .account_text {
            flex: 3;
            margin-left: 5px;
            font-size: 17px;
        }
        .role {
            flex: 3;
            margin-left: 5px;
            margin-top: 3px;
        }
    }
}