<div :class="{ 'grid': true, 'show-paging-bar': isEnablePagingBar, 'hidden-paging-bar': !isEnablePagingBar }">
    <i-form>
        <el-table v-if="isDisplay === true"
            :border="isDragendCol"
            :highlight-current-row ="isSingleSelect"
            :row-class-name="getRowClassName.bind(_self)"
            :cell-class-name="getCellClassName.bind(_self)"
            size="mini"
            stripe
            :height="tableHeight"
            @row-click="rowClick($event)"  
            @select-all="selectAll($event)"  
            @select="select.apply(_self, arguments)"  
            @row-class-name="onRowClassName($event)"  
            @row-dblclick="rowDBLClick($event)"  
            ref="multipleTable" :data="items" :show-header="!isHideHeader"
        >
            <template slot="empty">
                {{$t('entities.productsum.main_grid.nodata')}} 
                <span class="quick-toolbar">
                </span>
            </template>
            <template v-if="!isSingleSelect">
                <el-table-column align="center" type="selection" :width="checkboxColWidth"></el-table-column>
            </template>
            <template v-if="getColumnState('name')">
                <el-table-column show-overflow-tooltip :prop="'name'" :label="$t('entities.productsum.main_grid.columns.name')" :min-width="180"  :align="'left'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.main_grid.columns.name')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.name}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('po')">
                <el-table-column show-overflow-tooltip :prop="'po'" :label="$t('entities.productsum.main_grid.columns.po')" :width="120"  :align="'left'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.main_grid.columns.po')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <template >
            <codelist :value="row.po" tag="UserRealName_Gird" codelistType="DYNAMIC" renderMode="STR" valueSeparator="," textSeparator="," ></codelist>
                        </template>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('plan')">
                <el-table-column show-overflow-tooltip :prop="'plan'" :label="$t('entities.productsum.main_grid.columns.plan')" :width="200"  :align="'left'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.main_grid.columns.plan')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                        <template >
            <codelist :value="row.plan" tag="PlanCodeList" codelistType="DYNAMIC" ></codelist>
                        </template>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('begin')">
                <el-table-column show-overflow-tooltip :prop="'begin'" :label="$t('entities.productsum.main_grid.columns.begin')" :width="120"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.main_grid.columns.begin')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.begin}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('end')">
                <el-table-column show-overflow-tooltip :prop="'end'" :label="$t('entities.productsum.main_grid.columns.end')" :width="120"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.main_grid.columns.end')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.end}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('waitstorycnt')">
                <el-table-column show-overflow-tooltip :prop="'waitstorycnt'" :label="$t('entities.productsum.main_grid.columns.waitstorycnt')" :width="100"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.main_grid.columns.waitstorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.waitstorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('activestorycnt')">
                <el-table-column show-overflow-tooltip :prop="'activestorycnt'" :label="$t('entities.productsum.main_grid.columns.activestorycnt')" :width="100"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.main_grid.columns.activestorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.activestorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('changedstorycnt')">
                <el-table-column show-overflow-tooltip :prop="'changedstorycnt'" :label="$t('entities.productsum.main_grid.columns.changedstorycnt')" :width="100"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.main_grid.columns.changedstorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.changedstorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('closedstorycnt')">
                <el-table-column show-overflow-tooltip :prop="'closedstorycnt'" :label="$t('entities.productsum.main_grid.columns.closedstorycnt')" :width="100"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.main_grid.columns.closedstorycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.closedstorycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="getColumnState('storycnt')">
                <el-table-column show-overflow-tooltip :prop="'storycnt'" :label="$t('entities.productsum.main_grid.columns.storycnt')" :width="100"  :align="'center'">
                    <template v-slot:header="{column}">
                       <span class="column-header ">
                        {{$t('entities.productsum.main_grid.columns.storycnt')}}
                       </span>
                    </template>
                    <template v-slot="{row,column,$index}">
                            <span>{{row.storycnt}}</span>
                    </template>
                </el-table-column>
            </template>
            <template v-if="adaptiveState">
                <el-table-column></el-table-column>
            </template>
        </el-table>
    </i-form>
</div>