.app-mob-span{
  width: 100%;
  display: flex;
  ion-icon{
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 151px;
    transform: translateY(-50%);
  }
  ion-input{
    z-index: 99 !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
    word-wrap:break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
  }
}