.comb-form-item {
    width: 100%;
    margin-bottom: 10px;
    .caption {
        padding-left: 19px;
        margin-top: 10px;
        font-size: 0.95rem;
    }
    .comb-item {
        margin-top: 9px;
        display: flex;
    }
    .comb-item:nth-child(1) {
        margin-top: 0;
    }
}
