.app-setting {
  background: @color-main-background;
  .content {
      width: 100%;
      height: 100%;
      overflow: auto;
      .content-list {
          margin-top: 12px;
          .content-list-item-content {
              width: 100%;
              height: 100%;
              padding: 0 15px;
              justify-content: space-between;
              display: flex;
              align-items: center;
              .content-list-item-content-text {
                  font-size: 14px;
              }
              ion-icon {
                  color: #bbbbbb;
              }
              .app-mobile-select {
                  width: 70%;
                  display: flex;
                  justify-content: flex-end;
              }
          }
          .content-list-item-content:active {
              background: @color-main-background;
          }
      }
      .content-list-top {
          margin: 0;
      }
  }
  ion-item {
      --inner-padding-end: 0 !important;
      --padding-start: 0 !important;
      --border-style: 0;
      color: #565656;
      --color-activated: @color-main-background;
      --color-focused: @color-main-background;
      --color-hover: @color-main-background;
  }
}
