<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="ibzplantemplet_main"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
            <i-col
    class="form-layout-container"
    v-show="detailsModel.group1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.group1"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.group1.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.ibzplantemplet.main_form.details.group1')"
    :isShowCaption="false"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.group1"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.ibz_plantempletname.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="ibz_plantempletname"
    :itemRules="this.rules().ibz_plantempletname"
    class=""

    :caption="$t('entities.ibzplantemplet.main_form.details.ibz_plantempletname')"
    uiStyle="DEFAULT"
    :labelWidth="80"
    :isShowCaption="true"
    :error="detailsModel.ibz_plantempletname.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <input-box 
    v-model="data.ibz_plantempletname"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.ibz_plantempletname.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.acl.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="acl"
    :itemRules="this.rules().acl"
    class=""

    :caption="$t('entities.ibzplantemplet.main_form.details.acl')"
    uiStyle="DEFAULT"
    :labelWidth="80"
    :isShowCaption="true"
    :error="detailsModel.acl.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list 
    v-model="data.acl"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.acl.disabled"
    valueType="string"
    tag="PlanAcl"
    codelistType="STATIC"
    placeholder="请选择..."

></dropdown-list>
</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.druipart1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-druipart
    
    :formState="formState"
    :isForbidLoad="this.data.srfuf === '0'"
    paramItem="ibzplantemplet" 
    :parentdata='{"srfparentdefname":"PLANTEMPLETID","srfparentdename":"IBZ_PLANTEMPLET","SRFPARENTTYPE":"DER1N","srfparentmode":"DER1N_IBZ_PLANTEMPLETDETAIL_IBZ_PLANTEMPLET_PLANTEMPLETID","SRFDER1NID":"DER1N_IBZ_PLANTEMPLETDETAIL_IBZ_PLANTEMPLET_PLANTEMPLETID"}'
    :parameters="[
        {
            pathName: 'ibzplantemplets',
            parameterName: 'ibzplantemplet',
        },
    ]"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{}'
    :localParam ='{}'
    parameterName="ibzplantemplet"
    parentName="IbzPlanTemplet"  
    refviewtype="DEGRIDVIEW9" 
    refreshitems="" 
    :ignorefieldvaluechange="ignorefieldvaluechange"
    viewname="ibz-plan-templet-detail-grid-view9" 
    :data="JSON.stringify(this.data)" 
    @drdatasaved="drdatasaved.apply(_self, arguments)"
    style="overflow: auto;">
</app-form-druipart>

</i-col>


    </row>
</i-form>
