.app-mobile-datetime-picker {
  width: 100%;
  text-align: right;
  ion-datetime {
    --padding-end: 5px;
    padding-left: 0;
    color: @from-main-color;
  }
  ion-icon {
    position: absolute;
    right: 18px;
    top: 42px;
    z-index: 2;
  }
}

.picker-col {
  padding-inline-start: 5px;
  padding-inline-end: 0;
}
.picker-columns {
  .picker-col:nth-child(2) {
    padding-inline-start: 15px;
    padding-inline-end: 0;
  }
}
