// this is less
.srf_empty_class {
    width: 100%;
    height: 100%;
}
.title-label{
    ion-icon {
      margin-bottom: 2px;
      vertical-align: middle;
    }
    img{
      width: 22px;
      height: 22px;
      margin-right: 5px;
      vertical-align: middle;
    }
    span{
      vertical-align: middle;
    }
}




//排序样式
.mdview-tools{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .story-favorite-mob-mdview9-toolbar{
      --padding-end: 0;
      z-index:10;
      .code-box{
        overflow-x: auto;
        .ibz-item{
              --inner-border-width:0;
              min-width: 50%;
          }
      }
      .view-tool {
          display: flex;
          padding: 0 0 0 @padding-sm ;
          &-sorts {
              display: flex;
              flex-grow: 1;
              &-item {
                  display: flex;
                  height: 24px;
                  font-size: @font-size-md;
                  align-items: center;
                  .text {
                      display: flex;
                      flex-grow: 1;
                      font-size: 15px;
                  }
                  .sort-icon {
                      display: flex;
                      flex-direction: column;
                      width: 20px;
                      padding-left: @padding-base;
                      justify-content: center;
                      ion-icon {
                          font-size: @font-size-xs - 1;
                      }
                      .sort-select{
                        color: #3880ff;;
                      }
                  }
              }
          }
          &-searchform {
              display: flex;
              width: 60px;
              justify-content: flex-end;
              align-items: center;
          }
      }
  }
}
//搜索表单按钮
.search-btn{
  display: flex;
  margin-bottom: 15px;
  .search-btn-item{
    width: 50%;
  }
}

.scroll_tool{
  position: absolute;
  bottom: 70px;
  right: 45px;
  .scrollToTop{
    opacity: 1;
    position: relative;
    bottom: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all .5s;
    z-index: 1;
  .van-icon{
      font-size: 20px;
      color: #333;
    }
  }
}


// 搜索表单内容
.searchform-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    .form-content {
        flex-grow: 1;
        overflow: auto;
        height: 50%;
    }
    .form-action {
        padding: 0.5rem 1rem;
        text-align: center;
    }
}
