.ivu-dropdown.user-info-dropdown-menus {

    >.ivu-dropdown-rel {

        >.user-info {
            width: 40px;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
        
            >.user-head-sculpture {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                border: 1px solid #8893a7;
                font-size: 18px;
                font-weight: 900;
                text-align: center;
            }
        
            >span {
                display: inline-block;
                margin-left: 3px;
                margin-top: 5px;
            }
        }
    }

    .ivu-select-dropdown {
        margin: 0;
        padding: 0;
        background-color: var(--view-button-background-color);
        color: var(--view-button-color);
        overflow: unset;

        >.ivu-dropdown-menu {

            .ivu-dropdown-item {
                color: var(--view-button-color);
                padding: 5px 8px;

                >i {
                    margin-right: 3px;
                }
            }

            .ivu-dropdown-item:hover {
                background-color: var(--view-button-background-color-active);
                color: var(--view-button-color-active);
            }
        }
    }
}