.app-form-item2 {
  border-bottom: 0.3px solid #e6e8ef;
  .app-form-item2-search {
    width: 100%;
    font-size: 15px;
    padding: 15px;
    .app-form-item2_header {
      padding: 0 5px;
      display: flex;
      justify-content: space-between;
      .selectValue {
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        .select_icon {
          ion-icon {
            position: relative;
            top: 2px;
          }
        }
      }
    }
  }
  .app-form-item {
    width: 100%;
    font-size: 15px;
    --inner-padding-start: 20px;
    --padding-start: 0;
    .app-form-item-label-required {
      color: #ea3424;
    }
    .app-form-item-label-notRequired {
      color: #000;
    }
    .prompt_text {
      position: absolute;
      right: 25px;
      opacity: 0.8;
      font-size: 12px;
      bottom: 0;
      color: #ea3424;
      z-index: 10;
    }
    .prompt_text_right {
      position: absolute;
      left: 0;
      opacity: 0.8;
      font-size: 12px;
      bottom: 0;
      color: #ea3424;
      z-index: 10;
    }
    .sc-ion-label-ios-h {
      font-size: 15px;
    }

    --border-color: transparent;
    --background: transparent;
    font-family: -apple-system, "Microsoft Yahei";
  }
  .app-form-item.item-has-value {
    > ion-label {
      color: #000;
      font-size: 15px;
    }
  }
  .app-form-item {
    ion-label {
      min-width: 34px;
    }
  }
  .left {
    .app-form-item-input {
      --padding-end: 26px;
    }
    .app-form-item-textarea {
      --padding-end: 26px;
    }
  }
  .app-form-item.item-last-item {
    --inner-border-width: 0;
  }

  .item-disabled {
    opacity: 0.6;
    ion-label {
      -webkit-opacity: 1 !important;
      -webkit-text-fill-color: #000;
    }
  }
}
