<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="ibizproplugin_main"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
            <i-col
    class="form-layout-container"
    v-show="detailsModel.group1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.group1"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.group1.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.ibizproplugin.main_form.details.group1')"
    :isShowCaption="true"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.group1"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.ibizpro_pluginname.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="ibizpro_pluginname"
    :itemRules="this.rules().ibizpro_pluginname"
    class=""

    :caption="$t('entities.ibizproplugin.main_form.details.ibizpro_pluginname')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.ibizpro_pluginname.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <input-box 
    v-model="data.ibizpro_pluginname"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.ibizpro_pluginname.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.type.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="type"
    :itemRules="this.rules().type"
    class=""

    :caption="$t('entities.ibizproplugin.main_form.details.type')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.type.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list 
    v-model="data.type"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.type.disabled"
    valueType="string"
    placeholder="请选择..."

></dropdown-list>
</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.downloadurl.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="downloadurl"
    :itemRules="this.rules().downloadurl"
    class=""

    :caption="$t('entities.ibizproplugin.main_form.details.downloadurl')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.downloadurl.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <input-box 
    v-model="data.downloadurl"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.downloadurl.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.tag.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="tag"
    :itemRules="this.rules().tag"
    class=""

    :caption="$t('entities.ibizproplugin.main_form.details.tag')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.tag.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.tag"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.tag.disabled"
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.keyword.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="keyword"
    :itemRules="this.rules().keyword"
    class=""

    :caption="$t('entities.ibizproplugin.main_form.details.keyword')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.keyword.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.keyword"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.keyword.disabled"
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


    </row>
</i-form>
