<i-form :model="this.data" class='app-form' ref='form'  id='release_onerelease' style="">
    <input style="display:none;" />
    <row >
            
<i-col class="form-layout-container" v-show="detailsModel.releasetype.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='releasetype' :itemRules="this.rules.releasetype" class='' :caption="$t('entities.release.onerelease_form.details.releasetype')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.releasetype.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.releasetype"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.releasetype.disabled"
    valueType="string"
    tag='RELEASE_Type'
    codelistType='STATIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.backgroundid.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='backgroundid' :itemRules="this.rules.backgroundid" class='' :caption="$t('entities.release.onerelease_form.details.backgroundid')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.backgroundid.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.backgroundid"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.backgroundid.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.frontapplication.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='frontapplication' :itemRules="this.rules.frontapplication" class='' :caption="$t('entities.release.onerelease_form.details.frontapplication')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.frontapplication.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.frontapplication"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.frontapplication.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.sqlid.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='sqlid' :itemRules="this.rules.sqlid" class='' :caption="$t('entities.release.onerelease_form.details.sqlid')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.sqlid.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.sqlid"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.sqlid.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.rebuild.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='rebuild' :itemRules="this.rules.rebuild" class='' :caption="$t('entities.release.onerelease_form.details.rebuild')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.rebuild.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.rebuild"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.rebuild.disabled"
    valueType="number"
    tag='RELEASE_rebuild'
    codelistType='STATIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>


    </row>
</i-form>