.booklist-ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  .booklist-li {
  padding: 0.7em 0.3em;
      margin: 0;
  }
  .booklist-ulbox {
    border: solid 0.0625em #cccccc;
  }
  .booklist-item-ul {
    display: flex;
    justify-content: space-around;
  }
  .booklist-item-ulbox {
    border: solid 0.0625em #cccccc;
    border-top: none;
  }
  .text-box{
    width: 4em;
    text-align: center;
  }