.road-map {
    padding-top: 30px;

    >.road-map-wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        padding: 0;

        >.road-map-item {
            position: relative;
            display: table-cell;

            >a {
                position: relative;
                display: block;
                color: var(--view-font-color);

                >.content {

                    >.title {
                        font-size: 14px;
                    }

                    >.date {
                        font-size: 12px;
                        color: rgba(var(--view-font-color-rgb), 0.6);
                    }
                }
            }

            >a::before {
                position: absolute;
                left: 0;
                display: block;
                width: 13px;
                height: 13px;
                content: ' ';
                background-color: var(--view-button-background-color);
                border: 2px solid var(--view-font-color-bright);
                border-radius: 50%;
            }

            >a::after {
                position: absolute;
                left: 5px;
                display: block;
                width: 2px;
                height: 30px;
                content: ' ';
                background: var(--view-button-background-color);
            }
        }

        >.road-map-item:nth-child(odd) {
            padding-top: 80px;
            vertical-align: top;

            >a {
                height: 85px;
                padding-top: 36px;
                border-top: 5px solid var(--view-button-background-color);
            }

            >a::before {
                top: -9px;
            }

            >a::after {
                top: 6px;
            }
        }

        >.road-map-item:nth-child(even) {
            padding-bottom: 80px;
            vertical-align: bottom;

            >a {
                height: 85px;
                padding-bottom: 36px;
                border-bottom: 5px solid var(--view-button-background-color);
            }

            >a::before {
                bottom: -9px;
            }

            >a::after {
                bottom: 6px;
            }
        }

        >.road-map-item:last-child {

            >a {
                border-top-color: transparent;
            }
        }
    }
}