.app-trends-list {
    padding: 10px;
    .app-trends-list-item {
        display: -webkit-box;
        position: relative;
        .tag {
            width: 20px;
            height: 40px;
            margin: 0 10px;
            position: relative;
        }
        .tag_border {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: red;
            position: absolute;
            top: 0px;
            left: 10px;
        }
        .tag_line {
            width: 2px;
            height: 36px;
            background: red;
            position: absolute;
            top: 2px;
            left: 14px;
        }
        .userName{
            margin-right: 5px;
        }
        span.id {
            position: absolute;
            bottom: 0;
            left: 0;
            color: #1a73e8;
        }
    }
}
