.app-mob-check-list-search {
  width: 100%;
  height: 40px;
  .cancel-icon {
    width: 16px;
    height: 16px;
    background-color: @from-main-background;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon {
      position: absolute;
      font-size: 16px;
      right: 0;
      top: 0;
      color: @from-main-color;
      z-index: 9999;
    }
  }
  .ion-select-icon {
    right: 17px;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    color: currentcolor;
    pointer-events: none;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: @from-main-color;
  }
  .value_text {
    color: @from-main-color;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: inherit;
    padding-right: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.ibiz_sheet {
  max-height: 300px;
  overflow: auto;
  padding-bottom: 44px;
  .search {
    text-align: center;
    position: fixed;
    bottom: 0;
  }
  .sheet_item:active {
    background-color: #f2f3f5;
  }
  .sheet_item {
    width: 100%;
    padding: 10px 20px 10px 20px;
    text-align: left;
  }
  .select {
    color: #3880ff;
  }
  .selectbtn {
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
