<i-form :model="this.data" class='app-form' ref='form'  id='project_projectmg' style="">
    <input style="display:none;" />
    <row >
            
<i-col class="form-layout-container" v-show="detailsModel.rawitem1.visible" :style="{}"  :lg="{ span: 3, offset: 0 }" :xl="{ span: 3, offset: 0 }">
    <div class="" style="">
    团队管理
</div>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.dept.visible" :style="{}"  :lg="{ span: 8, offset: 0 }" :xl="{ span: 8, offset: 0 }">
    <app-form-item name='dept' :itemRules="this.rules.dept" class='' :caption="$t('entities.project.projectmg_form.details.dept')" uiStyle="DEFAULT" :labelWidth="80" :isShowCaption="true" :error="detailsModel.dept.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.dept"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.dept.disabled"
    valueType="string"
    tag='RealDept'
    codelistType='DYNAMIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.managemembers.visible" :style="{}"  :lg="{ span: 8, offset: 0 }" :xl="{ span: 8, offset: 0 }">
    <app-form-item name='managemembers' :itemRules="this.rules.managemembers" class='' :caption="$t('entities.project.projectmg_form.details.managemembers')" uiStyle="DEFAULT" :labelWidth="80" :isShowCaption="true" :error="detailsModel.managemembers.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.managemembers"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.managemembers.disabled"
    valueType="string"
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.druipart1.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-druipart
    
    :formState="formState"
    :isForbidLoad="this.data.srfuf === '0'"
    paramItem='project' 
    :parentdata='{"srfparentdefname":"ROOT","srfparentdename":"ZT_PROJECT","SRFPARENTTYPE":"DER1N","srfparentmode":"DER1N_IBZ_PROJECTTEAM_ZT_PROJECT_ROOT","SRFDER1NID":"DER1N_IBZ_PROJECTTEAM_ZT_PROJECT_ROOT"}'
    :parameters="[
        { pathName: 'projects', parameterName: 'project' },
    ]"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{}'
    :localParam ='{}'
    parameterName='project'
    parentName="Project"  
    refviewtype='DEGRIDVIEW' 
    refreshitems='dept;managemembers' 
    :ignorefieldvaluechange="ignorefieldvaluechange"
    viewname='project-team-main-grid-view-edit-row' 
    :data="JSON.stringify(this.data)" 
    @drdatasaved="drdatasaved($event)"
    style="overflow: auto;">
</app-form-druipart>

</i-col>


    </row>
</i-form>