.app-form-group {

    .show-more {
        margin-top: 5px;
    }

    >.ivu-card-head {

        .arrow-forward {
            cursor: pointer;
            margin-right: 6px;
        }
    }

    >.ivu-card-extra {

        >span {
            float: right;
        }

        .item-extract-mode {
            display: flex;

            .item {
                margin-left: 12px;

                .caption {
                    padding-left: 5px;
                }
            }
        }
    }
}

.app-form-group.app-group-collapse-contant {

    .ivu-card-body {
        display: none;
    }
}

.app-group-flex {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    >.ivu-card-body {
        height: calc(100% - 51px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}