.app-picker {
  width: 100%;
  position: relative;
  .ibz-input{
    padding-right: 18px !important;
  }
  .open-picker {
    position: absolute;
    right: 5px;
    top: 13px;  
    z-index: 3;
  }
  .delete-value {
    position: absolute;
    right: 4px;
    top: 13px; 
    z-index: 3;
  }
}