.app-picker {
  width: 100%;
  position: relative;
  .ibz-input{
    width: 80%;
  }
  .open-picker {
    position: absolute;
    right: 0px;
    top: 13px;  
    z-index: 3;
  }
  .delete-value {
    position: absolute;
    right: 17px;
    top: 13px; 
    z-index: 3;
  }
}