.app-picker {
  width: 100%;
  position: relative;
  .ibz-input{
    padding-right: 20px !important;
  }
  .open-picker {
    position: absolute;
    right: 5px;
    top: 13px;  
    z-index: 3;
  }
  .delete-value {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    color: #969696 !important;
  }
  ion-icon[name="close-outline"] {
    font-size: 20px !important;
  }
}