// this is less
.srf_empty_class {
    width: 100%;
    height: 100%;
}

.app-mob-portlet{
    background: #fafafa;
    .app-mob-mdctrl .app-mob-mdctrl-mdctrl .items .ibz-ionic-item {
        --inner-padding-end: 0 !important;
        --padding-start: 0 !important;
    }

    .app-mob-mdctrl .app-mob-mdctrl-mdctrl .items .app-mob-mdctrl-item {
        margin: 0 !important;
        border-bottom: 1px solid #e8e8e8;
    }
}
.app-mob-portlet .ion-page.view-container{
    margin-top: 41px;
}
.task-dashboard_sysportlet4{}
