.app-mobile-select{
  width: 100%;
  ion-icon{
    position: absolute;
    right: 15px;
    bottom: 13px;
    z-index: 2;
  }
  ion-select{
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    text-align: right;
    color: #969696 !important;
  }
  ion-select::part(text) {
    padding-right: 15px;
  }
  ion-select::part(icon) {
    display: none !important;
    opacity: 0 !important;
  }
  .ion-select-icon{
    right: 17px;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0px;
    height: 0px;
    color: currentcolor;
    pointer-events: none;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #615e5ec4;
  }
}

.item-interactive-disabled{
  .app-mobile-select ion-select {
    -webkit-text-fill-color: #000;
    -webkit-opacity: 0.6 !important;
  }
  .app-mobile-select .ion-select-icon{
    -webkit-text-fill-color: #000;
    -webkit-opacity: 0.6 !important;
  }
  .app-mobile-select ion-icon{
    -webkit-text-fill-color: #000;
    -webkit-opacity: 0.6 !important;
  }
}
