<i-form :model="this.data" class="app-search-form" ref="searchform" style="">
    <input style="display:none;">
    <div class="search-button">
        <i-button size="small" type="primary" ghost @click="onSearch.apply(_self, arguments)">{{$t('app.searchButton.search')}}</i-button>
        <i-button size="small" type="default" ghost @click="onReset.apply(_self, arguments)">{{this.$t('app.searchButton.reset')}}</i-button>
    </div>
    <div class="form-content">
                  
          <i-col
              class="form-layout-container"
              v-show="detailsModel.grouppanel1.visible"
              :style="{}"
              
              
              :lg="{ span: 9, offset: 0 }"
              :xl="{ span: 9, offset: 0 }"
          >
              <app-form-group layoutType="TABLE_24COL" titleStyle="" class="" :uiActionGroup="detailsModel.grouppanel1.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.bugstats.productbug_searchform.details.grouppanel1')" :isShowCaption="false" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
              <row>
                  <i-col
              class="form-layout-container"
              v-show="detailsModel.openeddatelt.visible"
              :style="{}"
              
              
              :lg="{ span: 14, offset: 0 }"
              :xl="{ span: 14, offset: 0 }"
          >
              <app-form-item
              name="openeddatelt"
              :itemRules="this.rules.openeddatelt"
              class=""
              
              :caption="$t('entities.bugstats.productbug_searchform.details.openeddatelt')"
              uiStyle="DEFAULT" :labelWidth="95" :isShowCaption="true"
              :error="detailsModel.openeddatelt.error"
              :isEmptyCaption="false"
              labelPos="LEFT"
          >
              <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.openeddatelt" :disabled="detailsModel.openeddatelt.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.openeddatelt = val1 }"></date-picker>
          
          </app-form-item>
          
          </i-col>
          <i-col
              class="form-layout-container"
              v-show="detailsModel.openeddategt.visible"
              :style="{}"
              
              
              :lg="{ span: 10, offset: 0 }"
              :xl="{ span: 10, offset: 0 }"
          >
              <app-form-item
              name="openeddategt"
              :itemRules="this.rules.openeddategt"
              class=""
              
              :caption="$t('entities.bugstats.productbug_searchform.details.openeddategt')"
              uiStyle="DEFAULT" :labelWidth="30" :isShowCaption="true"
              :error="detailsModel.openeddategt.error"
              :isEmptyCaption="false"
              labelPos="LEFT"
          >
              <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.openeddategt" :disabled="detailsModel.openeddategt.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.openeddategt = val1 }"></date-picker>
          
          </app-form-item>
          
          </i-col>
              
              </row>
          </app-form-group>
          
          </i-col>
          <i-col
              class="form-layout-container"
              v-show="detailsModel.grouppanel2.visible"
              :style="{}"
              
              
              :lg="{ span: 24, offset: 0 }"
              :xl="{ span: 15, offset: 0 }"
          >
              <app-form-group layoutType="TABLE_24COL" titleStyle="" class="" :uiActionGroup="detailsModel.grouppanel2.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.bugstats.productbug_searchform.details.grouppanel2')" :isShowCaption="false" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
              <row>
                  <i-col
              class="form-layout-container"
              v-show="detailsModel.producteq.visible"
              :style="{}"
              
              
              :lg="{ span: 12, offset: 0 }"
              :xl="{ span: 12, offset: 0 }"
          >
              <app-form-item
              name="producteq"
              :itemRules="this.rules.producteq"
              class=""
              
              :caption="$t('entities.bugstats.productbug_searchform.details.producteq')"
              uiStyle="DEFAULT" :labelWidth="50" :isShowCaption="true"
              :error="detailsModel.producteq.error"
              :isEmptyCaption="false"
              labelPos="LEFT"
          >
              
          <dropdown-list 
              v-model="data.producteq"
              :data="data"
              :context="context"
              :formState="formState"
              :viewparams="viewparams"
              :localContext='{ }' 
              :localParam='{ }' 
              :disabled="detailsModel.producteq.disabled"
              valueType="number"
              tag="Product"
              codelistType="DYNAMIC"
              placeholder="请选择..."
          
          ></dropdown-list>
          </app-form-item>
          
          </i-col>
          <i-col
              class="form-layout-container"
              v-show="detailsModel.projecteq.visible"
              :style="{}"
              
              
              :lg="{ span: 12, offset: 0 }"
              :xl="{ span: 12, offset: 0 }"
          >
              <app-form-item
              name="projecteq"
              :itemRules="this.rules.projecteq"
              class=""
              
              :caption="$t('entities.bugstats.productbug_searchform.details.projecteq')"
              uiStyle="DEFAULT" :labelWidth="50" :isShowCaption="true"
              :error="detailsModel.projecteq.error"
              :isEmptyCaption="false"
              labelPos="LEFT"
          >
              
          <dropdown-list 
              v-model="data.projecteq"
              :data="data"
              :context="context"
              :formState="formState"
              :viewparams="viewparams"
              :localContext='{ PRODUCT:"%product%" }' 
              :localParam='{ product:"%product%" }' 
              :disabled="detailsModel.projecteq.disabled"
              valueType="number"
              tag="ProjectCodeList"
              codelistType="DYNAMIC"
              placeholder="请选择..."
          
          ></dropdown-list>
          </app-form-item>
          
          </i-col>
              
              </row>
          </app-form-group>
          
          </i-col>
    </div>
</i-form>
