.twotitle{
    background: white;
}
.twotitle .fisttname{
    text-align: left;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
}
.secondname{
    text-align: left;
    padding: 5px 10px;
}