<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="ibzweekly_main"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
            <i-col
    class="form-layout-container"
    v-show="detailsModel.reportto.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    :xl="{ span: 12, offset: 0 }"
>
    <app-form-item
    name="reportto"
    :itemRules="this.rules().reportto"
    class=""

    :caption="$t('entities.ibzweekly.main_form.details.reportto')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.reportto.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list 
    v-model="data.reportto"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.reportto.disabled"
    valueType="string"
    tag="UserRealName_Gird"
    codelistType="DYNAMIC"
    placeholder="请选择..."

></dropdown-list>
</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.mailto.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    :xl="{ span: 12, offset: 0 }"
>
    <app-form-item
    name="mailto"
    :itemRules="this.rules().mailto"
    class=""

    :caption="$t('entities.ibzweekly.main_form.details.mailto')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.mailto.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.mailto"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.mailto.disabled"
  tag='UserRealName_Gird' 
  codelistType='DYNAMIC' 
  valueSeparator=","
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.thisweektask.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="thisweektask"
    :itemRules="this.rules().thisweektask"
    class=""

    :caption="$t('entities.ibzweekly.main_form.details.thisweektask')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.thisweektask.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.thisweektask"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.thisweektask.disabled"
  tag='CodeList' 
  codelistType='DYNAMIC' 
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.workthisweek.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="workthisweek"
    :itemRules="this.rules().workthisweek"
    class=""

    :caption="$t('entities.ibzweekly.main_form.details.workthisweek')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.workthisweek.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-rich-text-editor
    :formState="formState"
    :value="data.workthisweek"
    @change="(val) =>{this.data.workthisweek =val}"
    @formitemvaluechange="onFormItemValueChange($event)"
    :disabled="detailsModel.workthisweek.disabled"
    :data="JSON.stringify(this.data)"
    name="workthisweek"
    :context="context"
    :viewparams="viewparams"
    :uploadparams='{objecttype:"weekly",version:"editor"}'
    :exportparams='{objecttype:"weekly",version:"editor"}'
    
    style=""
></app-rich-text-editor>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.nextweektask.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="nextweektask"
    :itemRules="this.rules().nextweektask"
    class=""

    :caption="$t('entities.ibzweekly.main_form.details.nextweektask')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.nextweektask.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list-mpicker 
  v-model="data.nextweektask"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.nextweektask.disabled"
  tag='MyPlanTask' 
  codelistType='DYNAMIC' 
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.plannextweek.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="plannextweek"
    :itemRules="this.rules().plannextweek"
    class=""

    :caption="$t('entities.ibzweekly.main_form.details.plannextweek')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.plannextweek.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-rich-text-editor
    :formState="formState"
    :value="data.plannextweek"
    @change="(val) =>{this.data.plannextweek =val}"
    @formitemvaluechange="onFormItemValueChange($event)"
    :disabled="detailsModel.plannextweek.disabled"
    :data="JSON.stringify(this.data)"
    name="plannextweek"
    :context="context"
    :viewparams="viewparams"
    :uploadparams='{objecttype:"weekly",version:"editor"}'
    :exportparams='{objecttype:"weekly",version:"editor"}'
    
    style=""
></app-rich-text-editor>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.comment.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="comment"
    :itemRules="this.rules().comment"
    class=""

    :caption="$t('entities.ibzweekly.main_form.details.comment')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.comment.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-rich-text-editor
    :formState="formState"
    :value="data.comment"
    @change="(val) =>{this.data.comment =val}"
    @formitemvaluechange="onFormItemValueChange($event)"
    :disabled="detailsModel.comment.disabled"
    :data="JSON.stringify(this.data)"
    name="comment"
    :context="context"
    :viewparams="viewparams"
    :uploadparams='{objecttype:"weekly",version:"editor"}'
    :exportparams='{objecttype:"weekly",version:"editor"}'
    
    style=""
></app-rich-text-editor>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.files.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="files"
    :itemRules="this.rules().files"
    class=""

    :caption="$t('entities.ibzweekly.main_form.details.files')"
    uiStyle="DEFAULT"
    :labelWidth="130"
    :isShowCaption="true"
    :error="detailsModel.files.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-file-upload
    :formState="formState"
    :ignorefieldvaluechange="ignorefieldvaluechange"
    @formitemvaluechange="onFormItemValueChange($event)"
    :data="JSON.stringify(this.data)"
    name="files"
    :value="data.files"
    :disabled="detailsModel.files.disabled"
    :uploadparams='{objecttype:"weekly",objectid:"0",version:"1"}'
    :exportparams='{objecttype:"weekly",objectid:"0",version:"1"}'
    style="overflow: auto;"
></app-file-upload>
</app-form-item>

</i-col>


    </row>
</i-form>
