// 主题公共函数
.theme(@theme-color,@text-color) {
  ion-tab-bar {
    ion-tab-button {
      --color-selected: @theme-color;
    }
  }
  // 按钮样式
  ion-button {
    --background: @theme-color;
    --color: @text-color;
    --color-activated: @text-color;
    --background-activated: @theme-color;
  }
  // 多数据快速分组组件tab选中样式
  .app-seleted-item {
    color: @theme-color;
    border-bottom: 2px solid @theme-color;
  }
  ion-fab-button {
    --background: @theme-color;
    --box-shadow: -1px 1px 5px #8e9eab;
    --background-activated: @theme-color;
  }
  .view-container {
    ion-header {
      .ionoc-view-header {
        --background: @theme-color;
        --color: @text-color;
      }
    }
  }
  ion-toggle {
    --background-checked: @theme-color;
  }
  .app-form-item.item-has-focus {
    > ion-label {
      color: @theme-color;
    }
  }
  ion-picker {
    color: @theme-color;
    .picker-toolbar-button {
      button {
        color: @theme-color;
      }
    }
  }
  ion-action-sheet {
    --button-color: @theme-color;
    --max-height: 60%;
  }
  ion-alert {
    .alert-button {
      color: @theme-color;
    }
    [aria-checked="true"].sc-ion-alert-ios
      .alert-checkbox-icon.sc-ion-alert-ios {
      background-color: @theme-color;
      border-color: @theme-color;
    }
  }
  ion-checkbox {
    --background-checked: @theme-color;
    --border-color-checked: @theme-color;
  }
  .app-embed-view {
    .embed-view-header {
      ion-toolbar {
        --background: @theme-color;
        color: @text-color;
      }
    }
  }
  .app-mobile-radio-list {
    .van-radio__icon--checked .van-icon {
      color: #fff;
      background-color: @theme-color;
      border-color: @theme-color;
    }
  }
  .listexpbar_list {
    .van-sidebar-item--select::before {
      background-color: @theme-color;
    }
    .van-sidebar-item--select {
      border-color: @theme-color;
    }
  }
  .van-rate__icon--full {
    color: @theme-color;
  }
  ion-range {
    --bar-background-active: @theme-color;
  }

  // 多数据分类器样式
  .ibiz-dropdown-menu {
    .van-button--info {
      background-color: @theme-color;
      border: 1px solid @theme-color;
    }
    .dropdown-item-icon {
      color: @theme-color;
    }
  }
  .ibiz-dropdown-menu.dropdown-menu-ative {
    .van-ellipsis {
      color: @theme-color;
    }
    .van-dropdown-menu__title::after {
      color: @theme-color;
    }
  }
  //多编辑面板底部新增按钮
  .app-medit-view-panel {
    ion-fab {
      ion-fab-button {
        --background: @theme-color;
      }
    }
  }
  // 选项操作视图底部按钮
  .mobtestmob-option-view {
    .option-view-btnbox {
      .success {
        --background: @theme-color;
        --color: @text-color;
      }
    }
  }
  //日历选中样式
  .mpvue-calendar td.selected span {
    background-color: @theme-color!important;
    color: @text-color !important;
  }
  .mpvue-calendar-change span.active {
    background-color: @theme-color !important;
    color: @text-color!important;
  }

  //分页tab样式
  ion-segment {
    ion-segment-button {
      --indicator-box-shadow: @theme-color!important;
      --color-checked: @theme-color!important;
    }
    .segment-button-checked {
      border-color: @theme-color!important;
    }
  }
  // 风格改变样式
  .app-mob-select-changeStyle ion-list .align-boxs .active {
    border: 2px solid @theme-color;
    ion-icon {
      color: @theme-color;
    }
  }
  // 抽屉搜索表单主题
  .searchform {
    ion-header {
      ion-toolbar {
        --background: @theme-color;
        color: @text-color;
      }
    }
  }
  // 侧滑菜单插件
  .app-menu-plugin {
    .header {
      background-color: @theme-color;
    }
    .list {
      &:active {
        color: @theme-color;
      }
    }
    .active {
      ion-icon {
        color: @theme-color;
      }
      ion-label {
        color: @theme-color;
      }
    }
  }

  // 快速搜索组件主题
  .app-seach-history {
    .record {
      ion-icon {
        background: @theme-color;
        color: @text-color;
      }
    }
  }
  // 分组组件主题
  .van-dropdown-menu__title--active {
    color: @theme-color;
  }
  .van-button--info {
    color: @text-color;
    background-color: @theme-color;
    border-color: @theme-color;
  }
  .dropdown-box .dropdown-item .dropdown-item-icon {
    color: @theme-color;
  }

  // 侧滑菜单头部
  .app-mob-menu-sideslip-view-header {
    .header {
      .text {
        color: @theme-color;
      }
      .van-notice-bar {
        color: @theme-color;
      }
    }
  }

  // 搜索表单2主题
  .app-search-editor {
    .app-search-editor-item-active {
      border-color: @theme-color;
    }
  }

  // 优先级工具栏
  .mdview-tools {
    .view-tool {
      &-sorts {
        &-item {
          .active {
            display: flex;
            flex-grow: 1;
            font-size: 15px;
            color: @theme-color;
          }
          .sort-icon {
            .sort-select {
              color: @theme-color;
            }
          }
        }
      }
    }
  }
  // 树视图导航主题
  .app-mob-treeview {
    .treeNav {
      .treeNav-active {
        color: @theme-color;
      }
    }
  }

  //快速操作工具栏
  .app-mob-mdctrl .app-mob-mdctrl-mdctrl .no-data ion-button {
    --color: @theme-color;
    --color-activated: @theme-color;
  }

  .app-select-tree-list {
    .app-select-tree-list-item {
      .index_text {
        background: @theme-color;
        color: @text-color;
      }
    }
  }
  .app-mob-treeview .tree_item_label .tree_item_index_text {
    background: @theme-color;
    color: @text-color;
  }

  // 用户自定义主题文件
  .user_theme(@theme-color, @text-color);
}
