// 项目组件主题文件
.user_theme(@theme-color,@text-color) {
    .app-update-log {
        .details {
            .details_text {
                background: @theme-color;
            }
        }
    }
    .app-trends-list .app-trends-list-item .tag_line,
    .app-trends-list .app-trends-list-item .tag_border {
        background: @theme-color;
    }
    .app-task-list-item {
        .app-task-list-item_top {
            .left_tag {
                background: @theme-color;
            }
        }
        .assignedto_item {
            background: @theme-color;
        }
    }
    .app-story-list-item {
        .app-story-list-item_top {
            .multiple {
                background: @theme-color;
            }
        }
        .assignedto_item {
            background: @theme-color;
        }
    }
    .app-bug-list-item {
        .assignedto_item {
            background: @theme-color;
        }
    }
    .app-projectteam-list-item {
        .app-projectteam-list-item_top {
            .account_part {
                background: @theme-color;
            }
        }
    }
    .app-taskteam-list-item {
        .app-taskteam-list-item_top {
            .account_part {
                background: @theme-color;
            }
        }
    }

}
