// 默认全局样式
.studio-view.view-container {

    // 表格显示分页栏样式
    .grid.show-paging-bar {

        >.ivu-form {

            >.el-table {
                height: calc(100% - 35px);
            }
        }
    }

    .el-table.el-table--mini.el-table--fit {

        >.el-table__header-wrapper {

            >.el-table__header {

                >.has-gutter {

                    >tr {

                        >th {
                            padding: 3px 0;

                            >.cell {

                                >.caret-wrapper {
                                    height: 20px;

                                    >.sort-caret.ascending {
                                        top: -3px;
                                    }

                                    >.sort-caret.descending {
                                        bottom: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        >.el-table__body-wrapper {

            >.el-table__body {

                >tbody {

                    >.el-table__row {

                        >td {
                            padding: 3px 0px;
                        }
                    }
                }
            }
        }
    }

    >.view-content {

        .tree-contant {
            margin: 0px;
        }

        .el-tree {
            background-color: var(--view-background-color);
            color: var(--view-font-color);

            .el-tree-node {

                .tree-node {

                    .icon {
                        margin-right: 3px;
                    }
                }

                .el-tree-node__content {
                    background-color: var(--view-background-color);
                }

                .el-tree-node__content:hover {
                    background-color: var(--view-background-color-tint);
                }
            }

            .el-tree-node.is-current {

                >.el-tree-node__content {
                    background-color: var(--view-background-color-active)
                }
            }
        }
    }
}

// 分页导航视图
.studio-view.view-container.detabexpview {

    >.view-content {

        .tabviewpanel {
            height: 100%;

            >.ivu-tabs.tabexppanel {
                height: 100%;

                >.ivu-tabs-bar {
                    margin-bottom: 0px;
                    border-bottom: 1px solid var(--app-dividing-line-color-tint);

                    >.ivu-tabs-nav-container {

                        >.ivu-tabs-nav-wrap {
                            margin-bottom: 3px;

                            >.ivu-tabs-nav-scroll {

                                >.ivu-tabs-nav {

                                    >.ivu-tabs-ink-bar {
                                        display: none;
                                    }

                                    >.ivu-tabs-tab {
                                        padding: 4px 10px;
                                        margin: 0;
                                        color: var(--view-font-color);
                                        font-family: Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
                                        font-weight: 700;
                                    }

                                    >.ivu-tabs-tab.ivu-tabs-tab-active {
                                        color: var(--view-font-color-bright);

                                        >div {

                                            >span {
                                                border-bottom: 1px solid var(--view-font-color-bright);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                >.ivu-tabs-content {
                    height: calc(100% - 32px);
                    padding: 0px 0px 0px 3px;

                    >.ivu-tabs-tabpane {
                        height: 100%;
                    }
                }
            }
        }
    }
}

// 树导航视图
.studio-view.view-container.detreeexpview {

    >.view-content {

        .app-tree-exp-bar.ivu-split-wrapper {

            >.ivu-split-horizontal {

                >.left-pane.ivu-split-pane {

                    >.app-tree-exp-bar-left {
                        height: 100%;

                        >.tree-exp-bar-header {
                            height: 36px;
                            font-size: 16px;
                            font-weight: 700;
                            padding: 7px 0px;
                        }

                        >.search-content {
                            height: 33px;
                            padding: 4px 3px 4px 0px;

                            >.ivu-input-wrapper.ivu-input-wrapper-default.ivu-input-type-text {

                                >.ivu-icon.ivu-input-search-icon,
                                >.ivu-input.ivu-input-default.ivu-input-with-suffix {
                                    height: 25px;
                                    line-height: 25px;
                                }

                                // 输入框通用
                                .ivu-input {
                                    background-color: var(--form-editor-background-color);
                                    border-color: var(--form-editor-background-color);
                                    color: var(--form-editor-font-color);
                                }

                                .ivu-input::placeholder {
                                    color: var(--form-editor-placeholder-font-color);
                                }

                                // 输入框激活
                                .ivu-input:hover {
                                    border-color: var(--form-editor-active-color);
                                }

                                // 输入框禁用
                                .ivu-input[disabled] {
                                    &:extend(.form-edit-disabled-base-color);
                                }

                                .ivu-input-icon {
                                    width: 28px;
                                    height: 28px;
                                    line-height: 28px;
                                    color: var(--view-button-color);
                                }
                            }
                        }

                        >.tree-exp-content {
                            padding: 0px 3px 0px 0px;
                            overflow-x: hidden;
                            overflow-y: auto;
                        }
                    }

                    >.app-tree-exp-bar-left.show-title-bar {

                        >.tree-exp-content {
                            height: calc(100% - 36px);
                        }
                    }

                    >.app-tree-exp-bar-left.enable-search {

                        >.tree-exp-content {
                            height: calc(100% - 33px);
                        }
                    }

                    >.app-tree-exp-bar-left.show-title-bar.enable-search {

                        >.tree-exp-content {
                            height: calc(100% - 76px);
                        }
                    }
                }

                >.right-pane.ivu-split-pane {
                    height: 100%;
                    padding: 0px 1px 0px 3px;

                    >.app-tree-exp-bar-right {
                        height: 100%;

                        >.studio-view.view-container {

                            >.view-content {
                                padding: 1px 1px 1px 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 列表导航视图
.studio-view.view-container.delistexpview {

    >.view-content {

        .app-list-exp-bar {

            .list-exp-bar-header {
                padding: 3px 6px;
                font-size: 14px;
                font-weight: 700;
            }

            .list-exp-bar-content {

                >.app-list {

                    .app-list-item {
                        cursor: pointer;
                        padding: 6px;
                        border-bottom: 1px solid var(--view-dividing-line-color-bright);
                    }

                    .app-list-item.isSelect {
                        background-color: var(--view-background-color-active);
                    }
                }
            }
        }
    }
}


// 看板视图 与 应用看板视图 「无边框」
.studio-view.view-container.deportalview.no-border,
.studio-view.view-container.deportalview9.no-border,
.studio-view.view-container.appportalview.no-border,
.studio-view.view-container.appportalview9.no-border {

    >.view-content {

        .portlet-without-title {

            .portlet {

                >.portlet-title {
                    border: 0;
                }

                >.portlet-with-title, >.portlet-without-title {
                    border: 0;
                    border-top: 1px solid var(--view-dividing-line-color-bright);
                }
            }
        }
    }
}

// 看板视图 与 应用看板视图 「有边框」
.studio-view.view-container.deportalview,
.studio-view.view-container.deportalview9,
.studio-view.view-container.appportalview,
.studio-view.view-container.appportalview9 {

    >.view-content {

        .portlet-container.portlet-container-no-border {

            .portlet-without-title {

                .portlet {
    
                    .portlet-without-title {
                        padding: 0;
                        border-color: transparent;
                        background: transparent;

                        .studio-view {
                            background: transparent;
        
                            >.view-content {
        
                                .ivu-card.app-form-group {
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }

        .portlet-without-title {
            height: 100%;

            .portlet {
                height: 100%;
                border-radius: 5px;
                padding: 8px;

                >.portlet-title {
                    height: 38px;
                    padding: 7px 8px;
                    font-size: 16px;
                    font-weight: 700;
                    border-width: 1px 1px 0px 1px;
                    border-style: solid;
                    border-color: var(--view-dividing-line-color-bright);
                    color: var(--view-font-color-bright);
                    border-radius: 5px 5px 0px 0px;
                    background: var(--view-background-color-bright);

                    .portlet-action {
                        float: right;

                        >a {
                            font-size: 14px;
                            margin-left: 5px;
                        }
                    }
                }

                >.portlet-with-title {
                    height: calc(100% - 39px);
                    overflow: auto;
                    padding: 6px 8px;
                    border: 1px solid var(--view-dividing-line-color-bright);
                    border-radius: 0px 0px 5px 5px;
                    background: var(--view-background-color-bright);
                }

                >.portlet-without-title {
                    padding: 0px 8px;
                    border: 1px solid var(--view-dividing-line-color-bright);
                    border-radius: 5px;
                    background: var(--view-background-color-bright);
                }

                .studio-view {
                    background: var(--view-background-color-bright);

                    >.view-content {

                        .ivu-card.app-form-group {
                            background: var(--view-background-color-bright);
                        }
                    }
                }
            }
        }
    }
}

// 多数据选择样式
.dempickupview.studio-view.view-container {

    .pickup-view {
        height: 100%;

        >.translate-contant {
            display: flex;
            height: calc(100% - 44px);
            width: 100%;

            >.center {
                flex-grow: 1;

                >.pickupviewpanel {
                    height: 100%;
                }
            }

            >.translate-buttons {
                flex-shrink: 0;
                width: 50px;
                display: flex;
                align-items: center;
                text-align: center;
                border-left: 1px solid var(--view-dividing-line-color-bright);
                border-right: 1px solid var(--view-dividing-line-color-bright);
            }

            >.right {
                flex-shrink: 0;
                width: 350px;

                >.mpicker-select {
                    height: 100%;
                    overflow-y: auto;

                    >div {
                        padding: 3px 5px;
                        border-bottom: 1px solid var(--view-dividing-line-color-tint);
                    }
                }
            }
        }

        >.footer {
            height: 44px;

            >.ivu-card-body {
                padding: 6px 16px;
            }
        }
    }
}

// 列表导航视图
.delistexpview.studio-view.view-container {

    .app-list-exp-bar.ivu-split-wrapper {

        .list-exp-bar-content {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;

            >.app-list {

                .app-list-item.isSelect {
                    position: relative;
                    background-color: unset;
                }

                .app-list-item.isSelect::before {
                    position: absolute;
                    left: 0;
                    top: 1px;
                    bottom: 1px;
                    content: ' ';
                    border-left: 3px solid var(--view-background-color-active);
                }
            }
        }

        .right-pane.ivu-split-pane {
            padding: 0px 0px 0px 5px;
        }
    }
}

// 模态样式
.ivu-modal-wrap.app-modal {

    >.ivu-modal {

        >.ivu-modal-content {
            position: relative;

            >.ivu-modal-body {

                >.studio-view.view-container {
                    position: unset;

                    >.view-header {
                        position: absolute;
                        top: 0px;
                        right: 35px;
                        width: auto;

                        >.title {
                            display: none;
                        }
                    }

                    >.view-content {
                        height: 100%;
                    }
                }

                .studio-view.view-container.show-footer {
    
                    >.view-content {
                        height: calc(100% - 46px);
                    }
                }
            }
        }
    }
}