.studio-view.view-container {
    position: relative;
    height: 100%;
    width: 100%;
    background: var(--view-background-color);

    >.view-header {
        height: 36px;
        width: 100%;
        overflow: hidden;
        color: var(--view-font-color);
        border-bottom: 1px solid var(--app-dividing-line-color-bright);

        >.title, >.quick-search, >.toolbar {
            height: 100%;
            display: flex;
            align-items: center;
        }

        >.title {
            float: left;
            font-size: 14px;
            font-weight: 700;
            padding: 0px 8px;
        }

        >.quick-group-search, >.quick-search-form {
            float: left;
            height: 100%;
        }

        >.quick-search {
            float: left;
            width: 230px;
            margin-right: 30px;

            >.ivu-input-wrapper.ivu-input-wrapper-default.ivu-input-type-text {

                >.ivu-input.ivu-input-default.ivu-input-with-suffix {
                    height: 28px;
                    line-height: 28px;
                    border: 1px solid var(--form-editor-background-color);
                    color: var(--form-editor-font-color);
                    background-color: var(--form-editor-background-color);
                }

                >.ivu-input.ivu-input-default.ivu-input-with-suffix:hover {
                    border-color: var(--form-editor-active-color)
                }

                >.ivu-input-icon {
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    color: var(--view-button-color);
                }
            }
        }

        >.toolbar {
            float: right;

            >.toolbar-container {
                height: 22px;

                .ivu-btn {
                    height: 22px;
                    line-height: 21px;
                    border: 0px;
                    margin-right: 4px;
                    font-size: 12px;

                    >span {

                        >i {
                            padding-right: 3px;
                        }
                    }
                }
            }
        }
    }

    >.view-content {
        height: calc(100% - 36px);
        width: 100%;
        padding: 3px 3px 0px 3px;
        color: var(--view-font-color);
        overflow-y: auto;
        overflow-x: hidden;
    }

    >.view-content.show-search-form {
        display: flex;
        flex-direction: column;

        >.search-form-wrapper {
            flex-shrink: 0;
        }

        >.content-wrapper {
            flex-grow: 1;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

.studio-view.view-container.hidden-header {

    >.view-header {
        display: none;
    }

    >.view-content {
        height: 100%;
        padding: 0px;
    }
}
@import './studio-view-layout.less';