<i-form :model="this.data" class='app-form' ref='wizardpanel_form_AddStory'  id='product_wizardaddstory' style="">
    <input style="display:none;" />
    <row >
            
<i-col class="form-layout-container" v-show="detailsModel.formitem.visible" :style="{}"  :lg="{ span: 9, offset: 0 }" :xl="{ span: 9, offset: 0 }">
    <app-form-item name='formitem' :itemRules="this.rules.formitem" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitem.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.formitem"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.formitem.disabled"
    tag='Product'
    codelistType='DYNAMIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem1.visible" :style="{}"  :lg="{ span: 3, offset: 0 }" :xl="{ span: 3, offset: 0 }">
    <app-form-item name='formitem1' :itemRules="this.rules.formitem1" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem1')" uiStyle="DEFAULT" :labelWidth="10" :isShowCaption="true" :error="detailsModel.formitem1.error" :isEmptyCaption="true" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.formitem1"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ PRODUCT:"%formitem%" }' 
    :localParam ='{ product:"%formitem%" }' 
    :disabled="detailsModel.formitem1.disabled"
    tag='ProductBranch_Cache'
    codelistType='DYNAMIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem2.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='formitem2' :itemRules="this.rules.formitem2" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem2')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitem2.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.formitem2"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ PRODUCT:"%formitem%" }' 
    :localParam ='{ product:"%formitem%" }' 
    :disabled="detailsModel.formitem2.disabled"
    tag='BugModule'
    codelistType='DYNAMIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem3.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='formitem3' :itemRules="this.rules.formitem3" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem3')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitem3.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.formitem3"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ PRODUCT:"%formitem%" }' 
    :localParam ='{ product:"%formitem%" }' 
    :disabled="detailsModel.formitem3.disabled"
    tag='ProductPlan'
    codelistType='DYNAMIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem4.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='formitem4' :itemRules="this.rules.formitem4" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem4')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitem4.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.formitem4"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.formitem4.disabled"
    tag='Story__source'
    codelistType='STATIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem5.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='formitem5' :itemRules="this.rules.formitem5" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem5')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitem5.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.formitem5"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.formitem5.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.grouppanel1.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-group :model="detailsModel.grouppanel1" layoutType="TABLE_24COL" titleStyle="" class='' :uiActionGroup="detailsModel.grouppanel1.uiActionGroup" @groupuiactionclick="groupUIActionClick($event)" :caption="$t('entities.product.wizardaddstory_form.details.grouppanel1')" :isShowCaption="false" uiStyle="DEFAULT" :titleBarCloseMode="0" :isInfoGroupMode="false" >    
    <app-form-group-data-panel slot="dataInfoPanel" :model="detailsModel.grouppanel1" :data="data" :context="context" :viewparams="viewparams"/>
    <row>
            
    </row>
</app-form-group>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem6.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='formitem6' :itemRules="this.rules.formitem6" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem6')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitem6.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.formitem6"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.formitem6.disabled"
    tag='UserRealName'
    codelistType='DYNAMIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem7.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='formitem7' :itemRules="this.rules.formitem7" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem7')" uiStyle="DEFAULT" :labelWidth="10" :isShowCaption="true" :error="detailsModel.formitem7.error" :isEmptyCaption="true" labelPos="LEFT">
    
<app-checkbox-list 
  v-model="data.formitem7" 
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :disabled="detailsModel.formitem7.disabled" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  tag='NeedNotReviewNew' 
  codelistType='STATIC' 
  mode=""
  name="formitem7" 
  style="">
</app-checkbox-list>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem8.visible" :style="{}"  :lg="{ span: 12, offset: 0 }" :xl="{ span: 12, offset: 0 }">
    <app-form-item name='formitem8' :itemRules="this.rules.formitem8" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem8')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitem8.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.formitem8"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.formitem8.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem9.visible" :style="{}"  :lg="{ span: 6, offset: 0 }" :xl="{ span: 6, offset: 0 }">
    <app-form-item name='formitem9' :itemRules="this.rules.formitem9" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem9')" uiStyle="DEFAULT" :labelWidth="70" :isShowCaption="true" :error="detailsModel.formitem9.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list 
    v-model="data.formitem9"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.formitem9.disabled"
    tag='Story__pri'
    codelistType='STATIC'
    placeholder='请选择...'
    
/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem10.visible" :style="{}"  :lg="{ span: 6, offset: 0 }" :xl="{ span: 6, offset: 0 }">
    <app-form-item name='formitem10' :itemRules="this.rules.formitem10" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem10')" uiStyle="DEFAULT" :labelWidth="70" :isShowCaption="true" :error="detailsModel.formitem10.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
  v-model="data.formitem10"  
  @enter="onEnter($event)"  
  
  :disabled="detailsModel.formitem10.disabled" 
  type='number' 
   
  style="">
</input-box>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem11.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='formitem11' :itemRules="this.rules.formitem11" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem11')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitem11.error" :isEmptyCaption="false" labelPos="LEFT">
    
<rich-text-editor 
    :formState="formState" 
    :value="data.formitem11"
    @change="(val) =>{this.data.formitem11 =val}" 
    :disabled="detailsModel.formitem11.disabled" 
    :data="JSON.stringify(this.data)"  
    name="formitem11" 
    :viewparams="viewparams"
    :context="context"
    :uploadparams='{}' 
    :exportparams='{}' 
    :templParams='{ account:"%srfloginname%", public:"0", type:"story" }' 
    style=""/>
</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem12.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='formitem12' :itemRules="this.rules.formitem12" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem12')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitem12.error" :isEmptyCaption="false" labelPos="LEFT">
    <app-rich-text-editor :formState="formState" :value="data.formitem12" @change="(val) =>{this.data.formitem12 =val}" :disabled="detailsModel.formitem12.disabled" :data="JSON.stringify(this.data)"  name="formitem12" :context="context" :viewparams="viewparams" :uploadparams='{}' :exportparams='{}'  style=""></app-rich-text-editor>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem13.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='formitem13' :itemRules="this.rules.formitem13" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem13')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitem13.error" :isEmptyCaption="false" labelPos="LEFT">
    
<dropdown-list-mpicker 
  v-model="data.formitem13"
  :data="data" 
  :context="context"
  :viewparams="viewparams" 
  :localContext ='{ }' 
  :localParam ='{ }' 
  :disabled="detailsModel.formitem13.disabled"
  tag='UserRealName' 
  codelistType='DYNAMIC' 
  valueSeparator=","
  placeholder='请选择...' style="">
</dropdown-list-mpicker>

</app-form-item>

</i-col>
<i-col class="form-layout-container" v-show="detailsModel.formitem14.visible" :style="{}"  :lg="{ span: 24, offset: 0 }">
    <app-form-item name='formitem14' :itemRules="this.rules.formitem14" class='' :caption="$t('entities.product.wizardaddstory_form.details.formitem14')" uiStyle="DEFAULT" :labelWidth="130" :isShowCaption="true" :error="detailsModel.formitem14.error" :isEmptyCaption="false" labelPos="LEFT">
    <input-box 
    v-model="data.formitem14"  
    @enter="onEnter($event)"  
      
    :disabled="detailsModel.formitem14.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>


    </row>
</i-form>