<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.zentao.mapper.DocContentMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="DocContentResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CONTENT`, t1.`DIGEST`, t1.`DOC`, t1.`FILES`, t1.`ID`, t1.`TITLE`, t1.`TYPE`, t1.`VERSION` FROM `zt_doccontent` t1  ) t1 where id=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="DocContentResultMap" type="cn.ibizlab.pms.core.zentao.domain.DocContent" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="doc" column="doc" />


		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ztDoc" javaType="cn.ibizlab.pms.core.zentao.domain.Doc" column="doc" select="cn.ibizlab.pms.core.zentao.mapper.DocMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ZT_DOCCONTENT_ZT_DOC_DOC] -->
	 <select id="selectByDoc" resultMap="DocContentResultMap">
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  doc=#{id}
     </select>

    <!--数据集合[CurVersion]-->
	 <select id="searchCurVersion"  parameterType="cn.ibizlab.pms.core.zentao.filter.DocContentSearchContext"  resultMap="DocContentResultMap">
         select t1.* from (
                <include refid="CurVersion" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.zentao.filter.DocContentSearchContext"  resultMap="DocContentResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[CurVersion]-->
    <sql id="CurVersion" databaseId="mysql">
		<![CDATA[ SELECT t1.id AS `ID`, t1.`DOC`, t1.`VERSION`, CONCAT('#',t1.`version`) as `TITLE` FROM `zt_doccontent` t1
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`DIGEST`, t1.`DOC`, t1.`ID`, t1.`TITLE`, t1.`TYPE`, t1.`VERSION` FROM `zt_doccontent` t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`CONTENT`, t1.`DIGEST`, t1.`DOC`, t1.`FILES`, t1.`ID`, t1.`TITLE`, t1.`TYPE`, t1.`VERSION` FROM `zt_doccontent` t1  
			]]>
    </sql>
</mapper>

