.project-list {
    min-width: 350px;
    color: var(--view-font-color-bright);

    >.ivu-list {
        border-bottom: 1px solid var(--view-dividing-line-color-tint);

        >.ivu-list-container {

            >.ivu-list-items {

                >.ivu-list-item {
                    position: relative;
                    cursor: pointer;
                    padding: 5px 0px;
                    margin-bottom: 3px;

                    >.content-wrapper {

                        >.title {
                            padding: 0px 5px;
                            white-space: nowrap;

                            >.ivu-tag.ivu-tag-border {
                                height: 22px;
                                line-height: 22px;
                            }

                            >.name {
                                font-weight: 700;
                                font-size: 16px;
                                vertical-align: -2px;
                                padding-left: 5px;
                            }

                            >.open-action {
                                cursor: pointer;
                                margin-left: 5px;
                                font-size: 15px;
                                vertical-align: -1px;
                            }
                        }

                        >.content {
                            padding: 0px 5px;
                            margin-top: 5px;
                        }
                    }

                    >.ivu-list-item-action {
                        margin-top: 6px;

                        >li {
                            padding: 0px 8px;
                            color: rgba(var(--view-font-color-rgb), 0.6);
                        }

                        >li::after {
                            background-color: var(--view-dividing-line-color-tint);
                        }
                    }
                }
            }
        }
    }
}