<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="sysupdatefeatures_main"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
    <tabs
        :animated="false"
        size="small"
        name="main"
        :value="detailsModel.form.activiedPage" 
        @on-click="detailsModel.form.clickPage($event)"
    >
        <tab-pane
            v-show="detailsModel.formpage1.visible"
            name="formpage1"
            :index="0"
            tab="main"
            class=""  
            :label="(h) =>{
                return h('span',{
                    class:'caption'
                },[
                $t('entities.sysupdatefeatures.main_form.details.formpage1')
                ])
            }"
        >
                <i-col
    class="form-layout-container"
    v-show="detailsModel.group1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.group1"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.group1.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.sysupdatefeatures.main_form.details.group1')"
    :isShowCaption="false"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.group1"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.sys_update_logname.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="sys_update_logname"
    :itemRules="this.rules().sys_update_logname"
    class=""

    :caption="$t('entities.sysupdatefeatures.main_form.details.sys_update_logname')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.sys_update_logname.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-picker  
    :formState="formState"
    :data="data"
    :context="context"
    :viewparams="viewparams"
    :localContext ='{ }' 
    :localParam ='{ }' 
    :disabled="detailsModel.sys_update_logname.disabled"
    name="sys_update_logname"
    deMajorField="sysupdatelogname"
    deKeyField="sysupdatelog"
    :service="service"
    :acParams="{ serviceName: 'SysUpdateLogService', interfaceName: 'FetchDefault'}"
    valueitem="sys_update_logid"
    :value="data.sys_update_logname"
    editortype="dropdown"
    style=""
    @formitemvaluechange="onFormItemValueChange($event)">
</app-picker>
</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.type.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="type"
    :itemRules="this.rules().type"
    class=""

    :caption="$t('entities.sysupdatefeatures.main_form.details.type')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.type.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list 
    v-model="data.type"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.type.disabled"
    valueType="string"
    tag="SYS_UPDATE_LOG_TYPE"
    codelistType="STATIC"
    placeholder="请选择..."

></dropdown-list>
</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.upfeatures.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="upfeatures"
    :itemRules="this.rules().upfeatures"
    class=""

    :caption="$t('entities.sysupdatefeatures.main_form.details.upfeatures')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.upfeatures.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <input-box 
    v-model="data.upfeatures"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.upfeatures.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.displayorder.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="displayorder"
    :itemRules="this.rules().displayorder"
    class=""

    :caption="$t('entities.sysupdatefeatures.main_form.details.displayorder')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.displayorder.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <input-box 
  v-model="data.displayorder"  
  @enter="onEnter($event)"  
  
  :disabled="detailsModel.displayorder.disabled" 
  type='number' 
   
  style="">
</input-box>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.featuresdesc.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="featuresdesc"
    :itemRules="this.rules().featuresdesc"
    class=""

    :caption="$t('entities.sysupdatefeatures.main_form.details.featuresdesc')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.featuresdesc.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-rich-text-editor
    :formState="formState"
    :value="data.featuresdesc"
    @change="(val) =>{this.data.featuresdesc =val}"
    @formitemvaluechange="onFormItemValueChange($event)"
    :disabled="detailsModel.featuresdesc.disabled"
    :data="JSON.stringify(this.data)"
    name="featuresdesc"
    :context="context"
    :viewparams="viewparams"
    :uploadparams='{objecttype:"updatefeatures",objectid: 0,version:"editor"}'
    :exportparams='{objecttype:"updatefeatures",objectid: 0,version:"editor"}'
    
    style=""
></app-rich-text-editor>

</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


        </tab-pane> 
        <tab-pane
            v-show="detailsModel.formpage2.visible"
            name="formpage2"
            :index="1"
            tab="main"
            class=""  
            :label="(h) =>{
                return h('span',{
                    class:'caption'
                },[
                $t('entities.sysupdatefeatures.main_form.details.formpage2')
                ])
            }"
        >
                <i-col
    class="form-layout-container"
    v-show="detailsModel.group2.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.group2"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.group2.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.sysupdatefeatures.main_form.details.group2')"
    :isShowCaption="true"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.group2"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.createman.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="createman"
    :itemRules="this.rules().createman"
    class=""

    :caption="$t('entities.sysupdatefeatures.main_form.details.createman')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.createman.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-span name='createman' :value="data.createman" dataType="TEXT" unitName=""     :precision="0"
tag='SysOperator' codelistType='DYNAMIC' :data="data" :context="context" :viewparams="viewparams" :localContext ='{ }'  :localParam ='{ }'    style=""
>  
</app-span>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.createdate.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="createdate"
    :itemRules="this.rules().createdate"
    class=""

    :caption="$t('entities.sysupdatefeatures.main_form.details.createdate')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.createdate.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-span name='createdate' :value="data.createdate" dataType="DATETIME" unitName="" valueFormat="%1$tY-%1$tm-%1$td %1$tH:%1$tM:%1$tS"     :precision="0"
:data="data" :context="context" :viewparams="viewparams" :localContext ='{ }'  :localParam ='{ }'    style=""
>  
</app-span>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.updateman.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="updateman"
    :itemRules="this.rules().updateman"
    class=""

    :caption="$t('entities.sysupdatefeatures.main_form.details.updateman')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.updateman.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-span name='updateman' :value="data.updateman" dataType="TEXT" unitName=""     :precision="0"
tag='SysOperator' codelistType='DYNAMIC' :data="data" :context="context" :viewparams="viewparams" :localContext ='{ }'  :localParam ='{ }'    style=""
>  
</app-span>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.updatedate.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="updatedate"
    :itemRules="this.rules().updatedate"
    class=""

    :caption="$t('entities.sysupdatefeatures.main_form.details.updatedate')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.updatedate.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-span name='updatedate' :value="data.updatedate" dataType="DATETIME" unitName="" valueFormat="%1$tY-%1$tm-%1$td %1$tH:%1$tM:%1$tS"     :precision="0"
:data="data" :context="context" :viewparams="viewparams" :localContext ='{ }'  :localParam ='{ }'    style=""
>  
</app-span>

</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


        </tab-pane> 
    </tabs>
    </row>
</i-form>
