<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.zentao.mapper.TodoMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="TodoResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`ACCOUNT`, t1.`ASSIGNEDBY`, t1.`ASSIGNEDDATE`, t1.`ASSIGNEDTO`, t1.ASSIGNEDTO AS `ASSIGNEDTOPK`, t1.`BEGIN`, t1.`CLOSEDBY`, t1.`CLOSEDDATE`, t1.`CONFIG`, t1.`CYCLE`, t1.`DATE`, (case when t1.`DATE` = '2030-01-01' then '待定' else t1.`DATE` end) AS `DATE1`, t1.`DESC`, t1.`END`, t1.`FINISHEDBY`, t1.`FINISHEDDATE`, t1.`ID`, t1.`IDVALUE`, t1.`NAME`, t1.`PRI`, t1.`PRIVATE`, t1.`STATUS`, t1.`TYPE` FROM `zt_todo` t1  ) t1 where id=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="TodoResultMap" type="cn.ibizlab.pms.core.zentao.domain.Todo" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="configDay" column="config_day" />
		<result property="configType" column="config_type" />
		<result property="configMonth" column="config_month" />
		<result property="dateDisable" column="date_disable" />
		<result property="configWeek" column="config_week" />
		<result property="configBeforedays" column="config_beforedays" />
		<result property="configEnd" column="config_end" />
		<result property="ibizprivate" column="private" />


    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.zentao.filter.TodoSearchContext"  resultMap="TodoResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[MyTodo]-->
	 <select id="searchMyTodo"  parameterType="cn.ibizlab.pms.core.zentao.filter.TodoSearchContext"  resultMap="TodoResultMap">
         select t1.* from (
                <include refid="MyTodo" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[MyTodoPc]-->
	 <select id="searchMyTodoPc"  parameterType="cn.ibizlab.pms.core.zentao.filter.TodoSearchContext"  resultMap="TodoResultMap">
         select t1.* from (
                <include refid="MyTodoPc" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[MyUpcoming]-->
	 <select id="searchMyUpcoming"  parameterType="cn.ibizlab.pms.core.zentao.filter.TodoSearchContext"  resultMap="TodoResultMap">
         select t1.* from (
                <include refid="MyUpcoming" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACCOUNT`, t1.`ASSIGNEDBY`, t1.`ASSIGNEDDATE`, t1.`ASSIGNEDTO`, case when t1.`BEGIN` = 2400 then null else t1.`begin` end as `begin`, t1.`CLOSEDBY`, t1.`CLOSEDDATE`, t1.`CONFIG`, t1.`CYCLE`, t1.`DATE` as `DATE`, (case when t1.`DATE` = '2030-01-01' then '待定' else t1.`DATE` end) AS `DATE1`, case when t1.`END` = 2400 then null else t1.`END` end as `END`, t1.`FINISHEDBY`, t1.`FINISHEDDATE`, t1.`ID`, t1.`IDVALUE`, case when t1.type = 'bug' then t11.`TITLE` when t1.type = 'task' then t21.`name` when t1.type = 'story' then t31.`TITLE` else t1.`NAME` end `name`, t1.`PRI`, t1.`PRIVATE`, t1.`STATUS`, t1.`TYPE` FROM `zt_todo` t1  LEFT JOIN zt_bug t11 on t11.id = t1.idvalue LEFT JOIN zt_task t21 on t21.id = t1.idvalue LEFT JOIN zt_story t31 on t31.id = t1.idvalue
					 WHERE 	((#{srf.datacontext.thisyear} = 'thisyear' and YEAR(t1.date) = year(now())) or #{srf.datacontext.thisyear} is null)
						 AND ( t1.`ACCOUNT` =  #{srf.sessioncontext.srfloginname}  or t1.`assignedTo` =  #{srf.sessioncontext.srfloginname}  or t1.`finishedBy` =  #{srf.sessioncontext.srfloginname}   )
			]]>
    </sql>
    <!--数据查询[MyTodo]-->
    <sql id="MyTodo" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACCOUNT`, t1.`ASSIGNEDBY`, t1.`ASSIGNEDDATE`, t1.`ASSIGNEDTO`, t1.`BEGIN`, t1.`CLOSEDBY`, t1.`CLOSEDDATE`, t1.`CONFIG`, t1.`CYCLE`, t1.`DATE`, (case when t1.`DATE` = '2030-01-01' then '待定' else t1.`DATE` end) AS `DATE1`, t1.`END`, t1.`FINISHEDBY`, t1.`FINISHEDDATE`, t1.`ID`, t1.`IDVALUE`, t1.`NAME`, t1.`PRI`, t1.`PRIVATE`, t1.`STATUS`, t1.`TYPE` FROM `zt_todo` t1  
					 WHERE 	( t1.`ACCOUNT` =  #{srf.sessioncontext.srfloginname}  or t1.`assignedTo` =  #{srf.sessioncontext.srfloginname}  or t1.`finishedBy` =  #{srf.sessioncontext.srfloginname}   )
						 AND t1.`CYCLE` = 0
			]]>
    </sql>
    <!--数据查询[MyTodoPc]-->
    <sql id="MyTodoPc" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACCOUNT`, t1.`ASSIGNEDBY`, t1.`ASSIGNEDDATE`, t1.`ASSIGNEDTO`, t1.`BEGIN`, t1.`CLOSEDBY`, t1.`CLOSEDDATE`, t1.`CONFIG`, t1.`CYCLE`, t1.`DATE`, (case when t1.`DATE` = '2030-01-01' then '待定' else t1.`DATE` end) AS `DATE1`, t1.`END`, t1.`FINISHEDBY`, t1.`FINISHEDDATE`, t1.`ID`, t1.`IDVALUE`, t1.`NAME`, t1.`PRI`, t1.`PRIVATE`, t1.`STATUS`, t1.`TYPE` FROM `zt_todo` t1  
					 WHERE 	( t1.`ACCOUNT` =  #{srf.sessioncontext.srfloginname}  or t1.`assignedTo` =  #{srf.sessioncontext.srfloginname}  or t1.`finishedBy` =  #{srf.sessioncontext.srfloginname}   )
						 AND t1.`CYCLE` = 0
						 AND t1.date is not null
			]]>
    </sql>
    <!--数据查询[MyUpcoming]-->
    <sql id="MyUpcoming" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACCOUNT`, t1.`ASSIGNEDBY`, t1.`ASSIGNEDDATE`, t1.`ASSIGNEDTO`, case when t1.`BEGIN` = 2400 then null else t1.`begin` end as `begin`, t1.`CLOSEDBY`, t1.`CLOSEDDATE`, t1.`CONFIG`, t1.`CYCLE`, t1.`DATE` as `DATE`, DATE_FORMAT(t1.`date`,'%c月%d日') AS `DATE1`, case when t1.`END` = 2400 then null else t1.`END` end as `END`, t1.`FINISHEDBY`, t1.`FINISHEDDATE`, t1.`ID`, t1.`IDVALUE`, case when t1.type = 'bug' then t11.`TITLE` when t1.type = 'task' then t21.`name` when t1.type = 'story' then t31.`TITLE` else t1.`NAME` end `name`, t1.`PRI`, t1.`PRIVATE`, t1.`STATUS`, t1.`TYPE` FROM `zt_todo` t1  LEFT JOIN zt_bug t11 on t11.id = t1.idvalue LEFT JOIN zt_task t21 on t21.id = t1.idvalue LEFT JOIN zt_story t31 on t31.id = t1.idvalue
					 WHERE 	( t1.`ACCOUNT` =  #{srf.sessioncontext.srfloginname}  or t1.`assignedTo` =  #{srf.sessioncontext.srfloginname}  or t1.`finishedBy` =  #{srf.sessioncontext.srfloginname}   )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACCOUNT`, t1.`ASSIGNEDBY`, t1.`ASSIGNEDDATE`, t1.`ASSIGNEDTO`, t1.ASSIGNEDTO AS `ASSIGNEDTOPK`, t1.`BEGIN`, t1.`CLOSEDBY`, t1.`CLOSEDDATE`, t1.`CONFIG`, t1.`CYCLE`, t1.`DATE`, (case when t1.`DATE` = '2030-01-01' then '待定' else t1.`DATE` end) AS `DATE1`, t1.`DESC`, t1.`END`, t1.`FINISHEDBY`, t1.`FINISHEDDATE`, t1.`ID`, t1.`IDVALUE`, t1.`NAME`, t1.`PRI`, t1.`PRIVATE`, t1.`STATUS`, t1.`TYPE` FROM `zt_todo` t1  
			]]>
    </sql>
</mapper>

