<i-form
    :model="this.data"
    class="app-form"
    ref="form"
    id="sysupdatelog_main"
    style=""
    @on-validate="formItemValidate.apply(_self, arguments)"
>
    <input style="display:none;">
    <row>
    <tabs
        :animated="false"
        size="small"
        name="main"
        :value="detailsModel.form.activiedPage" 
        @on-click="detailsModel.form.clickPage($event)"
    >
        <tab-pane
            v-show="detailsModel.formpage1.visible"
            name="formpage1"
            :index="0"
            tab="main"
            class=""  
            :label="(h) =>{
                return h('span',{
                    class:'caption'
                },[
                $t('entities.sysupdatelog.main_form.details.formpage1')
                ])
            }"
        >
                <i-col
    class="form-layout-container"
    v-show="detailsModel.group1.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.group1"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.group1.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.sysupdatelog.main_form.details.group1')"
    :isShowCaption="false"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.group1"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.sys_update_logname.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="sys_update_logname"
    :itemRules="this.rules().sys_update_logname"
    class=""

    :caption="$t('entities.sysupdatelog.main_form.details.sys_update_logname')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.sys_update_logname.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <input-box 
    v-model="data.sys_update_logname"  
    @enter="onEnter($event)"  
     unit=""  
    :disabled="detailsModel.sys_update_logname.disabled" 
    type='text' 
    style="">
</input-box>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.update.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="update"
    :itemRules="this.rules().update"
    class=""

    :caption="$t('entities.sysupdatelog.main_form.details.update')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.update.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <date-picker type="date" :transfer="true" format="yyyy-MM-dd" placeholder="请选择时间..." :value="data.update" :disabled="detailsModel.update.disabled" style="min-width: 150px; width:100px;" @on-change="(val1, val2) => { this.data.update = val1 }"></date-picker>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.updatebranch.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="updatebranch"
    :itemRules="this.rules().updatebranch"
    class=""

    :caption="$t('entities.sysupdatelog.main_form.details.updatebranch')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.updatebranch.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<dropdown-list 
    v-model="data.updatebranch"
    :data="data"
    :context="context"
    :formState="formState"
    :viewparams="viewparams"
    :localContext='{ }' 
    :localParam='{ }' 
    :disabled="detailsModel.updatebranch.disabled"
    valueType="string"
    tag="SYS_UPDATE_BRANCH"
    codelistType="STATIC"
    placeholder="请选择..."

></dropdown-list>
</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.latestupdate.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="latestupdate"
    :itemRules="this.rules().latestupdate"
    class=""

    :caption="$t('entities.sysupdatelog.main_form.details.latestupdate')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.latestupdate.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-switch name='latestupdate' :value="this.data.latestupdate" @change="($event)=>{this.data.latestupdate = $event} " :disabled="detailsModel.latestupdate.disabled" style=""></app-switch>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.updesc.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="updesc"
    :itemRules="this.rules().updesc"
    class=""

    :caption="$t('entities.sysupdatelog.main_form.details.updesc')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.updesc.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    <app-rich-text-editor
    :formState="formState"
    :value="data.updesc"
    @change="(val) =>{this.data.updesc =val}"
    @formitemvaluechange="onFormItemValueChange($event)"
    :disabled="detailsModel.updesc.disabled"
    :data="JSON.stringify(this.data)"
    name="updesc"
    :context="context"
    :viewparams="viewparams"
    :uploadparams='{objecttype:"updatelog",objectid: 0,version:"editor"}'
    :exportparams='{objecttype:"updatelog",objectid: 0,version:"editor"}'
    
    style=""
></app-rich-text-editor>

</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


        </tab-pane> 
        <tab-pane
            v-show="detailsModel.formpage2.visible"
            name="formpage2"
            :index="1"
            tab="main"
            class=""  
            :label="(h) =>{
                return h('span',{
                    class:'caption'
                },[
                $t('entities.sysupdatelog.main_form.details.formpage2')
                ])
            }"
        >
                <i-col
    class="form-layout-container"
    v-show="detailsModel.group2.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-group
    :model="detailsModel.group2"
    layoutType="TABLE_24COL"
    titleStyle=""
    class=""
    :uiActionGroup="detailsModel.group2.uiActionGroup"
    @groupuiactionclick="groupUIActionClick($event)"
    :caption="$t('entities.sysupdatelog.main_form.details.group2')"
    :isShowCaption="true"
    uiStyle="DEFAULT"
    :titleBarCloseMode="0"
    :isInfoGroupMode="false"

>    
    <app-form-group-data-panel
        slot="dataInfoPanel"
        :model="detailsModel.group2"
        :data="data"
        :context="context"
        :viewparams="viewparams"
    ></app-form-group-data-panel>
    <row>
        <i-col
    class="form-layout-container"
    v-show="detailsModel.createman.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="createman"
    :itemRules="this.rules().createman"
    class=""

    :caption="$t('entities.sysupdatelog.main_form.details.createman')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.createman.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-span name='createman' :value="data.createman" dataType="TEXT" unitName=""     :precision="0"
tag='SysOperator' codelistType='DYNAMIC' :data="data" :context="context" :viewparams="viewparams" :localContext ='{ }'  :localParam ='{ }'    style=""
>  
</app-span>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.createdate.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="createdate"
    :itemRules="this.rules().createdate"
    class=""

    :caption="$t('entities.sysupdatelog.main_form.details.createdate')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.createdate.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-span name='createdate' :value="data.createdate" dataType="DATETIME" unitName="" valueFormat="%1$tY-%1$tm-%1$td %1$tH:%1$tM:%1$tS"     :precision="0"
:data="data" :context="context" :viewparams="viewparams" :localContext ='{ }'  :localParam ='{ }'    style=""
>  
</app-span>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.updateman.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="updateman"
    :itemRules="this.rules().updateman"
    class=""

    :caption="$t('entities.sysupdatelog.main_form.details.updateman')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.updateman.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-span name='updateman' :value="data.updateman" dataType="TEXT" unitName=""     :precision="0"
tag='SysOperator' codelistType='DYNAMIC' :data="data" :context="context" :viewparams="viewparams" :localContext ='{ }'  :localParam ='{ }'    style=""
>  
</app-span>

</app-form-item>

</i-col>
<i-col
    class="form-layout-container"
    v-show="detailsModel.updatedate.visible"
    :style="{}"
    
    
    :lg="{ span: 24, offset: 0 }"
    
>
    <app-form-item
    name="updatedate"
    :itemRules="this.rules().updatedate"
    class=""

    :caption="$t('entities.sysupdatelog.main_form.details.updatedate')"
    uiStyle="DEFAULT"
    :labelWidth="100"
    :isShowCaption="true"
    :error="detailsModel.updatedate.error"
    :isEmptyCaption="false"
    labelPos="LEFT"
>
    
<app-span name='updatedate' :value="data.updatedate" dataType="DATETIME" unitName="" valueFormat="%1$tY-%1$tm-%1$td %1$tH:%1$tM:%1$tS"     :precision="0"
:data="data" :context="context" :viewparams="viewparams" :localContext ='{ }'  :localParam ='{ }'    style=""
>  
</app-span>

</app-form-item>

</i-col>
    
    </row>
</app-form-group>

</i-col>


        </tab-pane> 
    </tabs>
    </row>
</i-form>
